/* global */
@bgcolor: #bcbdc7;
@fontcolor: #444444;
@linkcolor: #514343;
@linkhovercolor: #514343;
@width: 980px;

/* general colors */
@color1: #f0f0f0;
@color2: #d6d6d6;

/* #topnav */
@topnav-backgroundcolor: #838595;
@topnav-fontcolor: #f1efef;

/* #banner */
@banner-gradient-top: #838595;
@banner-gradient-bottom: #bcbdc7;
@banner-fontcolor: #ede9e9;
@banner-image: none;
@banner-input: #eae6e7;

/* .logo */
@logo-fontsize: 350%;
@logo-fontcolor: #f7ca36;
@logo-image: none;

/* #mainnav */
@mainnav-gradient-top: #c4c4ca;
@mainnav-gradient-bottom: #6f6f8b;
@mainnav-radius: 4px;
@mainnav-linkcolor: #f7ca36;
@mainnavdropdown-bordercolor: #aaaaaa;
@mainnavdropdown-backgroundcolor: #dddddd;
@mainnavdropdown-linkcolor: #777777;

/* .block */
@block-gradient-top: #c4c4ca;
@block-gradient-bottom: #6f6f8b;
@block-radius: 3px;
@block-fontcolor: #f7ca36;
@blockcontent-bordercolor: #d6d6d6;
@blockcontent-backgroundcolor: #d2d2da;
@blockcontent-radius: 6px;

/* footer */
@footer-backgroundcolor: #f0f0f0;
@footer-bordercolor: #d6d6d6;
@footer-radius: 6px;
@footer-fontcolor: #888888;

/* .button */
@button-gradient-top: #f2f2f3;
@button-gradient-bottom: #8d8da0;
@button-fontcolor: #241e1f;
@button-radius: 3px;

/* .basket */
@basket-gradient-top: #f0f0f0;
@basket-gradient-bottom: #e2e2e2;
@basket-bgcolor: #f0f0f0;
@basket-bordercolor: #d6d6d6;

/* .poll */
@poll-bgcolor: #999999;
