@import "core/template/lkk/css/functions.less.css";
@import "core/template/lkk/css/vendor/normalize.css";
@import "core/template/lkk/css/vendor/main.css";
@import "core/template/lkk/css/vendor/bootstrap.min.css";

@aller { font-family: Aller, Arial, sans-serif; }
@orange:#e63100;
@gray:#5e5e5e;
@softgray:#686868;
@green:#32920b;
@blue:#2468a7;

html {
	margin: 0;
	padding: 0;
	background: #d9d9d9 url({@tplbase}images/bg.png);
	padding: 20px 0;
	color: #707070;
}

body {
	margin: 0;
	padding: 0;
}

#drop-shadow {
	max-width: 98%;
	background: #fff;
	margin: 0 auto;
	font-size: 10pt;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);

	@media (max-width: 1150px) {
		width: 100%;
		max-width: 100%;
		min-width: 1100px;
	}
}

a {
	color: #a50028;
	text-decoration: none;
}

.wrapper {
	width: 1100px;
	margin: 0 auto;
}

.reset {
	clear: both;
}

#topnav {
	background: #a50028;
	color: #fff;
	padding: 4px 0;
	text-align: right;
	position: relative;
	z-index: 200;

	ul {
		margin: 0;
		padding: 0;
		font-size: 0;

		li {
			display: inline-block;
			padding: 0;
			margin: 0;
			list-style: none;
			font-size: 10pt;

			a {
				display: block;
				text-decoration: none;
				color: #fff;
				padding: 4px 0;
				span {
					border-right: 1px solid #fff;
					line-height: 1;
					display: block;
					padding: 0 8px;
				}

				&:hover {
					text-decoration: underline;
				}
			}

			&:last-child {
				a {
					span {
						border: none;
						padding-right: 0;
					}
				}
			}
		}
	}
}

#header {
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
	padding: 15px;
	position: relative;
	z-index: 100;
	background: #fff;
	overflow: hidden;

	#logo {
		position: relative;
		float: left;

		a {
			position: relative;
			width: 84px;
			height: 62px;
			overflow: hidden;
			display: block;
			text-transform: uppercase;
			color: #e60012;

			span {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: url({@tplbase}images/logo.png);
				display: block;
			}
		}
	}

	.basket {
		float: right;
		width: 150px;
		color: #707070;
		font-size: 12pt;
		background: url({@tplbase}images/basket.png) right center no-repeat;
		padding: 10px 45px 10px 0;

		span, strong {
			display: block;
		}

		a {
			color: #707070;
			text-decoration: none;

			&:hover {
				color: #a50028;
			}
		}
	}

	.nav {
		font-family: Georgia;
		font-style:italic;
		float: left;
		padding-left: 20px;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			font-size: 0;

			li {
				margin: 0;
				padding: 0;
				display: inline-block;
				font-size: 13pt;

				a {
					color: #707070;
					text-decoration: none;
					padding: 0;
					display: block;
					-webkit-transition: all 300ms ease-out;
					-moz-transition: all 300ms ease-out;
					transition: all 300ms ease-out;

					span {
						padding: 20px 40px;
						display: block;
						border-right: 1px solid #dddddd;
					}

					&:hover {
						color: #a50028;
					}
				}
			}
		}
	}
}

#carousel-top {
	margin: -60px -30px 50px -30px;
	position: relative;
	z-index: 50;


	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			margin: 0;
			padding: 0;
			height: 337px;
			width: 1100px;
		}
	}

	.rs-carousel-pagination {
		position: absolute;
		bottom: 30px;
		left: 15px;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			margin: 0;
			padding: 0;
			list-style: none;

			a {
				margin: 0;
				padding: 0;
				width: 10px;
				height: 10px;
				display: block;
				text-indent: 1000px;
				overflow: hidden;
				.rounded(20px);
				background: #3c3c3c;
				opacity: 0.5;
				display: inline-block;
				margin-right: 3px;

				&:hover {
					opacity: 1;
				}
			}

			&.rs-carousel-pagination-link-active {
				a {
					opacity: 1;
					background: #a50028;
				}
			}
		}
	}
}

.promo-products {
	background: url({@tplbase}images/promo-products-bg.png) bottom center no-repeat;
	display: none;

	.item {
		a {
			display: block;
			text-align: center;
			color: #707070;
			font-size: 12pt;
			padding: 0 0 30px 0;
			-webkit-transition: all 300ms ease-out;
			-moz-transition: all 300ms ease-out;
			transition: all 300ms ease-out;

			span {
				display: block;
				padding: 5px 0;

				&.image {
					height: 190px;
					padding: 0;
					position: relative;

					img {
						-webkit-transition: all 300ms ease-out;
						-moz-transition: all 300ms ease-out;
						transition: all 300ms ease-out;
					}
				}
			}

			&:hover {
				color: #a50028;

				img {
					transform:scale(1.1);
					-ms-transform:scale(1.1); /* IE 9 */
					-moz-transform:scale(1.1); /* Firefox */
					-webkit-transform:scale(1.1); /* Safari and Chrome */
					-o-transform:scale(1.1); /* Opera */

				}
			}
		}
	}
}

#doporucujeme {
	background: url({@tplbase}images/doporucujeme-bg.png) repeat-x;
	height: 41px;
	overflow: hidden;
	text-align: center;
	font-family: Georgia, Arial, sans-serif;
	margin: 0 0 30px 0;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: 0;

		li {
			display: inline-block;
			padding: 0;
			margin: 0;
			list-style: none;
			font-size: 12pt;
			font-style: italic;

			a {
				display: block;
				padding: 0 15px;
				line-height: 41px;
				height: 41px;
				color: #707070;
				background: url({@tplbase}images/doporucujeme-active.png) 0 -16px no-repeat;

				&:hover, &.active {
					color: #444444;
					text-decoration: none;
					background-position: top center;
				}
			}
		}
	}
}

#three-boxes {
	.item {
		border: 1px solid #e9e9e9;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		-moz-background-clip: padding;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		background: #efefef;
		background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #efefef), color-stop(1, #ffffff));
		background: -ms-linear-gradient(bottom, #efefef, #ffffff);
		background: -moz-linear-gradient(center bottom, #efefef 0%, #ffffff 100%);
		height: 110px;
		padding: 20px;
		margin: 0 0 20px 0;
		position: relative;
		overflow: hidden;

		h3 {
			width: 50%;
			display: block;
			margin: 0;
			padding: 0 0 10px 0;
			color: #a50028;
			font-family: Georgia, Arial, sans-serif;
			font-style: italic;
			line-height: 1;
			font-size: 12pt;
			position: relative;
			z-index: 300;
		}

		p {
			display: block;
			padding: 0;
			width: 50%;
			margin: 0;
			color: #707070;
			font-size: 11pt;
			position: relative;
			z-index: 300;
		}

		img {
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 100;
		}
	}
}

#footer {
	border-top: 1px solid #edccd4;
	color: #fff;

	#footer-wrap {
		border-top: 4px solid #8a0021;
		background: #a50028;
		padding: 45px 0;

		.border {
			background: url({@tplbase}images/footer-bg.png) right repeat-y;
		}

		h4 {
			margin: 0 0 15px 0;
			padding: 0;
			display: block;
			font-weight: bold;
			font-size: 14pt;
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			font-size: 11pt;

			li {
				margin:0;
				padding: 0;

				a {
					display: block;
					padding: 2px 0;
					color: #fff;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

		#fb-link {
			width: 150px;
			display: block;
			margin: 30px auto  0 auto;
			padding-left: 30px;
			background: url({@tplbase}images/fb.png) left center no-repeat;
			height: 30px;
			line-height: 30px;
			color: #fff;
			text-decoration: none;
			font-weight: bold;
			font-size: 13pt;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

#subfooter {
	text-align: center;
	background: #fff;
	padding: 8px 0;
	color: #959595;
	line-height: 15px;

	p {
		padding: 0;
		margin: 0;
		font-size: 11pt;

		.yes {
			display: inline-block;
			width: 39px;
			height: 15px;
			background: url({@tplbase}images/yes.png);
		}
	}
}

#sidebar {
	.block {
		margin: 0 0 30px 0;

		.content {
			.pages {
				font-family: Georgia, Arial, sans-serif;
				font-style: italic;
				font-size: 13pt;

				ul {
					margin: 0;
					padding: 0;

					li {
						margin: 0;
						padding: 0;
						list-style: none;
						background: url({@tplbase}images/sidebar-li.png) left center no-repeat;

						a {
							display: block;
							padding: 10px;
							color: #707070;
							text-decoration: none;

							&:hover {
								color: #a50028;
							}
						}

						&.active {
							&>a {
								color: #a50028;
							}
						}
					}
				}
			}
		}
	}
}


#main {
	margin-top: 30px;
	font-size: 12pt;
	padding: 0 30px 30px 30px;

	.page-description {
		p {
			padding: 0 0 20px 0;
			margin: 0;
		}
	}

	.breadcrumb {
		margin: 0;
		padding: 13px 0 5px 0;
		margin-bottom: 5px;
		font-size: 10pt;
		border-bottom: 1px solid #eaeaea;
	}

	h1 {
		color: #515151;
		font-family: Georgia, Arial, sans-serif;
		margin: 0 0 10px 0;
		padding: 0 0 10px 0;
		display: block;
                font-size: 20px;
	}

	.hidefilter {
		display: none;
	}

	.pagination {
		border-top: 1px solid #bdbdbd;
		margin: 30px 0 0 0;
		padding-top: 10px;
		text-align: right;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				display: inline-block;
				margin: 0;
				padding: 0;
				line-height: 20px;

				a {
					display: block;
					padding: 0 3px;
					line-height: 20px;
				}
			}
		}
	}

	#pdetail {
		h1 {
			color: #a50028;
			font-family: Arial, sans-serif;
			font-size: 19pt;
			margin: 0 0 20px 0;
			padding: 0;
		}

		.images {
			.files {
				margin: 0;
				padding: 0;
				list-style: none;

				li {
					margin: 0;
					padding: 0;
					display: block;
					margin-bottom: 10px;

					img {
						max-width: 100%;
					}

					&.smallpic {
						display: inline-block;
						width: 50px;
						padding: 2px;
						margin-bottom: 4px;
					}
				}
			}
		}

		.prices {
			color: #707070;
			margin-top: 30px;

			#product-price {
				font-weight: bold;
				font-size: 14pt;
				color: #0075b8;
				display: inline-block;
			}
			.include-vat {
				display: inline-block;
				font-size: 9pt;
			}
			.priceexclvat {
				display: block;
				font-size: 9pt;
			}
		}

		.features {
			table {
				width: 100%;
				font-size: 10pt;

				td {
					border: 1px solid #cbcbcb;
					padding: 10px;

					&.featurename {
						width: 30%;
					}
				}
			}
		}

		.related {
			border-left: 1px solid #ececec;
			text-align: center;

			h3 {
				color: #a50028;
				display: block;
				margin: 0 0 15px 0;
				padding: 0;
				font-size: 11pt;
				font-weight: normal;
				text-align: center;
			}
			.related {
				position: relative;
				font-size: 10pt;

				a {
					display: block;
					padding: 5px;
					padding-bottom: 20px;

					img {
						max-width: 100%;
						margin-bottom: 10px;
					}

					.name {
						display: block;
						color: #707070;
						text-decoration: none;
						text-align: center;
						font-weight: normal;
					}

					.price {
						display: block;
						text-align: center;
						color: #0075b8;
						font-weight: normal;
					}

					&:hover {
						background: #ededed;
					}
				}
			}
		}

		.buy {
			margin-top: 20px;

			.qty {
				background: #fff;
				border: 1px solid #cbcbcb;
				width: 40px;
				padding: 0;
				line-height: 40px;
				height: 40px;
				text-align: center;
				color: #979797;
			}

			button {
				display: inline-block;
				color: #fff;
				text-align: center;
				padding: 10px 20px;
				background: #a50028;
				border: none;
				cursor: pointer;
				-webkit-border-radius: 10px 10px 10px 10px;
				-moz-border-radius: 10px 10px 10px 10px;
				border-radius: 10px 10px 10px 10px;
				font-weight: bold;
				margin-left: 20px;
			}
		}

		.attributes {
			background: #eeeeee;
			padding: 15px 5% 0 5%;
			border: 1px solid #d1d1d1;
			float: left;
			width: 90%;
			font-size: 10pt;
			margin: 20px 0 0 0;

			.attribute {
				display: block;
				float: left;
				width: 100%;
				padding: 0 0 15px 0;

				&>label {
					font-weight: bold;
					padding: 0 0 2px 0;
				}

				label {
					display: block;
				}

				.product-variants {
					float: left;
					width: 100%;
					
					label {
						border-bottom: 1px solid #d1d1d1;
						padding: 4px 0;

						.variant-availability {
							float: right;
						}

						small {
							color: #0075b8;
						}
					}
				}
			}
		}
	}

	.tabs {
		&.sorting {
			border-bottom: 1px solid #bdbdbd;
			margin-bottom: 40px;

			ul {
				margin: 0;
				padding: 0;
				font-size: 0;
				list-style: none;

				li {
					margin: 0;
					padding: 0;
					font-size: 10pt;
					display: inline-block;
					line-height: 30px;

					a {
						line-height: 30px;
						display: block;
						padding: 0 15px;
						border: 1px solid #fff;
						border-bottom: none;

						&.active {
							background: #fff;
							border: 1px solid #bdbdbd;
							border-bottom: none;
							color: #000;
							margin-bottom: -1px;
							padding-bottom: 1px;
						}

						&:hover {
							background: #f3f3f3;
						}
					}

					&.info {
						padding: 0 15px 0 0;
					}
				}
			}
		}
	}

	.products {
		background: url({@tplbase}images/products.png) bottom repeat-x;
		padding: 0 0 25px 0;
		margin-bottom: 25px;

		.product {
			position: relative;

			h2 {
				margin: 0;
				padding: 0;
				display: block;
				font-size: 12pt;

				a {
					margin: 0;
					display: block;
					padding: 15px 0 10px 0;
				}
			}

			.image {
				display: block;
				width: 100%;
				margin: 0;
				padding: 0;
				min-height: 240px;

				img {
					max-width: 100%;
				}
			}

			.desc {
				font-size: 11pt;
				padding: 0 0 15px 0;
				height: 80px;
				overflow: hidden;

				p {
					margin: 0;
					padding: 0;
					font-size: 11pt !important;
				}
			}

			.price {
				font-weight: bold;
				font-size: 13pt;
				color: #436522;
				line-height: 32px;
			}

			.buy {
				display: block;
				width: 36px;
				height: 32px;
				background: url({@tplbase}images/basket.png) right center no-repeat;
				overflow: hidden;
				text-indent: 1000px;
			}
		}
	}
}



/** defaulty **/
.form {
	fieldset {
		border-top: 2px solid @color2;
		margin-bottom: 25px;
		
		legend {
			font-size: 120%;
			font-weight: bold;
			padding-right: 15px;
		}
		
		.input {
			margin-top: 10px;
			
			label {
				color: @fontcolor + #333;
				
				strong {
					color: @fontcolor;
				}	
			}
			
			label.error {
				color: red;
			}
			
			input.checkbox {
				margin: -4px 6px 0 0;
				vertical-align: middle;	
			}
			
			input.text,
			textarea,
			select {
				width: 99%;
				display: block;
			}
			
			input.short {
				width: 70px;	
			}
		}
		
		.inline {
			width: 48.5%;
			float: left;
		}
		
		.required label {
			font-weight: bold;
			color: @fontcolor;
		}
		
		.inline-right {
			float: right;
			margin-right: 0.7%;	
		}
		
		.help {
			background: @color1;
			border-left: 3px solid @color2;
			padding: 5px;
			font-size: 90%;
			margin: 5px 0 15px 0;
			color: @fontcolor + #333;
		}
	}
	
	fieldset.colleft,
	fieldset.colright {
		width: 49%;
		float: left;	
	}
	
	fieldset.colright {
		float: right;
	}
}

.customerlogin,
.customerpassword{
	float: left;
	width: 100%;
	
	fieldset {
		background: @color1;
		padding: 0 10px 10px;
		
		legend {
			padding-left: 5px;
		}
		
		.error {
			background: #fcd1d1;
			padding: 5px;
			margin-top: 5px;
			
			p {
				margin: 0 !important;
				padding: 0 !important;
			}
		}
		
		.msg {
			background: @color2;
			padding: 5px;
			margin-top: 5px;
			
			p {
				margin: 0 !important;
				padding: 0 !important;
			}
		}
		
		.login {
			width: 100%;
			float: left;
			
			a {
				font-size: 90%;
			}
			
			.buttons {
				padding-top: 5px;
			}
			
			.loginbtn {
				float: right;
			}
		}
		
		.customer {
			margin-top: 5px;
			line-height: 160%;
			
			.customername {
				background: @bgcolor;
				padding: 5px;
				margin-top: 5px;
			}
		}
	}
	
	.lost-password-form {
		display: none;
		margin-top: 30px;
		padding: 1px 10px;
		background: @bgcolor;
		
		p {
			color: @fontcolor + #333;
			padding: 10px 0 0 0;
		}
	}
}























.steps {
		position: relative;
		font-size: 0;
		margin-bottom: 50px;

		.step {
			width: 25%;
			display: inline-block;
			height: 50px;
			position: relative;
			font-size: 10pt;
			margin: 0;
			padding: 0;

			.line {
				height: 8px;
				background: #e3e3e3;
				position: absolute;
				left: 49px;
				right: 0;
				top: 50%;
				margin-top: -4px;
				z-index: 50;

				.left {
					position: absolute;
					left: 0;
					right: 50%;
					height: 8px;
					background: #e3e3e3;
				}

				.right {
					position: absolute;
					right: 0;
					left: 50%;
					height: 8px;
					background: #e3e3e3;
				}
			}

			.text {
				text-align: center;
				text-transform: uppercase;
				font-size: 11pt;
				color:#e3e3e3;
				position: absolute;
				left: 50px;
				right: 0;
				top: 0;
			}

			.num {
				z-index: 100;
				width: 50px;
				height: 50px;
				background: #e3e3e3;
				color: #777777;
				font-weight: bold;
				text-align: center;
				line-height: 50px;
				overflow: hidden;
				-webkit-border-radius: 50px;
				border-radius: 50px;
				font-size: 15pt;
				position: absolute;
				top: 0;
				left: 0;
			}

			&.current {
				.num {
					color: #5e3900;
					text-shadow:1px 1px 0 #ffd47d;
					background: #ffca31; /* Old browsers */
					background: -moz-linear-gradient(top,  #ffca31 0%, #ffa302 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffca31), color-stop(100%,#ffa302)); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top,  #ffca31 0%,#ffa302 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top,  #ffca31 0%,#ffa302 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top,  #ffca31 0%,#ffa302 100%); /* IE10+ */
					background: linear-gradient(to bottom,  #ffca31 0%,#ffa302 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffca31', endColorstr='#ffa302',GradientType=0 ); /* IE6-9 */
				}

				.text {
					color: #797979;
				}

				.line {
					.left {
						background: #ffca31; /* Old browsers */
						background: -moz-linear-gradient(top,  #ffca31 0%, #ffa302 100%); /* FF3.6+ */
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffca31), color-stop(100%,#ffa302)); /* Chrome,Safari4+ */
						background: -webkit-linear-gradient(top,  #ffca31 0%,#ffa302 100%); /* Chrome10+,Safari5.1+ */
						background: -o-linear-gradient(top,  #ffca31 0%,#ffa302 100%); /* Opera 11.10+ */
						background: -ms-linear-gradient(top,  #ffca31 0%,#ffa302 100%); /* IE10+ */
						background: linear-gradient(to bottom,  #ffca31 0%,#ffa302 100%); /* W3C */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffca31', endColorstr='#ffa302',GradientType=0 ); /* IE6-9 */
					}
				}
			}

			&.complete {
				.num {
					color: #364d21;
					text-shadow:1px 1px 0 #bbdc81;
					background: #9ec546; /* Old browsers */
					background: -moz-linear-gradient(top,  #9ec546 0%, #7db93f 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9ec546), color-stop(100%,#7db93f)); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top,  #9ec546 0%,#7db93f 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top,  #9ec546 0%,#7db93f 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top,  #9ec546 0%,#7db93f 100%); /* IE10+ */
					background: linear-gradient(to bottom,  #9ec546 0%,#7db93f 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ec546', endColorstr='#7db93f',GradientType=0 ); /* IE6-9 */
				}

				.line {
					.left, .right {
						background: #9ec546; /* Old browsers */
						background: -moz-linear-gradient(top,  #9ec546 0%, #7db93f 100%); /* FF3.6+ */
						background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9ec546), color-stop(100%,#7db93f)); /* Chrome,Safari4+ */
						background: -webkit-linear-gradient(top,  #9ec546 0%,#7db93f 100%); /* Chrome10+,Safari5.1+ */
						background: -o-linear-gradient(top,  #9ec546 0%,#7db93f 100%); /* Opera 11.10+ */
						background: -ms-linear-gradient(top,  #9ec546 0%,#7db93f 100%); /* IE10+ */
						background: linear-gradient(to bottom,  #9ec546 0%,#7db93f 100%); /* W3C */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ec546', endColorstr='#7db93f',GradientType=0 ); /* IE6-9 */
					}
				}

				.text {
					color: #568e1c;
					text-shadow:1px 1px 0 #ebebeb;
					font-weight: bold;
				}
			}
		}
	}


.errors {
		background: #f9dbdb;
		border: 1px solid #f8bcbc;
		padding: 15px;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				margin: 0;
				padding: 0;
			}
		}
	}

	.order {

		&.inputs {
			.input {
				label {
					display: block;
					margin: 0;
					padding: 0;

					&.error {
						color: #e60500;
						font-weight: bold;
					}
				}

				input, select, textarea {
					font-family: Arial, sans-serif;
					width: 94%;
					margin: 0;
					padding: 5px 3%;
					margin-bottom: 10px;
				}

				input[type="checkbox"] {
					width: auto;
					padding: 0;
					display: inline;
				}

				select {
					padding: 5px 0;
					width: 100%;
				}
			}

			.buyoncompany, .jina-dodaci {
				display: block;
				font-weight: bold;
				cursor: pointer;
				padding: 10px 0;
			}
		}

		&.ordersummary {
			table {
				width: 100%;
				tr {
					td, th {
						padding: 5px;
						text-align: left;
						border-bottom: 1px solid #e4e4e4;
					}
					&:last-child {
						th, td {
							border-bottom: none;
						}
					}
				}
			}
		}

		.terms {
			float: right;
			display: block;
			padding: 5px 0;
			font-weight: bold;
		}

		.ordersidebar {

			#help-with-order {
				background: #fafafa; /* Old browsers */
				background: -moz-linear-gradient(top,  #fafafa 0%, #e6e6e6 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #fafafa 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #fafafa 0%,#e6e6e6 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #fafafa 0%,#e6e6e6 100%); /* IE10+ */
				background: linear-gradient(to bottom,  #fafafa 0%,#e6e6e6 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
				color: #639b23;
				padding: 10px;
				border: 1px solid #e3e3e3;
				font-weight: bold;

				h3 {
					margin: 0;
					padding: 0;
					font-size: 11pt;
					display: block;
					text-transform: uppercase;
					text-shadow:1px 1px 0 #ffffff;
					margin-bottom: 5px;
				}

				.phone {
					background: url({@tplbase}images/icon-phone.png) left center no-repeat;
				}

				.email {
					background: url({@tplbase}images/icon-at.png) left center no-repeat;
				}

				.email, .phone {
					padding: 5px 0 5px 35px;
					margin: 0 0 5px 10px;
					font-size: 15pt;
				}
			}

			.title {
				color: #5e3900;
				text-shadow:1px 1px 0 #ffd47d;
				background: #ffca31; /* Old browsers */
				background: -moz-linear-gradient(top,  #ffca31 0%, #ffa302 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffca31), color-stop(100%,#ffa302)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #ffca31 0%,#ffa302 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #ffca31 0%,#ffa302 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #ffca31 0%,#ffa302 100%); /* IE10+ */
				background: linear-gradient(to bottom,  #ffca31 0%,#ffa302 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffca31', endColorstr='#ffa302',GradientType=0 ); /* IE6-9 */
				padding: 10px;
				font-size: 11pt;
				font-weight: bold;
				text-transform: uppercase;

				&.help {
					background: #cecece; /* Old browsers */
					background: -moz-linear-gradient(top,  #cecece 0%, #adadad 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cecece), color-stop(100%,#adadad)); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top,  #cecece 0%,#adadad 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top,  #cecece 0%,#adadad 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top,  #cecece 0%,#adadad 100%); /* IE10+ */
					background: linear-gradient(to bottom,  #cecece 0%,#adadad 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#adadad',GradientType=0 ); /* IE6-9 */
					text-shadow:1px 1px 0 #ececec;
					color: #515151;
				}
			}

			hr {
				border: none;
				margin: 20px;
				padding: 0;
				border-bottom: 1px solid #e3e3e3;
			}

			.basket {
				.tablewrap {
					table {
						tr {
							td {
								vertical-align: middle;

								&.total {
									font-weight: bold;
								}
							}
						}

						&.dp {
							tr {
								td {
									padding: 5px 10px;
								}
							}
						}
					}

					&.last {
						border-bottom: none;
					}

					&.final {
						border-top: none;
						padding: 0;
						margin: 0;
						background:#e9f9db;

						table {
							tr {
								td {
									background: none;
									padding: 5px 15px;
								}

								&.total {
									td {
										font-size: 11pt;

										&.value {
											font-size: 17pt;
											color: @orange;
										}
									}
								}

								&.subtotal {
									td {
										&.value {
											font-weight: normal;
											font-size: 10pt;
										}
									}
								}
							}
						}
					}
				}
			}
		}

		fieldset {
			display: block;
			margin: 0;
			padding: 0;
			background: #fbfbfb;
			border: 1px solid #e4e4e4;
			padding: 20px;
			margin-bottom: 30px;

			legend {
				font-size: 14pt;
			}

			.input {
				label {
					display: block;
					padding: 5px 0;
					cursor: pointer;

					&.p {
						position: relative;
						padding-right: 100px;
					}
				}

				.price {
					float: right;
					padding: 0 5px;
					border: 1px solid #ebe4a7;
					background: #f9f6db;
				}

				&.active {
					color: @orange;
					font-weight: bold;
				}
			}

			&.payment, &.delivery {
				.input {
					&:hover {
						background:#f6f6f6;
						color: #282828;

						.price {
							float: right;
							padding: 0 5px;
							border: 1px solid #c8e5af;
							background: #e9f9db;
							color: #373737;
						}
					}
				}
			}

			.help {
				background: #f9f6db;
				padding: 7px 10px;
				font-style: italic;
				border: 1px solid #ebe4a7;
				font-size: 9pt;
			}
		}
	}

	.basket, .order {
		.buttons {
			margin-top: 20px;

			.btn {
				border: none;

				&.checkout {
					float: right;
				}
			}
		}

		.tablewrap {
			border: 1px solid #e3e3e3;
			padding: 4px;


			table {
				width: 100%;

				a {
					color: @orange;
				}

				thead {
					tr {
						td,th {
							background: #f9f6db;
							font-weight: bold;
							font-size: 9pt;
							padding: 5px;
						}
					}
				}

				tfoot {
					border-top: 5px solid #fff;

					tr {
						td,th {
							background: #e9f9db;
							font-size: 9pt;
							padding: 5px;
						}

						&.subtotal, &.total {
							.value {
								font-size: 12pt;
								font-weight: bold;
								color: #424242;
							}
						}
					}
				}

				tbody {
					tr {
						td {
							padding: 10px;
							vertical-align: top;

							&.picture {
								width: 100px;

								span {
									width: 100px;
									display: block;
									text-align: center;
									padding: 3px;
									border: 1px solid #eeeeee;
									background: #fff;

									img {
										max-width: 100%;
									}
								}
							}

							&.name {
								width: 300px;
								
								a {
									display: block;
									margin-bottom: 5px;
								}

								.attributes {
									font-size: 8pt;
									padding: 2px 5px;
									border-bottom: 1px solid #efefef;

									.av {
										font-size: 8px;
									}
								}
							}

							&.quantity {
								.qtytext {
									line-height: 40px;
									display: inline-block;
								}
								.qtywrap {
									display: inline-block;
									position: relative;
									padding-right: 25px;
									height: 40px;
									overflow: hidden;

									input {
										height: 38px;
										line-height: 30px;
										padding: 0 5px;
										width: 35px;
										text-align: center;
										border: 1px solid #afafaf;
										margin: 0;
										padding: 0;
										display: block;
										-webkit-border-radius: 5px 0px 0px 5px;
										border-radius: 5px 0px 0px 5px;

										&:active, &:focus {
											outline: none !important;
										}
									}

									a {
										position: absolute;
										right: 0;
										height: 19px;
										display: block;
										width: 25px;
										text-decoration: none;
										color: #818181;
										text-align: center;
										border: 1px solid #afafaf;
										font-size: 12pt;
										line-height: 18px;

										&.plus {
											top: 0;
											background: #f8f8f8; /* Old browsers */
											background: -moz-linear-gradient(top,  #f8f8f8 0%, #eaeaea 100%); /* FF3.6+ */
											background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
											background: -webkit-linear-gradient(top,  #f8f8f8 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
											background: -o-linear-gradient(top,  #f8f8f8 0%,#eaeaea 100%); /* Opera 11.10+ */
											background: -ms-linear-gradient(top,  #f8f8f8 0%,#eaeaea 100%); /* IE10+ */
											background: linear-gradient(to bottom,  #f8f8f8 0%,#eaeaea 100%); /* W3C */
											filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
											-webkit-border-radius: 0px 5px 0px 0px;
											        border-radius: 0px 5px 0px 0px;
										}

										&.minus {
											height: 18px;
											border-top: none;
											bottom: 0;
											background: #eaeaea; /* Old browsers */
											background: -moz-linear-gradient(top,  #eaeaea 0%, #f8f8f8 100%); /* FF3.6+ */
											background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(100%,#f8f8f8)); /* Chrome,Safari4+ */
											background: -webkit-linear-gradient(top,  #eaeaea 0%,#f8f8f8 100%); /* Chrome10+,Safari5.1+ */
											background: -o-linear-gradient(top,  #eaeaea 0%,#f8f8f8 100%); /* Opera 11.10+ */
											background: -ms-linear-gradient(top,  #eaeaea 0%,#f8f8f8 100%); /* IE10+ */
											background: linear-gradient(to bottom,  #eaeaea 0%,#f8f8f8 100%); /* W3C */
											filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-9 */
											-webkit-border-radius: 0px 0px 5px 0px;
											border-radius: 0px 0px 5px 0px;
										}

										&:hover {
											background:#d2d2d2;
										}
									}
								}
							}

							&.totaltd {
								font-weight: bold;
								position: relative;

								.ajax {
									background: url({@tplbase}images/small-ajax.gif);
									width: 16px;
									height: 16px;
									display: block;
									position: absolute;
									top: 10px;
									left: 50%;
									margin-left: -8px;
									display: none;
								}
							}

							&.remove {
								word-spacing: 16px;

								a {
									display: block;
									width: 16px;
									height: 16px;
									overflow: hidden;
									text-indent: 1000px;
									position: relative;

									span {
										position: absolute;
										top: 0;
										left: 0;
										width: 16px;
										height: 16px;
										background: url({@tplbase}images/delete.png);
										display: block;
									}
								}
							}
						}

						&.even {
							td {
								background: #eeeeee;

								&.name {
									.attributes {
										border-bottom: 1px solid #fff;
									}
								}
							}
						}
					}
				}
			}
		}
	}


#map {
	border: none;
	width: 100%;
	height: 337px;
	margin-top: 25px;
}

.relative {
	position: relative;

	#phone {
		display: block;
		position: absolute;
		bottom: 0;
		right: 0;
		width: 392px;
		height: 294px;
		background: url({@tplbase}images/phone.png);
	}
}

.contactform {
	label {
		display: block;
	}

	input, select, textarea {
		display: block;
		width: 92%;
		padding: 8px 4%;
		font-family: Arial, sans-serif;
		margin-bottom: 10px;
		border: 1px solid #d9d9d9;

		&.bc-email {
			display: none;
		}
	}

	button {
		display: block;
		padding: 10px;
		border: none;
		background: #d9d9d9;

	}
}

.sent {
	background: #bbe481;
	padding: 10px;
	text-align: center;
}
.error {
	background: #e48181;
	padding: 10px;
	text-align: center;
}


#content .errors ul li {
  margin:0;
  padding:0;
}
#content .errors ul {
  margin:0;
  padding:0;
  list-style:none;
}
#content .errors {
  background:#f9dbdb;
  border:1px solid #f8bcbc;
  padding:15px;
}
#content .order.inputs .input label.error {
  color:#e60500;
  font-weight:bold;
}
#content .order.inputs .input label {
  display:block;
  margin:0;
  padding:0;
}
#content .order.inputs .input input, #content .order.inputs .input select, #content .order.inputs .input textarea {
  font-family:Arial, sans-serif;
  width:94%;
  margin:0;
  padding:5px 3%;
  margin-bottom:10px;
}
#content .order.inputs .input input[type="checkbox"] {
  width:auto;
  padding:0;
  display:inline;
}
#content .order.inputs .input select {
  padding:5px 0;
  width:100%;
}
#content .order.inputs .buyoncompany, #content .order.inputs .jina-dodaci {
  display:block;
  font-weight:bold;
  cursor:pointer;
  padding:10px 0;
}
#content .order.ordersummary table tr td, #content .order.ordersummary table tr th {
  padding:5px;
  text-align:left;
  border-bottom:1px solid #e4e4e4;
}
#content .order.ordersummary table tr:last-child th, #content .order.ordersummary table tr:last-child td { border-bottom:none; }
#content .order.ordersummary table { width:100%; }
#content .order .terms {
  float:right;
  display:block;
  padding:5px 0;
  font-weight:bold;
}
#content .order .ordersidebar #help-with-order h3 {
  margin:0;
  padding:0;
  font-size:11pt;
  display:block;
  text-transform:uppercase;
  text-shadow:1px 1px 0 #ffffff;
  margin-bottom:5px;
}
#content .order .ordersidebar #help-with-order .phone { background:url(http://www.elektronickeobojkypropsy.cz/core/template/tech/images/icon-phone.png) left center no-repeat; }
#content .order .ordersidebar #help-with-order .email {
  background:url(http://www.elektronickeobojkypropsy.cz/core/template/tech/images/icon-at.png) left center no-repeat;
  font-size:10pt !important;
}
#content .order .ordersidebar #help-with-order .email, #content .order .ordersidebar #help-with-order .phone {
  padding:5px 0 5px 35px;
  margin:0 0 5px 10px;
  font-size:15pt;
}
#content .order .ordersidebar #help-with-order {
  background:#fafafa;
  background:-moz-linear-gradient(top,#fafafa 0%,#e6e6e6 100%);
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fafafa),color-stop(100%,#e6e6e6));
  background:-webkit-linear-gradient(top,#fafafa 0%,#e6e6e6 100%);
  background:-o-linear-gradient(top,#fafafa 0%,#e6e6e6 100%);
  background:-ms-linear-gradient(top,#fafafa 0%,#e6e6e6 100%);
  background:linear-gradient(to bottom,#fafafa 0%,#e6e6e6 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#e6e6e6',GradientType=0);
  color:#639b23;
  padding:10px;
  border:1px solid #e3e3e3;
  font-weight:bold;
}
#content .order .ordersidebar .title.help {
  background:#cecece;
  background:-moz-linear-gradient(top,#cecece 0%,#adadad 100%);
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#cecece),color-stop(100%,#adadad));
  background:-webkit-linear-gradient(top,#cecece 0%,#adadad 100%);
  background:-o-linear-gradient(top,#cecece 0%,#adadad 100%);
  background:-ms-linear-gradient(top,#cecece 0%,#adadad 100%);
  background:linear-gradient(to bottom,#cecece 0%,#adadad 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cecece',endColorstr='#adadad',GradientType=0);
  text-shadow:1px 1px 0 #ececec;
  color:#515151;
}
#content .order .ordersidebar .title {
  color:#5e3900;
  text-shadow:1px 1px 0 #ffd47d;
  background:#ffca31;
  background:-moz-linear-gradient(top,#ffca31 0%,#ffa302 100%);
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffca31),color-stop(100%,#ffa302));
  background:-webkit-linear-gradient(top,#ffca31 0%,#ffa302 100%);
  background:-o-linear-gradient(top,#ffca31 0%,#ffa302 100%);
  background:-ms-linear-gradient(top,#ffca31 0%,#ffa302 100%);
  background:linear-gradient(to bottom,#ffca31 0%,#ffa302 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffca31',endColorstr='#ffa302',GradientType=0);
  padding:10px;
  font-size:11pt;
  font-weight:bold;
  text-transform:uppercase;
}
#content .order .ordersidebar hr {
  border:none;
  margin:20px;
  padding:0;
  border-bottom:1px solid #e3e3e3;
}
#content .order .ordersidebar .basket .tablewrap table tr td.total { font-weight:bold; }
#content .order .ordersidebar .basket .tablewrap table tr td { vertical-align:middle; }
#content .order .ordersidebar .basket .tablewrap table.dp tr td { padding:5px 10px; }
#content .order .ordersidebar .basket .tablewrap.last { border-bottom:none; }
#content .order .ordersidebar .basket .tablewrap.final table tr td {
  background:none;
  padding:5px 15px;
}
#content .order .ordersidebar .basket .tablewrap.final table tr.total td.value {
  font-size:17pt;
  color:#e63100;
}
#content .order .ordersidebar .basket .tablewrap.final table tr.total td { font-size:11pt; }
#content .order .ordersidebar .basket .tablewrap.final table tr.subtotal td.value {
  font-weight:normal;
  font-size:10pt;
}
#content .order .ordersidebar .basket .tablewrap.final {
  border-top:none;
  padding:0;
  margin:0;
  background:#e9f9db;
}
#content .order fieldset legend { font-size:14pt; }
#content .order fieldset .input label.p {
  position:relative;
  padding-right:100px;
}
#content .order fieldset .input label {
  display:block;
  padding:5px 0;
  cursor:pointer;
}
#content .order fieldset .input .price {
  float:right;
  padding:0 5px;
  border:1px solid #ebe4a7;
  background:#f9f6db;
}
#content .order fieldset .input.active {
  color:#e63100;
  font-weight:bold;
}
#content .order fieldset.payment .input:hover .price, #content .order fieldset.delivery .input:hover .price {
  float:right;
  padding:0 5px;
  border:1px solid #c8e5af;
  background:#e9f9db;
  color:#373737;
}
#content .order fieldset.payment .input:hover, #content .order fieldset.delivery .input:hover {
  background:#f6f6f6;
  color:#282828;
}
#content .order fieldset .help {
  background:#f9f6db;
  padding:7px 10px;
  font-style:italic;
  border:1px solid #ebe4a7;
  font-size:9pt;
}
#content .order fieldset {
  display:block;
  margin:0;
  padding:0;
  padding:20px;
  background:#fbfbfb;
  border:1px solid #e4e4e4;
  margin-bottom:30px;
}
#content .basket .buttons .btn.checkout, #content .order .buttons .btn.checkout { float:right; }
#content .basket .buttons .btn, #content .order .buttons .btn { border:none; }
#content .basket .buttons, #content .order .buttons { margin-top:20px; }
#content .basket .tablewrap table a, #content .order .tablewrap table a { color:#e63100; }
#content .basket .tablewrap table thead tr td, #content .basket .tablewrap table thead tr th, #content .order .tablewrap table thead tr td, #content .order .tablewrap table thead tr th {
  background:#f9f6db;
  font-weight:bold;
  font-size:9pt;
  padding:5px;
}
#content .basket .tablewrap table tfoot tr td, #content .basket .tablewrap table tfoot tr th, #content .order .tablewrap table tfoot tr td, #content .order .tablewrap table tfoot tr th {
  background:#e9f9db;
  font-size:9pt;
  padding:5px;
}
#content .basket .tablewrap table tfoot tr.subtotal .value, #content .basket .tablewrap table tfoot tr.total .value, #content .order .tablewrap table tfoot tr.subtotal .value, #content .order .tablewrap table tfoot tr.total .value {
  font-size:12pt;
  font-weight:bold;
  color:#424242;
}
#content .basket .tablewrap table tfoot, #content .order .tablewrap table tfoot { border-top:5px solid #ffffff; }
#content .basket .tablewrap table tbody tr td.picture span img, #content .order .tablewrap table tbody tr td.picture span img { max-width:100%; }
#content .basket .tablewrap table tbody tr td.picture span, #content .order .tablewrap table tbody tr td.picture span {
  width:100px;
  display:block;
  text-align:center;
  padding:3px;
  border:1px solid #eeeeee;
  background:#ffffff;
}
#content .basket .tablewrap table tbody tr td.picture, #content .order .tablewrap table tbody tr td.picture { width:100px; }
#content .basket .tablewrap table tbody tr td.name a, #content .order .tablewrap table tbody tr td.name a {
  display:block;
  margin-bottom:5px;
}
#content .basket .tablewrap table tbody tr td.name .attributes .av, #content .order .tablewrap table tbody tr td.name .attributes .av { font-size:8px; }
#content .basket .tablewrap table tbody tr td.name .attributes, #content .order .tablewrap table tbody tr td.name .attributes {
  font-size:8pt;
  padding:2px 5px;
  border-bottom:1px solid #efefef;
}
#content .basket .tablewrap table tbody tr td.name, #content .order .tablewrap table tbody tr td.name { width:300px; }
#content .basket .tablewrap table tbody tr td.quantity .qtytext, #content .order .tablewrap table tbody tr td.quantity .qtytext {
  line-height:40px;
  display:inline-block;
}
#content .basket .tablewrap table tbody tr td.quantity .qtywrap input:active, #content .basket .tablewrap table tbody tr td.quantity .qtywrap input:focus, #content .order .tablewrap table tbody tr td.quantity .qtywrap input:active, #content .order .tablewrap table tbody tr td.quantity .qtywrap input:focus { outline:none !important; }
#content .basket .tablewrap table tbody tr td.quantity .qtywrap input, #content .order .tablewrap table tbody tr td.quantity .qtywrap input {
  height:38px;
  line-height:30px;
  padding:0 5px;
  padding:0;
  width:35px;
  text-align:center;
  border:1px solid #afafaf;
  margin:0;
  display:block;
  -webkit-border-radius:5px 0px 0px 5px;
  border-radius:5px 0px 0px 5px;
}
#content .basket .tablewrap table tbody tr td.quantity .qtywrap a.plus, #content .order .tablewrap table tbody tr td.quantity .qtywrap a.plus {
  top:0;
  background:#f8f8f8;
  background:-moz-linear-gradient(top,#f8f8f8 0%,#eaeaea 100%);
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#f8f8f8),color-stop(100%,#eaeaea));
  background:-webkit-linear-gradient(top,#f8f8f8 0%,#eaeaea 100%);
  background:-o-linear-gradient(top,#f8f8f8 0%,#eaeaea 100%);
  background:-ms-linear-gradient(top,#f8f8f8 0%,#eaeaea 100%);
  background:linear-gradient(to bottom,#f8f8f8 0%,#eaeaea 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8',endColorstr='#eaeaea',GradientType=0);
  -webkit-border-radius:0px 5px 0px 0px;
  border-radius:0px 5px 0px 0px;
}
#content .basket .tablewrap table tbody tr td.quantity .qtywrap a.minus, #content .order .tablewrap table tbody tr td.quantity .qtywrap a.minus {
  height:18px;
  border-top:none;
  bottom:0;
  background:#eaeaea;
  background:-moz-linear-gradient(top,#eaeaea 0%,#f8f8f8 100%);
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#eaeaea),color-stop(100%,#f8f8f8));
  background:-webkit-linear-gradient(top,#eaeaea 0%,#f8f8f8 100%);
  background:-o-linear-gradient(top,#eaeaea 0%,#f8f8f8 100%);
  background:-ms-linear-gradient(top,#eaeaea 0%,#f8f8f8 100%);
  background:linear-gradient(to bottom,#eaeaea 0%,#f8f8f8 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaeaea',endColorstr='#f8f8f8',GradientType=0);
  -webkit-border-radius:0px 0px 5px 0px;
  border-radius:0px 0px 5px 0px;
}
#content .basket .tablewrap table tbody tr td.quantity .qtywrap a:hover, #content .order .tablewrap table tbody tr td.quantity .qtywrap a:hover { background:#d2d2d2; }
#content .basket .tablewrap table tbody tr td.quantity .qtywrap a, #content .order .tablewrap table tbody tr td.quantity .qtywrap a {
  position:absolute;
  right:0;
  height:19px;
  display:block;
  width:25px;
  text-decoration:none;
  color:#818181;
  text-align:center;
  border:1px solid #afafaf;
  font-size:12pt;
  line-height:18px;
}
#content .basket .tablewrap table tbody tr td.quantity .qtywrap, #content .order .tablewrap table tbody tr td.quantity .qtywrap {
  display:inline-block;
  position:relative;
  padding-right:25px;
  height:40px;
  overflow:hidden;
}
#content .basket .tablewrap table tbody tr td.totaltd .ajax, #content .order .tablewrap table tbody tr td.totaltd .ajax {
  background:url(http://www.elektronickeobojkypropsy.cz/core/template/tech/images/small-ajax.gif);
  width:16px;
  height:16px;
  display:block;
  display:none;
  position:absolute;
  top:10px;
  left:50%;
  margin-left:-8px;
}
#content .basket .tablewrap table tbody tr td.totaltd, #content .order .tablewrap table tbody tr td.totaltd {
  font-weight:bold;
  position:relative;
}
#content .basket .tablewrap table tbody tr td.remove a span, #content .order .tablewrap table tbody tr td.remove a span {
  position:absolute;
  top:0;
  left:0;
  width:16px;
  height:16px;
  background:url(http://www.elektronickeobojkypropsy.cz/core/template/tech/images/delete.png);
  display:block;
}
#content .basket .tablewrap table tbody tr td.remove a, #content .order .tablewrap table tbody tr td.remove a {
  display:block;
  width:16px;
  height:16px;
  overflow:hidden;
  text-indent:1000px;
  position:relative;
}
#content .basket .tablewrap table tbody tr td.remove, #content .order .tablewrap table tbody tr td.remove { word-spacing:16px; }
#content .basket .tablewrap table tbody tr td, #content .order .tablewrap table tbody tr td {
  padding:10px;
  vertical-align:top;
}
#content .basket .tablewrap table tbody tr.even td.name .attributes, #content .order .tablewrap table tbody tr.even td.name .attributes { border-bottom:1px solid #ffffff; }
#content .basket .tablewrap table tbody tr.even td, #content .order .tablewrap table tbody tr.even td { background:#eeeeee; }
#content .basket .tablewrap table, #content .order .tablewrap table { width:100%; }
#content .basket .tablewrap, #content .order .tablewrap {
  border:1px solid #e3e3e3;
  padding:4px;
}

#content .order .fieldset .input input {
	width: 92%;
}


.btn.btn-4 .basket-icon {
  background:url(http://www.elektronickeobojkypropsy.cz/core/template/tech/images/backet-icon.png);
  display:block;
  width:25px;
  height:25px;
}
.btn.btn-4:hover {
  background:#568c00;
  background:-moz-linear-gradient(top,#568c00 0%,#247208 100%);
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#568c00),color-stop(100%,#247208));
  background:-webkit-linear-gradient(top,#568c00 0%,#247208 100%);
  background:-o-linear-gradient(top,#568c00 0%,#247208 100%);
  background:-ms-linear-gradient(top,#568c00 0%,#247208 100%);
  background:linear-gradient(to bottom,#568c00 0%,#247208 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#568c00',endColorstr='#247208',GradientType=0);
}
.btn.btn-4:active {
  background:#4e7f00;
  background:-moz-linear-gradient(top,#4e7f00 0%,#1b5705 100%);
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#4e7f00),color-stop(100%,#1b5705));
  background:-webkit-linear-gradient(top,#4e7f00 0%,#1b5705 100%);
  background:-o-linear-gradient(top,#4e7f00 0%,#1b5705 100%);
  background:-ms-linear-gradient(top,#4e7f00 0%,#1b5705 100%);
  background:linear-gradient(to bottom,#4e7f00 0%,#1b5705 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7f00',endColorstr='#1b5705',GradientType=0);
  -webkit-box-shadow:inset 0px 0px 5px 0px #174905;
  -moz-box-shadow:inset 0px 0px 5px 0px #174905;
  box-shadow:inset 0px 0px 5px 0px #174905;
}
.btn.btn-4.text {
  font-weight:bold;
  text-shadow:1px 1px 0 #2a5e04;
  text-decoration:none;
  font-size:14pt;
  text-align:center;
  padding:20px 40px;
  -webkit-transition:all 300ms;
  -moz-transition:all 300ms;
  transition:all 300ms;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  -moz-background-clip:padding;
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
}
.btn.btn-4 {
  background:#6baf00;
  background:-moz-linear-gradient(top,#6baf00 0%,#2f900c 100%);
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#6baf00),color-stop(100%,#2f900c));
  background:-webkit-linear-gradient(top,#6baf00 0%,#2f900c 100%);
  background:-o-linear-gradient(top,#6baf00 0%,#2f900c 100%);
  background:-ms-linear-gradient(top,#6baf00 0%,#2f900c 100%);
  background:linear-gradient(to bottom,#6baf00 0%,#2f900c 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6baf00',endColorstr='#2f900c',GradientType=0);
  color:#ffffff;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  -moz-background-clip:padding;
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
  display:inline-block;
  padding:8px 10px;
  -webkit-transition:all 300ms;
  -moz-transition:all 300ms;
  transition:all 300ms;
}


.btn.btn-7 span {
  padding-left:20px;
}
.btn.btn-7:hover { background:#c4c4c4; }
.btn.btn-7:active {
  background:#a5a5a5;
  color:#2c2c2c;
}
.btn.btn-7 {
  background:#dadada;
  border:1px solid #c6c6c6;
  color:#575757;
  display:inline-block;
  padding:5px 20px 5px 10px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  -moz-background-clip:padding;
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
  text-shadow:1px 1px 0 #ffffff;
  text-decoration:none;
  text-transform:uppercase;
  font-size:10pt;
  font-weight:bold;
  margin-top:18px;
}