@import "core/template/system/css/functions.less.css";
@import "core/template/system/css/tni.less-functions.less.css";
@import "core/template/system/css/reset.less.css";

@import "bootstrap/css/bootstrap.less";

@import "font-awesome/less/variables.less";
@import "font-awesome/less/mixins.less";
@import "font-awesome/less/path.less";
@import "font-awesome/less/core.less";
@import "font-awesome/less/bootstrap.less";
@import "font-awesome/less/extras.less";
@import "font-awesome/less/icons.less";


body {
	padding-top: 95px;
}

#header {
	#topnav {
		margin-bottom: 0;

		&.navbar {
			.navbar-inner {
				min-height: 0;

				.nav {
					&>li {
						&>a {
							padding: 5px 15px 5px;
						}
					}
				}
			}
		}
	}

	#basket {
		min-width: 220px;
		margin-left: 20px;

		span {
			display: block;

			&.title {
				font-weight: bold;
			}

			i {
				font-size: 30px;
			}
		}
	}

	.navbar-form {
		margin-bottom: 5px;
	}
}


#main {
	.sidebar {
		.block {
			margin-bottom: 50px;

			.title {
				margin: 0 0 10px 0;
				h3 {
					margin: 0;
					padding: 0;
					font-size: 18px;
					line-height: 1;
				}
			}

			.customer {
				.customerinfo {
					strong {
						display: block;
					}

					.actions {
						margin-top: 10px;
					}
				}
			}

			.products {
				.thumbnail {
					margin-bottom: 20px;

					h3 {
						margin: 0;
						padding: 0 0 10px 0;
						font-size: 15px;
						line-height: 1.2;
					}

					img {
						max-width: 100%;
					}

					.price {
						strong {
							font-size: 15px;
							display: block;
							line-height: 30px;
						}
					}
				}
			}

			.poll {
				.question {
					font-weight: bold;
					margin: 0;
					padding: 0;
				}

				ul {
					margin: 0;
					padding: 0;

					li {
						margin: 0;
						padding: 0;
						list-style: none;
						font-size: 12px;

						small {
							color: #c2c2c2;
							font-size: 11px;
						}

						.progress {
							margin-bottom: 5px;
						}
					}
				}
			}

			.pages {
				ul {
					li {
						a {
							.icon-chevron-right {
								float: right;
								margin-top: 2px;
								margin-right: -6px;
								opacity: .25;
							}
						}

						&.active {
							&>a {
								&>.icon-chevron-right {
									opacity: 1;
								}
							}
						}

						ul {
							margin: 0;

							li {
								a {
									padding-left: 30px;
									-webkit-border-radius: 0;
									border--radius: 0;
									-webkit--radius: 0;
									padding-top: 5px;
									padding-bottom: 5px;
								}

								&:first-child {
									a {
										border-top: 0;
									}
								}

								&:last-child {
									a {
										border-bottom: 0;
									}
								}

								ul {
									li {
										a {
											padding-left: 50px;
										}

										ul {
											li {
												a {
													padding-left: 80px;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}

			.basket {
				.smaller {
					font-size: 12px;

					.attributes {
						font-size: 11px;
					}

					.price {
						font-size: 13px;
						font-weight: bold;
					}
				}
			}

			.contact {
				.bc-email {
					display: none;
				}
			}
		}
	}


	/**
	 * Pages
	 */
	.page-customer {
		.customer-name {
			margin: 0;
			padding: 0;
			line-height: 1.2;
		}
	}

	.customer-order {
		.thumbnail {
			margin-bottom: 10px;
		}
	}

	/**
	 * Detail stranky
	 */
	.subpages {
		li {
			a {
				span, div {
					&.shortdesc {
						font-size: 11px !important;
						display: block;
					}

					&.date {
						display: block;
					}
				}
			}

			.shortdesc {
				font-size: 11px !important;
				display: block;
			}
		}

		img {
			max-width: 100%;
		}

		&.gallery {
			text-align: center;
		}
	}

	/**
	 * Detail produktu
	 */
	.productdetail {

		.files {
			margin: 0;
			padding: 0;
			font-size: 0;

			li {
				font-size: 12px;
				margin: 0 5px 5px 0;
				padding: 0;
				list-style: none;
				display: inline-block;

				&.smallpic {
					width: auto;

					.thumbnail {
						a {
							display: block;
							width: 55px;
							height: 55px;
							overflow: hidden;
						}
					}
				}
			}
		}

		.labels {
			margin-top: -25px;
			margin-bottom: 25px;
		}

		.sharelinks {
			margin-bottom: 10px;
		}

		.product-info {
			.product-title {
				font-size: 15px;
				margin: 0;
				padding: 0 0 10px 0;
				line-height: 1.2;

				small {
					font-size: 12px;
				}
			}

			.shortdesc {
				font-size: 13px;
				font-style: italic;
				text-align: justify
			}

			.description {
				text-align: justify;
			}
		}

		.variants-table {
			tr {
				td, th {
					padding: 0;

					.product-variant {
						margin: 0;
						padding: 8px;
						line-height: 1;
						
						.row-fluid [class*="span"] {
							min-height: 0;
						}

						input {
							margin-top: 0;
						}
					}
				}
			}
		}

		
	}

	/**
	 * Vypis produktu
	 */
	 .filter {
	 	margin: 20px 0;
	 }

	.products {
		.product {
			&.product-promote {
				.thumbnail {
					background: #fcf8e3;
					border-color: #858585;
				}
			}
		}

		.thumbnail {
			margin-bottom: 10px;

			.image {
				position: relative;
				display: block;
				text-align: center;
				padding: 5px;
				border: 1px solid #ddd;
				height: 200px;
				margin-bottom: 5px;

				img {
					max-width: 100%;
				}

				.discount {
					position: absolute;
					top: 2px;
					left: 2px;
				}

				.labels {
					position: absolute;
					top: 2px;
					right: 2px;
					max-width: 70%;

					.label {
						float: right;
						margin-bottom: 2px;
					}
				}
			}

			.name {
				margin: 0 0 10px 0;
				padding: 0;
				font-size: 13px;
				line-height: 1.2;
				height: 2.4em;
				overflow: hidden;
			}

			.description {
				font-size: 11px;
				line-height: 1.3;
				height: 6.1em;
				margin-bottom: 10px;
				overflow: hidden;

				p, span, * {
					margin: 0 !important;
					padding: 0 !important;
					font-size: 11px !important;
				}
			}

			.price {
				font-size: 18px;
				font-weight: bold;
				line-height: 1;
			}

			.availability {
				font-size: 10px;
				font-weight: bold;
				line-height: 1.3;
			}
		}

		.table {
			tr {
				td {
					font-size: 12px;
				}
			}
		}

		&.products-4cols {
			.thumbnail {
				.image {
					height: 120px;
				}
				.price {
					font-size: 12px;
				}
			}
		}

		&.products-1cols {
			.thumbnail {
				position: relative;

				.name {
					height: auto;
					overflow: none;
					font-size: 15px;
					line-height: 1.3;

					&.with-discount {
						padding-right: 70px;
					}
				}

				.labels {
					margin-top: -10px;
					margin-bottom: 10px;
				}

				.discount {
					position: absolute;
					top: -5px;
					right: -5px;
					font-size: 25px;
					padding: 15px 5px;
				}

				.price {
					display: block;
					font-size: 30px;
				}
			}
		}

		&.products-2cols {
			.thumbnail {
				.image {
					height: 300px;
				}
			}
		}
	}

	.main-cols-1 {
		.products {
			&.products-4cols {
				.thumbnail {
					.image {
						height: 180px;
					}

					.price {
						font-size: 20px;
					}
				}
			}
		}
	}

	.main-cols-3 {
		.products {
			&.products-3cols {
				.thumbnail {
					.image {
						height: 110px;
					}

					.bottom-row {
						&>div {
							width: 100%;
							margin: 0;
							padding: 0;

							.availability {
								margin-bottom: 5px;
							}
							.pull-right {
								float: left;
							}
						}
					}
				}
			}
		}
	}
}


#footer {
	padding: 30px 0;
	margin-top: 70px;
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5;

	.subfooter {
		font-size: 10px;
		line-height: 1.2;
		text-align: center;
		padding-top: 20px;
		margin-top: 20px;
		border-top: 1px solid #e3e3e3;

		p {
			margin: 0;
			padding: 0;
		}
	}
}