* { background: transparent !important; color: #444 !important; text-shadow: none; }
  
#topnav, #mainnav, #col1, #col3, #toplinks, #bottomlinks { display: none; }

#col2 { margin: 0; }

a, a:visited { color: #444 !important; text-decoration: underline; }

pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }

img { page-break-inside: avoid; }

@page { margin: 0.5cm; }

p, h2, h3 { orphans: 3; widows: 3; }

h2, h3{ page-break-after: avoid; }

.productdetail-promote h1.name { padding-left: 0; }

.productdetail .basket fieldset.buy { display: none; }
