/* global */
@bgcolor: #ffffff;
@fontcolor: #444444;
@linkcolor: #9ab02d;
@linkhovercolor: #6a791f;
@width: 980px;

/* general colors */
@color1: #f0f0f0;
@color2: #d6d6d6;

/* #topnav */
@topnav-gradient-top: #f8f8f8;
@topnav-gradient-bottom: #f0f0f0;
@topnav-bordercolor: #d6d6d6;
@topnav-radius: 6px;

/* #banner */
@banner-gradient-top: #ffffff;
@banner-gradient-bottom: #dfdfdf;
@banner-radius: 6px;
@banner-fontcolor: #888888;
@banner-image: none;
@banner-input: #ffffff;

/* .logo */
@logo-fontsize: 200%;
@logo-fontcolor: #444444;
@logo-image: none;

/* #mainnav */
@mainnav-gradient-top: #aec738;
@mainnav-gradient-bottom: #9ab12d;
@mainnav-bordercolor: #6a7a1f;
@mainnav-radius: 6px;
@mainnav-linkcolor: #ffffff;
@mainnavdropdown-bordercolor: #aec738;
@mainnavdropdown-backgroundcolor: #9ab12d;
@mainnavdropdown-linkcolor: #ffffff;

/* .block */
@block-gradient-top: #aec738;
@block-gradient-bottom: #9ab12d;
@block-bordercolor: #6a7a1f;
@block-radius: 6px;
@block-fontcolor: #ffffff;
@blockcontent-bordercolor: #d6d6d6;
@blockcontent-backgroundcolor: #ffffff;

/* footer */
@footer-backgroundcolor: #f0f0f0;
@footer-bordercolor: #d6d6d6;
@footer-radius: 6px;
@footer-fontcolor: #888888;

/* .button */
@button-gradient-top: #aec738;
@button-gradient-bottom: #9ab12d;
@button-bordercolor: #6a7a1f;
@button-fontcolor: #ffffff;
@button-radius: 3px;

/* .basket */
@basket-gradient-top: #f0f0f0;
@basket-gradient-bottom: #e2e2e2;
@basket-bgcolor: #f0f0f0;
@basket-bordercolor: #d6d6d6;

/* .poll */
@poll-bgcolor: #999999;
