html {
	overflow: hidden;
	height: 100%;
}
body {
	height: 100%;
}
#container {
	padding: 0 !important;
	height: 100%;
}

/* File Manager */

#fileManager {
	border: none;
	position: relative;
	-khtml-user-select: none;
	-moz-user-select: none;
}
#fileManager .leftColumn {
	background: #f1f1f1;
	border-right: 1px solid #ccc;
	float: left;
	width: 200px;
}
#fileManager .rightColumn {
	margin-left: 200px;
}
#fileManager .toolbar {
	background: #efefef url(images/list-thead-bg.gif) repeat-x bottom left;
	border-bottom: 1px solid #ccc;
	line-height: 16px;
	height: 28px;
	padding: 0 0 0 3px !important;
}
#fileManager .toolbar a {
	padding: 4px 3px 3px 23px;
	margin-right: 3px;
	margin-top: 2px;
	background-position: 3px center;
	background-repeat: no-repeat;
	color: #2a2a2a;
	text-decoration: none;
	font-size: 90%;
	float: left;
}
#fileManager .toolbar a.pressed {
	padding: 3px 3px 3px 23px;
	border: 1px solid #aaa;
	border-width: 1px 0 0 1px;
	background-color: #ddd;
}
#fileManager .toolbar a:hover {
	background-color: #ddd;
}
#fileManager .toolbar a.right {
	float: right;
}
#fileManager .toolbar a.ico-new-folder {
	background-image: url(icons/folder--plus.png);
}
#fileManager .toolbar a.ico-list {
	background-image: url(icons/ui-scroll-pane-list.png);
	padding-left: 16px;
}
#fileManager .toolbar a.ico-thumbs {
	background-image: url(icons/ui-scroll-pane-image.png);
	padding-left: 16px;
}
#fileManager .toolbar a.ico-reload {
	background-image: url(icons/arrow-circle-double.png);
	padding-left: 16px;
}
#fileManager .toolbar a.ico-upload {
	background-image: url(icons/add.png);
}
#fileManager .toolbar a.ico-select-all {
	background-image: url(icons/tick.png);
}
#fileManager .toolbar a.ico-unselect-all {
	background-image: url(icons/cross.png);
}
#fileManager .toolbar a.ico-delete {
	background-image: url(icons/minus-circle.png);
}
#fileManager .toolbar a.ico-search {
	background-image: url(icons/magnifier.png);
	padding-left: 16px;
}
#fileManager .toolbar .sep {
	border: 1px solid #eee;
	border-left-color: #ccc;
	margin: 4px 7px 0 5px;
	float: left;
	height: 16px;
}
#fileManager .files-loading {
	background: transparent url(images/loader.gif) no-repeat center center;
}
#fileManager .folders {
	position: relative;
}
#fileManager .folders ul {
	margin: 0;
	padding: 2px;
	overflow-y: auto;
	list-style: none;
}
#fileManager .folders ul li {
	margin: 0;
}
#fileManager .folders ul li span {
	display: block;
	padding: 5px 0;
	padding-left: 24px;
	background: url(icons/folder.png) no-repeat 4px 3px;
	cursor: pointer;
	-khtml-user-select: none;
	-moz-user-select: none;
}
#fileManager .folders ul li input.textbox {
	margin: 2px 0;
	padding: 2px 0;
	padding-left: 22px;
	border: 1px solid #80aebb;
	background: #fff url(icons/folder.png) no-repeat 3px 0px;
}
#fileManager .folders ul li div.opened span {
	background-image: url(icons/folder-open.png);
}
#fileManager .folders ul li div:hover {
	background-color: #d6e9ee;
}
#fileManager .folders ul li div.selected {
	background-color: #d6d6d6;
}
#fileManager .folders ul li ul {
	padding: 0;
	display: none;
}

#fileManager .files ul {
	margin: 0;
	padding: 5px;
	overflow-y: scroll;
	list-style: none;
}
#fileManager .files ul li {
	float: left;
	margin: 0 15px 15px 0;
	cursor: default;
	position: relative;
	-khtml-user-select: none;
	-moz-user-select: none;
}
#fileManager .files ul li .checkbox {
	float: left;
}
#fileManager .files ul li .wrap {
	background: #fff;
	border: 1px solid #eee;
	border-bottom-color: #bbb;
	border-right-color: #bbb;
	padding: 4px;
	width: 105px;
}
#fileManager .files ul li:hover .wrap {
	background-color: #f1f1f1;
}
#fileManager .files ul li.disabled:hover .wrap {
	background-color: #fff;
}
#fileManager .files ul li .img-wrap {
	float: right;
	height: 80px;
	width: 80px;
	line-height: 80px;
	border: 1px solid #eee;
	background: #fff;
	padding: 1px;
	text-align: center;
}
#fileManager .files ul li .img-wrap img {
	vertical-align: middle;
	margin: auto 0;
}
#fileManager .files ul li.selected .wrap,
#fileManager .files ul li.active .wrap {
	background-color: #d6e9ee;
	border-color: #d0dde1;
	border-bottom-color: #80aebb;
	border-right-color: #80aebb;
}
#fileManager .files ul li.selected .img-wrap,
#fileManager .files ul li.active .img-wrap {
	border-color: #fff;
}
#fileManager .files ul li .name {
	display: block;
	text-align: center;
	margin: 3px 0 0 0;
	font-size: 90%;
	overflow: hidden;
	width: 127px;
	height: 2.4em;
}
#fileManager .files ul li .textbox {
	width: 121px;
	margin-top: 3px;
	padding: 0 2px;
	border: 1px solid #80aebb;
	font-size: 90%;
	text-align: center;
	height: 2.2em;
	outline: none;
}
#fileManager .files ul.list li {
	float: none;
	margin: 0;
	border-bottom: 1px solid #ddd;
	padding: 4px 2px;
	line-height: 16px;
	background: url(icons/document.png) no-repeat 20px center;
}
#fileManager .files ul.list li.selected,
#fileManager .files ul.list li.active {
	background-color: #d6e9ee;
	border-color: #fff;
}
#fileManager .files ul.list li .checkbox {
	float: none;
	margin: 0 10px 0 0;
}
#fileManager .files ul.list li .name {
	display: inline;
	text-align: left;
	margin: 0 0 0 20px;
	width: auto;
	height: auto;
}
#fileManager .files ul.list li .textbox {
	width: 90%;
	margin: 0 0 0 20px;
	padding: 1px 2px;
	text-align: left;
	height: auto;
	outline: none;
}
#fileManager .files ul.list li.ext-jpg,
#fileManager .files ul.list li.ext-jpeg,
#fileManager .files ul.list li.ext-gif,
#fileManager .files ul.list li.ext-png {
	background-image: url(icons/image.png);
}
#fileManager .files ul.list li.ext-pdf {
	background-image: url(icons/document-pdf.png);
}
#fileManager .files ul.list li.ext-doc,
#fileManager .files ul.list li.ext-docx,
#fileManager .files ul.list li.ext-odt {
	background-image: url(icons/document-word.png);
}
#fileManager .files ul.list li.ext-xls,
#fileManager .files ul.list li.ext-xlsx,
#fileManager .files ul.list li.ext-ods {
	background-image: url(icons/document-excel.png);
}
#fileManager .files ul.list li.ext-ppt,
#fileManager .files ul.list li.ext-pptx {
	background-image: url(icons/document-powerpoint.png);
}
#fileManager .files ul.list li.ext-zip,
#fileManager .files ul.list li.ext-rar {
	background-image: url(icons/document-zipper.png);
}
#fileManager .files ul.list li.ext-html,
#fileManager .files ul.list li.ext-css,
#fileManager .files ul.list li.ext-php {
	background-image: url(icons/document-code.png);
}
#fileManager .files ul.list li.ext-txt {
	background-image: url(icons/document-text.png);
}
#fileManager .files ul.list li.ext-psd {
	background-image: url(icons/document-photoshop.png);
}
#fileManager .files ul.list li.ext-swf{
	background-image: url(icons/document-flash.png);
}
#fileManager .files ul.list li.ext-flv,
#fileManager .files ul.list li.ext-mp4,
#fileManager .files ul.list li.ext-video {
	background-image: url(icons/film.png);
}
#fileManager .files ul li.empty-folder {
	float: none;
	display: block;
	width: auto;
	padding: 10px;
	border: 1px solid #ddd;
	margin: 0;
	background: #fff;
	line-height: 16px;
}
#fileManager .files ul li.empty-folder .icon {
	float: left;
	margin: 0 10px 0 0;
}


#fileManager .contextMenu {
	position: absolute;
	z-index: 110010;
	top: 60px;
	left: 40px;
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	padding: 1px;
	background: #fff;
	-khtml-user-select: none;
	-moz-user-select: none;
}
#fileManager .contextMenu div.menu-wrap {
	padding: 1px;
	border: 1px solid #ddd;
	width: 100px;
}
#fileManager .contextMenu div.menu-wrap a {
	display: block;
	border-bottom: 1px solid #ddd;
	padding: 4px 4px 4px 25px;
	color: #2a2a2a;
	background-position: 2px center;
	background-repeat: no-repeat;
	font-size: 90%;
	text-decoration: none;
	-khtml-user-select: none;
	-moz-user-select: none;
}
#fileManager .contextMenu div.menu-wrap a.btn-rename {
	background-image: url(icons/ui-text-field.png);
}
#fileManager .contextMenu div.menu-wrap a.btn-editor {
	background-image: url(icons/paint-can.png);
}
#fileManager .contextMenu div.menu-wrap a.btn-delete {
	background-image: url(icons/cross.png);
}
#fileManager .contextMenu div.menu-wrap a.btn-download {
	background-image: url(icons/download.png);
}
#fileManager .contextMenu div.menu-wrap a.btn-preview {
	background-image: url(icons/image.png);
}
#fileManager .contextMenu div.menu-wrap a.last {
	border-bottom: 0;
}
#fileManager .contextMenu div.menu-wrap a:hover {
	background-color: #d6e9ee;
}
#fileManager .contextMenu .arrow-top {
	position: absolute;
	top: -6px;
	left: 5px;
}
#fileManager .contextMenu .arrow-bottom {
	position: absolute;
	bottom: -6px;
	left: 5px;
	display: none;
}
#fileManager .contextMenu-onTop {
	top: -70px;
}
#fileManager .contextMenu-onTop .arrow-top {
	display: none;
}
#fileManager .contextMenu-onTop .arrow-bottom {
	display: block;
}
#fileManager .contextMenu-onLeft {
	left: auto;
	right: 20px;
}
#fileManager .contextMenu-onLeft .arrow-top,
#fileManager .contextMenu-onLeft .arrow-bottom {
	left: auto;
	right: 5px;
}

#fileManager .list .contextMenu,
#fileManager .list .contextMenu-onLeft {
	top: 17px;
	left: 17px;
	right: auto;
}
#fileManager .list .contextMenu-onLeft .arrow-top,
#fileManager .list .contextMenu-onLeft .arrow-bottom {
	left: 5px;
	right: auto;
}
#fileManager .folders .contextMenu,
#fileManager .folders .contextMenu-onLeft {
	top: 5px;
	left: 15px;
	right: auto;
}

#fileManager .preview {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #f1f1f1 url(images/image-bg.gif);
	z-index: 110020;
	text-align: center;
	-khtml-user-select: none;
	-moz-user-select: none;
}
#fileManager .preview .preview-img {
	background: transparent;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 27px;
	padding: 10px;
	overflow: auto;
}
#fileManager .preview .preview-info {
	position: absolute;
	top: 15px;
	right: 22px;
	padding: 7px 10px 7px 3px;
	background: #fff;
	background-color: rgba(255, 255, 255, 0.7);
	border: 1px solid #aaa;
	border-color: rgba(0, 0, 0, 0.3);
	color: #afafaf;
	font-size: 90%;
	text-align: left;
	line-height: 140%;

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
#fileManager .preview .preview-info .preview-name {
	font-weight: bold;
}
#fileManager .preview .preview-info .preview-block {
	float: left;
	border-right: 1px solid #3f3f3f;
	padding-right: 15px;
	margin-right: 15px;
}
#fileManager .preview .preview-info .preview-block-last {
	display: none;
	border-right: 0;
}
#fileManager .preview .preview-info a {
	float: right;
	width: 16px;
	height: 16px;
	margin-left: 7px;
	cursor: pointer;
}
#fileManager .preview .preview-info .preview-close {
	background: url(icons/cross.png) no-repeat left center;
}
#fileManager .preview .preview-info .preview-plus {
	background: url(icons/magnifier-zoom-in.png) no-repeat left center;
}
#fileManager .preview .preview-info .preview-minus {
	background: url(icons/magnifier-zoom-out.png) no-repeat left center;
}

#fileManager .fileManagerInfo {
	background: #dedede;
	border-top: 1px solid #ccc;
	height: 58px;
}
#fileManager .fileManagerInfo .imagesize {
	float: right;
	margin: 22px 10px 0 0;
}
#fileManager .fileManagerInfo .selectBtn {
	float: right;
	margin: 17px 17px 0 0;
	color: #fff;
	text-decoration: none;
}
#fileManager .fileManagerInfo .button-disabled {
	opacity: 0.5;
}
#fileManager .fileManagerInfo .loader-inline {
	width: 100%;
	height: 58px;
	background: url(images/loader-inline.gif) no-repeat center center;
}
#fileManager .fileManagerInfo .smallpreview {
	width: 48px;
	height: 48px;
	text-align: center;
	margin: 5px 5px 5px 15px;
	float: left;
}
#fileManager .fileManagerInfo .smallpreview img {
	margin: 0 auto;
	max-height: 48px;
	max-width: 48px;
}
#fileManager .fileManagerInfo .basicinfo {
	float: left;
	width: 25%;
	overflow: hidden;
	margin: 13px 0 0 10px;
	font-size: 90%;
}
#fileManager .fileManagerInfo .basicinfo-long {
	width: auto;
}
#fileManager .fileManagerInfo .basicinfo strong,
#fileManager .fileManagerInfo .basicinfo span {
	display: block;
	margin-bottom: 5px;
}
#fileManager .fileManagerInfo .extinfo {
	float: left;
	width: 22%;
	overflow: hidden;
	margin: 8px 0 0 10px;
	font-size: 90%;
}
#fileManager .fileManagerInfo .extinfo div {
	clear: left;
	padding-top: 5px;
}
#fileManager .fileManagerInfo .extinfo div span {
	float: left;
	width: 85px;
	text-align: right;
	margin-right: 7px;
	color: #505050;
}
#fileManager .fileManagerInfo .extinfo div strong {
	float: left;
}

#fileManager .files ul li.searchTitle {
	margin: 0 0 5px 0;
	padding: 10px;
	background: #fff;
	border: 1px dotted #bbb;
	float: none;
	display: block;
	width: auto;
	line-height: 16px;
}
#fileManager .files ul li.searchTitle span {
	float: right;
}

#fileManager .files .over-icon {
	display: none;
}
#fileManager .files .ext-video .img-wrap {
	position: relative;
}
#fileManager .files .ext-video .img-wrap .over-icon {
	display: block;
	position: absolute;
	bottom: 8px;
	right: 8px;
	width: 16px;
	height: 16px;
	background: transparent url(icons/film.png) no-repeat center center;
	opacity: 0.9;
}

.fileManagerUpload {
	width: 350px;
	margin: 10px auto;
}
.fileManagerUpload .progress-bar {
	width: 350px;
	line-height: 200%;
	border: 1px solid #aaa;
	background: #f1f1f1;
	text-align: center;
	position: relative;
	margin: 0 auto;
}
.fileManagerUpload .progress-bar .inner {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 0;
	background: #aaa;
	overflow: hidden;
}
.fileManagerUpload .progress-bar .inner span {
	width: 350px;
	display: block;
	color: #fff;
}
.fileManagerUpload .infoWrap {
	width: 350px;
	height: 1.2em;
	margin: 5px auto 15px auto;
	overflow: hidden;
	font-size: 90%;
}
.fileManagerUpload .info {
	width: 240px;
	overflow: hidden;
}
.fileManagerUpload .estTime {
	float: right;
	color: #666;
}
.fileManagerUpload .help {
	font-size: 90%;
	color: #666;
	margin: 15px 0 0 0;
}
.fileManagerUpload .uploadifyQueue {
	display: none;
}

.fileManagerSearch {
	padding: 10px;
	margin: 0;
}
.fileManagerSearch span {
	display: block;
	margin-bottom: 5px;
}