html {
	overflow: auto;
}

#iframewrap {
	background: #fff;
}

#sidebar {
	background: #fff;
	border-right: 1px solid #aaa;
	overflow: auto;
	float: left;
	width: 250px;
}

#main {
	background: #fff;
	border: none;
	padding: 0;
	margin-left: 251px;
}

#ifrfoot {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 45px;
	line-height: 45px;
	background: #ccc;
	text-align: right;
	padding-right: 15px;
}

.tbar {
	background: #ccc;
	border-bottom: 1px solid #aaa;
	height: 25px;
	line-height: 25px;
	padding: 0 10px;
}
.tbar h3 {
	margin: 0;
}