@import "sqc/template/system/css/functions.less.css";

#product-tabs {
	
	div.tabs {
		margin: 20px 0 -1px 0;
		border-bottom: 1px solid #dadada;
		
		ul {
			margin: 0 0 0 0;
			padding: 0 20px;
			list-style: none;
			width: 100%;
			display: block;
			font-size: 0;
			
			li {
				margin-right: 2px;
				display: inline-block;
				font-size: 11pt;
				
				a {
					color: #3e3e3e;
					display: block;
					padding: 11px 22px;
					-webkit-border-radius: 5px 5px 0px 0px;
					border-radius: 5px 5px 0px 0px;
					background: #fff;
					text-decoration: none;
					border: none;
					font-weight: bold;
					border-bottom: none;
					line-height: 1;
				}
			}
			
			li.active {
				border-bottom: 1px solid #fff;
				margin-bottom: -2px;
				
				a {
					color:#2f4b78;
					border: 1px solid #dadada;
					background: #fff;
					border-bottom: none;
				}
			}
		}
	}
	
	div.tab {
		padding: 30px 0;
		margin: 0;
		display: none;
	}
	
	div.description {
		display: block;
		border-top: none !important;
	}
	
}