/* Functions */
@gradient(@top: #ffffff; @bottom: #000000){
	background-image: -webkit-gradient(linear, left top, left bottom, from(@top), to(@bottom));
	background-image: -moz-linear-gradient(@top, @bottom);
	-pie-background: linear-gradient(@top, @bottom);
}
@gradient-image(@top: #ffffff; @bottom: #000000; @image: transparent){
	background: @image no-repeat center center, -webkit-gradient(linear, left top, left bottom, from(@top), to(@bottom));
	background: @image no-repeat center center, -moz-linear-gradient(@top, @bottom);
	-pie-background: @image no-repeat center center, linear-gradient(@top, @bottom);
}
@radius(@size: 6px){
	-webkit-border-radius: @size;
	-moz-border-radius: @size;
	border-radius: @size;
}
@radius-bottom(@size: 6px){
	-moz-border-radius-bottomleft: @size;
	-moz-border-radius-bottomright: @size;
	-webkit-border-bottom-left-radius: @size;
	-webkit-border-bottom-right-radius: @size;
	border-radius: 0 0 @size @size;
}
@radius-top(@size: 6px){
	-moz-border-radius-topleft: @size;
	-moz-border-radius-topright: @size;
	-webkit-border-top-left-radius: @size;
	-webkit-border-top-right-radius: @size;
	border-radius: @size @size 0 0;
}
@boxshadow(@h: 0; @v: 0; @blur: 3px; @color: #444){
	-webkit-box-shadow: @h @v @blur @color;
	-moz-box-shadow: @h @v @blur @color;
	box-shadow: @h @v @blur @color;
}
@boxshadow-inset(@h: 0; @v: 0; @blur: 3px; @color: #444){
	-webkit-box-shadow: inset @h @v @blur @color;
	-moz-box-shadow: inset @h @v @blur @color;
	box-shadow: inset @h @v @blur @color;
}
@text-shadow(@h: 0; @v: 0; @blur: 3px; @color: #444){
	text-shadow: @h @v @blur @color;
}