/* global */
@bgcolor: none;
@fontcolor: #444444;
@linkcolor: #0c81b6;
@linkhovercolor: #444444;
@width: 980px;

/* general colors */
@color1: #f0f0f0;
@color2: #d6d6d6;

/* #topnav */
@topnav-gradient-top: #ffffff;
@topnav-gradient-bottom: #ffffff;
@topnav-bordercolor: #ffffff;
@topnav-radius: 0;

/* #banner */
@banner-gradient-top: #555555;
@banner-gradient-bottom: #222222;
@banner-radius: 5px;
@banner-fontcolor: #ffffff;
@banner-image: none;
@banner-input: #ffffff;

/* .logo */
@logo-fontsize: 100%;
@logo-fontcolor: #ffffff;
@logo-image: url("__base__files/logo.jpg");

/* #mainnav */
@mainnav-gradient-top: #222222;
@mainnav-gradient-bottom: #222222;
@mainnav-bordercolor: #22222;
@mainnav-radius: 5px;
@mainnav-linkcolor: #ffffff;
@mainnavdropdown-bordercolor: #2b2b2b;
@mainnavdropdown-backgroundcolor: #2b2b2b;
@mainnavdropdown-linkcolor: #ffffff;

/* .block */
@block-gradient-top: #555555;
@block-gradient-bottom: #222222;
@block-bordercolor: #9a993c;
@block-radius: 5px;
@block-fontcolor: #ffffff;
@blockcontent-bordercolor: #e6e6e6;
@blockcontent-backgroundcolor: #e6e6e6;

/* footer */
@footer-backgroundcolor: #d6d6d6;
@footer-bordercolor: #d6d6d6;
@footer-radius: 5px;
@footer-fontcolor: #757575;

/* .button */
@button-gradient-top: #109fe0;
@button-gradient-bottom: #0c81b6;
@button-bordercolor: #0c81b6;
@button-fontcolor: #FFFFFF;
@button-radius: 5px;

/* .basket */
@basket-gradient-top: #f0f0f0;
@basket-gradient-bottom: #e2e2e2;
@basket-bgcolor: #f0f0f0;
@basket-bordercolor: #d6d6d6;

/* .poll */
@poll-bgcolor: #999999;





