@import "sqc/template/system/css/functions.less.css";

#product-tabs {

	.nav {
		font-size:18px;

		li {
			border: none;
			margin-right: 10px;

			a {
				padding: 10px 20px;
				border: none;
				background: #e7e7e7; /* Old browsers */
				background: -moz-linear-gradient(top,  #e7e7e7 0%, #c3c3c3 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7e7e7), color-stop(100%,#c3c3c3)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #e7e7e7 0%,#c3c3c3 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #e7e7e7 0%,#c3c3c3 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #e7e7e7 0%,#c3c3c3 100%); /* IE10+ */
				background: linear-gradient(to bottom,  #e7e7e7 0%,#c3c3c3 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e7', endColorstr='#c3c3c3',GradientType=0 ); /* IE6-9 */
				color: #606060;
				text-shadow:1px 1px #fff;
			}

			&.active {
				border: none;
				a {
					border: none;
					background: #4f3b29;
					color: #fff;
					text-shadow:1px 1px #2f2319;
				}
			}
		}
	}
	
	div.tabs {
		margin: 20px 0 -1px 0;
		border-bottom: 1px solid #dadada;
		
		ul {
			margin: 0 0 0 0;
			padding: 0 20px;
			list-style: none;
			width: 100%;
			display: block;
			font-size: 0;
			
			li {
				margin-right: 2px;
				display: inline-block;
				font-size: 11pt;
				
				a {
					color: #3e3e3e;
					display: block;
					padding: 11px 22px;
					-webkit-border-radius: 5px 5px 0px 0px;
					border-radius: 5px 5px 0px 0px;
					background: #fff;
					text-decoration: none;
					border: none;
					font-weight: bold;
					border-bottom: none;
					line-height: 1;
				}
			}
			
			li.active {
				border-bottom: 1px solid #fff;
				margin-bottom: -2px;
				
				a {
					color:#2f4b78;
					border: 1px solid #dadada;
					background: #fff;
					border-bottom: none;
				}
			}
		}
	}
	
	div.tab {
		padding: 30px 0;
		margin: 0;
		display: none;
	}
	
	div.description {
		display: block;
		border-top: none !important;
	}
	
}