@import "core/template/system/css/functions.less.css";
@import "core/template/system/css/reset.less.css";

/* 
 * minimal base styles 
 */

body { background-color: @bgcolor; }

body { color: @fontcolor; }

h1,h2,h3,h4,h5,h6 { font-weight: bold; text-rendering: optimizeLegibility; }

html { -webkit-font-smoothing: antialiased; }

a:hover, a:active { outline: none; }

a, a:active, a:visited { color: @linkcolor; }

a:hover { color: @linkhovercolor; text-decoration: none; }

ul { margin-left:30px; }
ol { margin-left:30px; list-style-type: decimal; }

small { font-size:85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align:top; } 

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { 
  padding: 15px; 
  
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}

input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; *vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

label, input[type=button], input[type=submit], button { cursor: pointer; }

a:link { -webkit-tap-highlight-color: #FF5E99; } 

/* always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; font: 12px sans-serif; }
 
/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }



/* 
 * Non-semantic helper classes 
 */

/* for image replacement */
.ir { display:block; text-indent:-999em; overflow:hidden; background-repeat: no-repeat; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display:none; visibility:hidden; } 

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/ 
   Solution from: j.mp/visuallyhidden - Thanks Jonathan Neal! */
.visuallyhidden { position:absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX << */
.clearfix:after { content: "."; display: block; height: 0; line-height: 0; font-size: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
.clearfix { display: block; }


/* == Primary Styles == */

body.fontsize-small {
	font-size: 11px;
}
body.fontsize-big {
	font-size: 14px;
}

body {
	background: @pagecolor;
}

#container {
	position: relative;
	width: @width;
	margin: 0 auto;
	padding: 0 10px;
	background: @bgcolor;
	border: 1px solid @pagecolor - #111;
	border-width: 0 1px;
}

#topnav {
	
	.wrap {
		width: @width;
		height: 28px;
		margin: 0 auto;
		background: @topnav-backgroundcolor;
		border-bottom: 1px solid @topnav-bordercolor;
		
		a {
			color: @fontcolor;
		}
	}
	
	ul {
		margin: 0;
		height: 28px;
		line-height: 28px;
		list-style: none;
		float: right;
		
		li {
			display: inline;
			margin-right: 10px;
			
			a {
				padding-left: 15px;
			}
		}
	}
	
	.cart {
		float: right;
		height: 28px;
		line-height: 28px;
		background: url({@tplbase}images/icon-cart-small-gray.gif) no-repeat 10px center;
		padding: 0 10px 0 30px;
		
		.t {
			display: none;
		}
		
		small {
			font-size: 100%;
		}
	}
	
	.checkout {
		float: right;
		line-height: 28px;	
		padding: 0 10px;
		
		a {
			font-weight: bold;
		}
	}
}

#banner {
	height: 90px;
	margin: 0;
	
	.wrap {
		width: @width;
		height: 90px;
		margin: 0 auto;
		background: @banner-gradient-top @banner-image no-repeat center center;
		@gradient-image(@banner-gradient-top; @banner-gradient-bottom; @banner-image);
		
		behavior: url({@base}core/js/PIE.htc?b3);
	}
	
	.logo {
		float: left;
		margin: 0 0 0 10px;
		
		a {
			position: relative;
			min-width: 300px;
			height: 90px;
			line-height: 90px;
			font-size: @logo-fontsize;
			text-decoration: none;
			color: @logo-fontcolor;
			white-space: nowrap;
						
			.logo-img {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 1px;
				background: @logo-image no-repeat left center;
			}
		}
	}
	
	.search {
		position: absolute;
		z-index: 99;
		left: 20px;
		top: 89px;
		margin: 33px 0 0 0;
		
		line-height: 250%;
		color: @mainnav-fontcolor;
		
		input {
			font-size: 130%;
			vertical-align: top;
			margin: 2px 5px;
			padding: 2px;
			border: none;
			background-color: @banner-input;
			color: @banner-input - #888;
			border: 1px solid @mainnav-bordercolor;
			@radius(@mainnav-radius - 2px);
			
			behavior: url({@base}core/js/PIE.htc?b3);
		}
	}
}

.ie8 #banner .search input,
.ie7 #banner .search input,
.ie6 #banner .search input {
	margin-top: 5px;
	border: none;
}

#mainnav {
	.wrap {
		width: auto;
		position: relative;
		margin: -31px auto 0 auto;
		height: 60px;
		line-height: 30px;
		
		.bar {
			position: absolute;
			z-index: 97;
			top: 31px;
			width: @width - 2px;
			height: 33px;
			background: @mainnav-gradient-top;
			border: 1px solid @mainnav-bordercolor;
			padding: 0;
			margin: 0;
			@gradient(@mainnav-gradient-top; @mainnav-gradient-bottom);
			@radius(@mainnav-radius);
			
			behavior: url({@base}core/js/PIE.htc?b3);
		}
		
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		
		ul.l0 {
			margin: 0 8px 0 0;
			text-align: right;
			
			li.li0 {
				display: inline-block;
				padding: 0;
				margin: 0;
				
				span.liwrap0 {
					display: inline-block;
					background: @mainnavinactive-gradient-bottom;
					border: 1px solid @mainnavinactive-bordercolor;
					border-bottom: 0;
					@gradient(@mainnavinactive-gradient-top; @mainnavinactive-gradient-bottom);
					@radius-top(@mainnav-radius);
					
					behavior: url({@base}core/js/PIE.htc?b3);
				}
				
				a {
					display: inline-block;
					color: @mainnavinactive-linkcolor;
					font-weight: bold;
					text-decoration: none;
					padding: 0 10px;
					line-height: 30px;
					margin: 0;
				}
				
				a:hover {
					text-decoration: underline;
				}
				
				.ul-wrap {
					display: none;
					position: absolute;
					left: 0;
					right: 0;
					z-index: 98;
					height: 29px;
					padding: 2px 10px;
					margin: 0;
					
					ul {
						li.li1 {
							display: inline;
							float: none;
							white-space: nowrap;
							padding: 7px 0;
							background: transparent;
							border: 0;
							
							a {
								display: inline-block;
								font-size: 100%;
								height: 20px;
								line-height: 20px;
								border: none;
								padding: 0 0 0 9px;
								margin: 0 0 0 6px;
								color: @mainnavdropdown-linkcolor;
								border-left: 1px solid @mainnav-gradient-bottom - #111;
							}
						}
						
						li:first-child a {
							border-left: none;
						}
					}
				}
			}
			
			
			li.active {
				span.liwrap0 {
					background: @mainnav-gradient-top;
					border: 1px solid @mainnav-bordercolor;
					@gradient(@mainnav-gradient-top + #222; @mainnav-gradient-top);
				}
				
				a {
					color: @mainnav-linkcolor;
					position: relative;
					z-index: 99;
					margin-bottom: -5px;
					border-bottom: 1px solid @mainnav-gradient-top;
				}
				
				.ul-wrap {
					display: block;
					
					.ul-wrap {
						display: none;
					}
					
					li:hover {
						position: relative;
						
						.ul-wrap {
							display: block;
						}
						
						.ul-wrap:empty {
							display: none;
						}
					}
				}
			}
			
			li:first-child a {
				border-left: none;
			}
		}
		
		ul.l1 {
			
			li.li1 {
				a {
					color: @mainnav-linkcolor !important;
				}
				
				.ul-wrap {
					z-index: 99;
					height: auto;
					width: auto;
					border: none;
					background: none;
					padding: 0 !important;
					margin: 0 !important;
					
					ul {
						min-width: 120px;
						margin-top: -2px;
						background: @mainnavdropdown-gradient-top;
						border: 1px solid @mainnavdropdown-bordercolor;
						@gradient(@mainnavdropdown-gradient-top; @mainnavdropdown-gradient-bottom);
						@radius(@mainnav-radius);
						@boxshadow(0; 1px; 3px; #aaa);
						
						behavior: url({@base}core/js/PIE.htc?b3);
						
						text-align: left;
						
						li {
							padding: 0;
							display: block;
							line-height: 200%;
							border-bottom: 1px solid @mainnavdropdown-bordercolor + #222;
							
							a {
								color: @mainnavdropdown-linkcolor !important;
								display: block;
								border: none;
								margin: 0;
								padding: 5px;
								line-height: 20px;
							}
							
							.ul-wrap {
								display: none !important;	
								top: 3px;
								z-index: 99;
								margin-top: 0 !important;
								
								ul {
									margin-left: 95%;
								}
							}
						}
						
						li:last-child {
							border-bottom: none;
						}
						
						li:hover {
							.ul-wrap {
								display: block !important;	
							}
						}
					}
				}
			}
		}
	}
}

.ie8,
.ie7,
.ie6 {
	#mainnav {
		ul.l0 {
			li {
				span {
					position: relative;
				}
			}
		}
	}
}

.ie7,
.ie6 {
	#mainnav {
		li.li0 {
			display: inline !important;
			margin-left: 3px !important;
		}
		
		ul.l1 {
			margin-top: 38px !important;
		}
		
		li.active {
			a {
				margin-bottom: 0 !important;
			}
		}
		
		li.li1 {
			.ul-wrap {
				top: 20px !important;
				
				.ul-wrap {
					top: 3px !important;
				}
			}
		}
	}
}

.ie6 {
	#mainnav {
		li.fixhover {
			nofix: 1;
		}
		li.li0 {
			.ul-wrap {
				width: 99%;
			}
		}
		
		li.li1 {
			.ul-wrap {
				width: 140px !important;
				top: 21px !important;
				
				ul {
					width: 140px;
				}
				
				.ul-wrap {
					top: 3px !important;
					width: 140px !important;
					
					ul {
						margin-left: 110px !important;
					}
				}
			}
		}
	}
}

#main {
	width: @width;
	margin: 20px auto;
	
	/* typography */
	h1 {
		font-size: 160%;
		margin: 5px 0 10px 0;
	}
	
	h2 {
		font-size: 140%;
		margin: 5px 0 5px 0;
	}
	
	h3 {
		font-size: 120%;
		margin: 5px 0 5px 0;
	}
	
	h4 {
		font-size: 100%;
		margin: 5px 0 5px 0;
	}
	
	p {
		line-height: 150%;
		margin: 0 0 15px 0;
	}
	
	ul, ol {
		line-height: 150%;
	}
}

#footer {
	width: @width;
	
	.wrap {
		margin: 0 auto;
		padding: 15px 10px;
		font-size: 90%;
		color: @footer-fontcolor;
		border-top: 2px solid @footer-bordercolor;
		background: @footer-backgroundcolor;

		.powered {
			float: right;
		}
		
		a {
			color: @footer-fontcolor;
		}
	}
}

table {
	td, th {
		padding: 1px;
	}
}

table.tableborder {
	border-collapse: collapse;
	
	td, th {
		border: 1px solid @color2;
		padding: 3px;
	}
	
	th {
		background-color: @color1;
	}
}




#page404 {
	background: @color1;
	border-top: 4px dotted @color2;
	padding: 20px;
}
#main .infoblock {
	background: @color1;
	border: 2px dashed @color2;
	padding: 10px;
}
#main .shortdesc {
	border-bottom: 1px solid @color2;
	margin-bottom: 20px;
}
#main .subpages li .shortdesc {
	margin: 5px 0 0 0;
	border: none;
	
	p {
		margin: 0;
		padding: 0;
	}
}



/* Columns */
#col1 {
	width: 220px;
	float: left;
	margin-left: -100%;
}
#col2 {
	width: 100%;
	float: left;
	display: table;
	
	.contentwrap {
		display: table-row;
		vertical-align: top;
		
		.main {
			margin: 0 239px;
			width: @width - 478;
		}
	}
}
#col3 {
	width: 220px;
	float: left;
	margin-left: -220px;
}
.columns1 .contentwrap .main {
	margin: 0 !important;
	width: auto !important;
}
.columns2 .contentwrap .main {
	margin: 0 0 0 240px !important;
	width: @width - 240 !important;
}
.contentwrap {
	float: left;
	width: 100%;
}

/* Block */
.block {
	margin-bottom: 15px;
	
	.title {
		background: @block-gradient-top no-repeat;
		line-height: 30px;
		color: @block-fontcolor;
		border: 1px solid @block-bordercolor;
		border-bottom: 0;
		@radius-top(@block-radius);
		@gradient(@block-gradient-top; @block-gradient-bottom);
		
		behavior: url({@base}core/js/PIE.htc?b3);
		
		span {
			display: block;
			font-weight: bold;
			padding: 0 10px;
		}
	}
	
	.content {
		border: 1px solid @blockcontent-bordercolor;
		background: @blockcontent-backgroundcolor;
		@radius-bottom(@blockcontent-radius);
		
		behavior: url({@base}core/js/PIE.htc?b3);
		
		p {
			padding: 10px;
			margin: 0 !important;
		}
	}
	
	.pages {
		.pages-select {
			padding: 10px;
			display: block;
			
			select {
				width: 100%;
				margin: 0;
			}
		}
	}
	
	.pages ul {
		margin: 0;
		padding: 5px 10px;
		list-style: none;	
		
		li {
			h2 {
				font-size: 100% !important;
				margin: 0 !important;
			}
			
			a {
				display: block;	
				padding: 5px 0 5px 13px;	
				border-bottom: 1px solid @blockcontent-bordercolor + #111;
				color: @fontcolor;
				text-decoration: none;
				background: url({@tplbase}images/bullet-2.gif) no-repeat left center;
			}
			
			ul {
				padding: 0 0 10px 12px;
				line-height: 110% !important;	
				
				li {
					a {
						background-image: url({@tplbase}images/arrow.gif);
						border-bottom: none;
					}
				}
			}
		}
		
		li:last-child a {
			border-bottom: none;
		}
	}
}
.block .pages ul li a:hover,
.block .pages ul li.active > a {
	color: @linkcolor;
	text-decoration: underline;
}

/* Newsletter block */
.block .block-newsletter {
	padding: 10px;
	
	fieldset {
		margin: 0 0 5px 0;
	}
	
	input.text {
		display: block;
		width: 99%;
	}
}

/* Search results */
.search-results {
	background: @color1;
	padding: 10px;
	line-height: 140%;
	margin-bottom: 5px;	
}

/* Subpage listings */
.subpages {
	margin: 15px 0 5px 0;
	padding: 5px 10px;
	list-style: none;
	background: @color1;
	
	li {
		padding: 0;
		line-height: 160%;
		
		.picture {
			float: left;
			max-width: 120px;
			max-height: 120px;
			border: 2px solid @color2;
			background: @bgcolor;
			padding: 1px;
			margin-right: 15px;
		}
		
		.title {
			font-weight: bold;
		}
		
		.date {
			font-size: 90%;
			color: @fontcolor + #333;
		}
	}
	
	li.photo {
		overflow: auto;
	}
}
.pagegallery {
	overflow: auto;
}
.pagegallery li {
	float: left;
	background: transparent;
	border: none;
	text-align: center;
	margin: 0 10px 10px 0;
	
	.picture {
		float: none;
		margin: 0 0 10px 0;
	}
}
.subpages-top {
	margin: 0 0 15px 0;
}
.subpages-column {
	width: 32%;
	float: left;
	list-style: square;
	margin: 0;
}
.subpages-column-first {
	margin-left: 1.5em;
}

.page-protected {
	padding: 10px;
	background: @color1;
	border: 1px solid @color2;
	text-align: center;
	font-size: 120%;
	margin-bottom: 20px;
}

/*  Files and images */
.files {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: auto;
	
	li.picture {
		float: left;
		margin: 0 10px 10px 0;
		text-align: center;
		
		img {
			
		}
	}
	
	li.picture .desc {
		font-size: 90%;
	}
}
/* align left */
.files-2 {
	float: left;
	max-width: 230px;
	
	li.picture {
		float: none;
	}
}
/* align right */
.files-3 {
	float: right;
	margin-top: 25px;
	
	li.picture {
		float: none;
		margin: 0 0 10px 10px;
	}
}
/* non-image files */
.files-n {
	margin: 10px 0 20px 0;
	padding: 10px;
	background: @color1;
	
	li.file {
		float: none;
		margin: 0;
		padding-left: 20px;
		line-height: 25px;
		background: url({@tplbase}mime/default.gif) no-repeat left center;
	}
}
.files-n li.ext-pdf {
	background-image: url({@tplbase}mime/pdf.gif);
}
.files-n li.ext-gif,
.files-n li.ext-png,
.files-n li.ext-jpg,
.files-n li.ext-jpeg,
.files-n li.ext-bmp,
.files-n li.ext-tif {
	background-image: url({@tplbase}mime/image.gif);
}
.files-n li.ext-doc,
.files-n li.ext-ppt,
.files-n li.ext-docx,
.files-n li.ext-pptx {
	background-image: url({@tplbase}mime/document.gif);
}
.files-n li.ext-xls,
.files-n li.ext-xlsx {
	background-image: url({@tplbase}mime/spreadsheet.gif);
}

/* RSS & Font size links*/
#toplinks {
	text-align: right;
	margin-bottom: -1.4em;
	
	a {
		margin-right: 5px;
	}
	
	a.rss {
		background: #f29d00 url({@tplbase}images/icon-rss.png) no-repeat 3px center;
		color: #fff;
		padding: 0 3px 0 13px;
		text-decoration: none;
		font-size: 90%;
		@radius(3px);
	}
	
	a.fontsize {
		color: @fontcolor + #333;	
	}
	
	a.fssmall {
		font-size: 90%;
	}
	
	a.fsbig {
		font-size: 120%;
	}
}

/* Print & Back links*/
#bottomlinks {
	text-align: right;
	margin: 20px 0 10px 0;
	
	a.print {
		background: url({@tplbase}images/icon-print.gif) no-repeat left center;
		padding-left: 20px;
	}
}

/* Forms & Buttons */
.button {
	position: relative;
	border: none;
	border: 1px solid @button-bordercolor;
	padding: 3px 7px;
	color: @button-fontcolor !important;
	text-decoration: none;
	font-weight: bold;
	background: @button-gradient-top;
	@gradient(@button-gradient-top; @button-gradient-bottom);
	@radius(@button-radius);
	
	behavior: url({@base}core/js/PIE.htc?b3);
}
.button:hover {
	color: @button-fontcolor;	
}
.ie6 .button {

}
.form {
	fieldset {
		border: 1px solid @color2;
		padding: 0 10px 10px 10px;
		margin-bottom: 25px;
		
		legend {
			font-size: 120%;
			font-weight: bold;
			padding: 0 5px;
			margin-left: -5px;
		}
		
		.input {
			margin-top: 10px;
			
			label {
				color: @fontcolor + #333;
				
				strong {
					color: @fontcolor;
				}	
			}
			
			label.error {
				color: red;
			}
			
			input.checkbox {
				margin: -4px 6px 0 0;
				vertical-align: middle;	
			}
			
			input.text,
			textarea,
			select {
				width: 99%;
				display: block;
			}
			
			input.short {
				width: 70px;	
			}
		}
		
		.inline {
			width: 48.5%;
			float: left;
		}
		
		.required label {
			font-weight: bold;
			color: @fontcolor;
		}
		
		.inline-right {
			float: right;
			margin-right: 0.7%;	
		}
		
		.help {
			background: @color1;
			border-left: 3px solid @color2;
			padding: 5px;
			font-size: 90%;
			margin: 5px 0 15px 0;
			color: @fontcolor + #333;
		}
	}
	
	fieldset.colleft,
	fieldset.colright {
		width: 45%;
		float: left;	
	}
	
	fieldset.colright {
		float: right;
	}
}

/* Product listing */
.products {
	.product {
		margin: 10px 0 5px 0;
		
		h3 {
			line-height: 140%;
			font-size: 100% !important;
			margin: 0 0 5px 0 !important;
		}
		
		.desc {
			.labels {
				margin: 0 0 3px 0;
				overflow: hidden;
				
				.label {
					float: left;
					padding: 2px 4px;
					margin-right: 5px;
					font-weight: bold;
					color: #fff;
					@radius(3px);
				}
			}
		
			p {
				margin: 0 !important;
			}
			
			ul {
				list-style: none;
				line-height: 160%;
				margin: 0;
				padding: 0;
			}
		}
		
		.pricebasket {
			float: right;
			width: 200px;
			margin-bottom: 5px;
			border-bottom: 1px dashed @color2;
			
			behavior: url({@base}core/js/PIE.htc?b3);
			
			.price {
				background: @bgcolor;	
				padding: 5px 0;
				
				strong {
					float: right;	
					width: 75%;
				}
			}
			
			.buttons {
				padding: 5px;
				line-height: 200%;
				background: @color1;
				
				a.detail {
					color: @fontcolor;	
				}
				
				a.detail:hover {
					text-decoration: none;	
				}
				
				a.buy {
					margin-right: 15px;
					line-height: 100%;
				}
			}
		}
		
		.discount {
			background: red;
			color: #fff;
			font-size: 12px;
			font-weight: bold;
			padding: 2px 5px;
			white-space: nowrap;
		}
		
		.discount-wrap {
			margin-bottom: 5px;
		}
		
		.picture {
			position: relative;
			float: left;	
			margin-right: 15px;
			
			.discount {
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
	
	.product-promote h3.name {
		padding-left: 20px;
		background: transparent url({@tplbase}images/star.png) no-repeat left top;
	}
}
.products-0cols .product,
.products-3cols .product,
.products-4cols .product {
	width: 240px;
	float: left;
	margin: 15px 10px 10px 0;
}
.products-1cols .product {
	padding-bottom: 5px;
	border-bottom: 1px dashed @color2;
}
.products-3cols .i2 {
	margin-right: 0;
}
.products-4cols .i3 {
	margin-right: 0;
}
.products-3cols .product {
	width: 32%;	
	margin-top: 0;
}
.products-4cols .product {
	width: 24%;
	margin-right: 5px;	
	overflow: hidden;
	margin-top: 0;
}
.products-0cols .product .wrap,
.products-3cols .product .wrap,
.products-4cols .product .wrap {
	height: 140px;
	overflow: hidden;
	margin-bottom: 5px;
}
.products-3cols .product .wrap,
.products-4cols .product .wrap {
	height: 83px;
}
.products-0cols .product .picture {
	margin-right: 5px;
}
.products-3cols .product .picture,
.products-4cols .product .picture {
	height: 120px;
	float: none;
	margin: 0;
	text-align: center;
}
.products-0cols .product .desc,
.products-3cols .product .desc,
.products-4cols .product .desc  {
	font-size: 90%;	
}
.products-0cols .product .pricebasket,
.products-3cols .product .pricebasket,
.products-4cols .product .pricebasket {
	width: auto;
	float: none;
	clear: left;
	margin-left: 0;
}
.products-3cols .product .discount-wrap,
.products-4cols .product .discount-wrap {
	margin-top: 5px;
}
.products-1cols .product .pricebasket {
	border: none;
	background-image: none;
	margin: 0 0 10px 20px;
	width: auto;
	
	.price {
		padding-top: 0;
		margin-bottom: 5px;
		
		strong {
			width: auto;
		}
	}
	
	.buttons {
		background: none;
		padding: 0;
	}
}
.products-3cols .product .pricebasket {
	.price {
		strong {
			width: 65%;
		}
	}
}
.products-4cols .product .pricebasket {

	.price {
		padding: 3px 0;
		
		strong {
			width: 55%;
		}
	}
	
	.buttons {
		padding: 5px 0;
		text-align: left;
		background: transparent;
		
		a.buy {
			margin-right: 0;
		}
	}
}
.products-4cols .product .pricebasket .buttons .detail {
	display: none;
}
.products-0cols {
	margin-right: -10px;
	
	.product {
		width: 246px !important;
	}
}
.products-list {
	margin: 15px 0 20px 0;
	
	table {
		width: 100%;
		border: none;
		
		thead {
			th {
				text-align: left;
				background: @color1;
				padding: 10px;
				border: none;
				border-bottom: 1px solid @color2;
			}
		}
		
		tbody {
			td {
				border: none;
				border-bottom: 1px solid @color2;
				padding: 10px;
			}
			
			tr:nth-child(even) td {
				background-color: @color1;
			}
		}
		
		td.buttons {
			white-space: nowrap;
			padding-right: 3px;
		}
			
		td.price {
			text-align: right;
			white-space: nowrap;
		}
	}
}

/* Product detail */
.productdetail .files-2 {
	margin-right: 20px;
}
.productdetail .files .smallpic {
	float: left;
}
.productdetail {
	margin-top: 15px;
	
	.producthead {
		width: 50%;
		float: right;
		padding-bottom: 20px;
		
		h1.name {
			margin-bottom: 5px !important;	
			word-wrap: break-word;
		}
		
		.sku,
		.ean {
			display: block;
			margin-bottom: 5px;	
			color: @fontcolor + #333;
		}
		
		.labels {
			margin: 5px 0;
			overflow: hidden;
			
			.label {
				float: left;
				padding: 2px 4px;
				margin-right: 5px;
				font-weight: bold;
				color: #fff;
				font-size: 90%;
				@radius(3px);
			}
		}
		
		ul.pages {
			margin: 0 0 5px 0;
			padding: 5px 0 0 0;
			list-style: square;
			border-top: 1px dashed @fontcolor + #777;
			
			li {
				margin: 0 0 3px 17px;
				font-size: 90%;
				color: @fontcolor + #666;
			}
			
			.manufacturer {
				color: @fontcolor + #333;
				margin-right: 4px;
			}
		}
		
		.shortdesc {
			border: none !important;
			margin-top: 15px; 	
			margin-bottom: 5px !important;
			
			p {
				margin: 0 !important;
			}
		}
	}
	
	.productinfo {
		width: 250px;
		float: left;
		
		ul {
			margin: 0;
			padding: 1px;
			list-style: none;	
			
			li {
				padding: 4px 0;
				border-bottom: 1px solid @color1;
				
				span {
					display: inline-block;
					width: 120px;	
				}
				
				em {
					font-style: normal;
				}
			}
			
			li.price {
				font-size: 110%;
				font-weight: bold;	
			}
			
			li:last-child {
				border-bottom: none;	
			}
		}
		
		.basket {
			padding: 3px 3px 2px 5px;
			line-height: 210%;
			border: 1px solid @color2;
			background: @color1;
			@gradient(@color1 + #333; @color1);
			
			behavior: url({@base}core/js/PIE.htc?b3);
			
			input {
				vertical-align: top;	
				text-align: center;
			}
			
			button.buy {
				float: right;	
			}
			
			.attribute {
				line-height: 100%;
				margin-top: 5px;
				padding-top: 5px;
				border-top: 1px solid @color1 - #111;
				
				label {
					display: block;
				}
				
				select {
					width: 100%;	
					margin: 2px 0 2px 0;
				}
				
				.product-variants {
					margin: 5px 0;
				}
				
				label.product-variant {
					margin: 0;
					padding: 5px;
					
					input {
						margin: 0 5px 0 0;
						vertical-align: top;
					}
					
					.variant-availability {
						float: right;
					}
				}
				
				label.product-variant:hover {
					background-color: @color2 + #111;
				}
			}
		}
		
		.availability-0days,
		.availability-1days {
			color: green;
		}
		
		del {
			color: @fontcolor + #333;
		}
	}
	
	.sharelinks {
		margin: 5px 0;
	}
	
	.description {
		margin-top: 20px;
		padding-top: 10px;
		border-top: 1px solid @color2;
	}
	
	.features {
		table {
			border-collapse: collapse;
			
			td {
				border: 1px solid @color2;
				padding: 5px 10px;
			}
			
			td.featurename {
				background: @color1;
				text-align: right;	
			}
		}
	}
	
	.related-products {
		.related {
			width: 31.5%;
			float: left;
			text-align: center;
			border: 1px solid @color2 + #111;
			margin-right: 10px;
			margin-top: 10px;
			
			.related-title {
				display: block;
				font-size: 100%;
				font-weight: normal;
				padding: 5px;
				margin: 0 !important;
				height: 2.5em;
				overflow: hidden;
			}
			
			.picture {
				margin: 5px 0;
				height: 120px;
				line-height: 120px;
				vertical-align: middle;
			}
			
			.prices {
				text-align: left;
				padding: 5px;
				
				strong {
					float: right;
				}
			}
		}
		
		.related-last {
			margin-right: 0;
		}
	}
}
.productdetail-promote h1.name {
	padding-left: 20px;
	background: transparent url({@tplbase}images/star.png) no-repeat left 2px;
}

/* Basket */
.basket {
	.error {
		background: @color1;
		border: 1px solid @color2;
		padding: 10px;
		font-weight: bold;
		margin-bottom: 5px;
		
		p {
			margin: 0 !important;
			padding: 0 !important;
		}
	}
	
	.tablewrap {
		border: 1px solid @basket-bordercolor;	
		
		table {
			width: 100%;
			border-collapse: collapse;
			border: none;
			background: @basket-bgcolor;
			
			thead td,
			tfoot td {
				padding: 5px 10px;

				border: 1px solid @basket-bordercolor;
				background: @basket-gradient-top;
				@gradient(@basket-gradient-top; @basket-gradient-bottom);
			}
			
			thead {
				td {
					color: @basket-gradient-bottom - #555;
					border: none;
					padding: 7px 10px;
					border-bottom: 1px solid @basket-bordercolor;
				}
			}
			
			tbody {
				td {
					border: none;
					padding: 5px 10px;	
					vertical-align: middle;
					border-bottom: 1px solid @basket-bordercolor;
				}
				
				td.picture {
					background: @bgcolor;
				}
				
				td.name {
					font-weight: bold;	
					line-height: 150%;
					
					.attr {
						color: @fontcolor + #333;
						font-weight: normal;
					}
				}
			}
			
			td.picture {
				padding: 2px;
				width: 40px;
				text-align: center;	
				
				img {
					max-width: 40px;
					max-height: 40px;	
				}
			}
			
			td.price {
				text-align: right;	
				white-space: nowrap;
			}
			
			td.price_qty {
				width: auto;
				max-width: 100px;
				text-align: right;	
				white-space: nowrap;
			}
			
			td.quantity {
				width: auto;
				max-width: 60px;
				text-align: center;	
				
				input {
					text-align: center;	
				}
			}
			
			td.total {
				width: auto;
				max-width: 100px;
				text-align: right;
				font-weight: bold;	
				white-space: nowrap;
			}
			
			td.remove {
				width: auto;
				max-width: 60px;
				text-align: center;	
			}
			
			td.basketempty {
				padding: 15px;
				font-size: 120%;
				border: none;
				color: @fontcolor + #333;
			}
			
			tfoot {
				td {
					border: none;
					background-image: none;
					background-color: @bgcolor;
				}
				
				td.label {
					text-align: right;	
					padding-right: 15px;
				}
				
				td.value {
					color: @fonctolor;
					text-align: right;
					font-weight: bold;
					white-space: nowrap;
				}
				
				.total td {
					font-size: 120%;
				}
			}
		}
	}
	
	div.voucher {
		border: 1px solid @basket-bordercolor;
		background: @basket-bgcolor;
		margin-top: 10px;
		padding: 5px;
		width: 45%;
		float: left;
		
		h4 {
			margin: 0 !important;
		}	
		
		p {
			margin: 0 !important;
			font-size: 90%;
		}
		
		fieldset {
			margin-top: 10px;
			
			input {
				width: 90px;
			}
		}
	}
	
	.buttons {
		text-align: right;
		line-height: 230%;	
		margin-top: 10px;
		
		.button {
			margin-left: 10px;	
		}
	}
}

/* Order */
.order {
	float: left;
	width: 100%;
	
	.errors {
		background: #fcd1d1;
		padding: 10px;
		margin-bottom: 15px;
		line-height: 160%;
	}
	
	#shipping_address {
		background: @bgcolor;
	}
	
	.payment {
		.input {
			background-color: @bgcolor;
		}
		
		label .price {
			background: @color1;
			padding: 3px;
			margin-left: 10px;
		}
	}
	
	.buttons {
		background: @color2;
		padding: 10px;
		margin: 10px 0;
		text-align: right;

		
		.button {
			margin-left: 15px;	
		}
		
		input.checkbox {
			vertical-align: middle;
			margin: -2px 6px 0 0;	
		}
	}
	
	.email-again {
		/* spam protection */
		display: none;
	}
}

.order-customer {
	background: @color1;
	padding: 10px;
	margin-bottom: 20px;
	
	h4 {
		margin: 0 0 10px 0 !important;
		font-size: 110% !important;
	}
	
}

.ordersummary {
	margin-bottom: 25px;
	float: left;
	width: 100%;
	
	.colleft,
	.colright {
		width: 49%;
		float: left;	
	}
	
	.colright {
		float: right;
	}
	
	.wrap {
		margin-bottom: 20px;
	}
	
	h4 {
		background: @color1;
		border-bottom: 1px solid @color2;
		padding: 5px;
	}
	
	p {
		margin: 0;
		padding: 5px;
	}
	
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		
		li {
			padding: 5px 0;
			overflow: hidden;
			
			span {
				float: left;
				width: 120px;	
				margin-right: 10px;
				text-align: right;
				color: @fontcolor + #333;
			}
		}
	}
}

/* Customer account */
#customer {
	.header {
		background: @color1;
		padding: 10px 10px 0 10px;
		margin-bottom: 20px;
		@radius(6px);
		
		behavior: url({@base}core/js/PIE.htc?b3);
		
		.logout {
			float: right;
			font-weight: bold;
		}
		
		h4 {
			font-size: 140%;
			margin: 0 0 3px 0;
		}
		
		span.email {
			color: @fontcolor + #333;
		}
		
		ul.tabs {
			margin: 15px 0 0 0;
			padding: 0;
			list-style: none;
			overflow: hidden;
			
			li {
				float: left;
				margin-right: 5px;
				
				a {
					display: block;
					padding: 5px 15px;
					background: @color1 + #070707;
					@radius-top(6px);
					
					behavior: url({@base}core/js/PIE.htc?b3);
				}
			}
			
			li.active {
				a {
					background-color: @bgcolor;
					border-top: 1px solid @color2;
					font-weight: bold;
				}
			}
		}
	}	
	
	.customer {
		float: left;
		width: 100%;
	}
	
	.errors {
		background: #fcd1d1;
		padding: 10px;
		margin-bottom: 15px;
		line-height: 160%;
	}
	
	.grid {
		td {
			white-space: nowrap;
		}
		
		td.total {
			white-space: nowrap;
			text-align: right;
		}
	}
	
	.cust-order {
		background: @color1;
		border: 1px solid @color2;
		margin: 0 0 5px 0;
		
		.head {
			background: @color1 + #111;
			padding: 5px;
			
			a {
				font-weight: bold;
			}
			
			span {
				float: right;
				color: @fontcolor + #444;
			}
		}
		
		.status {
			float: right;
			font-weight: bold;
			padding: 5px;
		}
		
		p {
			margin: 5px;
		}
		
		.bbar {
			background: @color1 + #111;
			padding: 5px;
			margin: 5px;
			color: @fontcolor + #555;
		}
	}
}

.customerlogin,
.customerpassword {
	float: left;
	width: 100%;
	
	fieldset {
		background: @color1;
		padding: 0 10px 10px;
		
		legend {
			padding-left: 5px;
		}
		
		.error {
			background: #fcd1d1;
			padding: 5px;
			margin-top: 5px;
			
			p {
				margin: 0 !important;
				padding: 0 !important;
			}
		}
		
		.msg {
			background: @color2;
			padding: 5px;
			margin-top: 5px;
			
			p {
				margin: 0 !important;
				padding: 0 !important;
			}
		}
		
		.login {
			width: 100%;
			float: left;
			
			a {
				font-size: 90%;
			}
			
			.buttons {
				padding-top: 5px;
			}
			
			.loginbtn {
				float: right;
			}
		}
		
		.customer {
			margin-top: 5px;
			line-height: 160%;
			
			.customername {
				background: @bgcolor;
				padding: 5px;
				margin-top: 5px;
			}
		}
		
		p {
			margin: 10px 0 0 0 !important;
		}
	}
	
	.lost-password-form {
		display: none;
		margin-top: 30px;
		padding: 1px 10px;
		background: @bgcolor;
		
		p {
			color: @fontcolor + #333;
			padding: 10px 0 0 0;
		}
	}
}

/* data grid */
table.grid {
	width: 100%;
	margin: 0;
	
	caption {
		background: @color1;
		text-align: left;
		padding: 5px;
	}
	
	thead {
		td {
			color: @fontcolor + #333;
			background: @color1;
			padding: 5px;
		}
	}
	
	tbody {
		td {
			padding: 5px;
			border-bottom: 1px solid @color1;
		}
	}
}

table.bordertable {
	caption {
		background: @color1;
		text-align: left;
		padding: 5px;
		color: @fontcolor + #333;
	}
	
	tbody td,
	td {
		padding: 5px;
		border: 1px solid @color2;
	}
	
	thead td,
	th {
		background: @color1;
		padding: 5px;
		border: 1px solid @color2;
	}
}


/* Poll */
.block .poll {
	margin: 0;
	padding: 10px;
	
	h4 {
		margin: 0 0 10px 0 !important;	
	}
	
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		
		li {
			margin-bottom: 5px;	
			color: @fontcolor + #333;
			
			a {
				font-weight: bold;
			}
			
			.bar {
				line-height: 0;
				font-size: 0;
				background: @color1;
				border: 1px solid @color2;
				margin-top: 3px;
				padding: 1px;
				
				div {
					background: @poll-bgcolor;
					height: 7px;
				}
			}
		}
	}
	
	.total {
		color: #888;
	}
}

/* Contact */
.block .contact {
	form {
		.sent {
			border: 2px solid @color2;
			padding: 5px;
			margin: 0 0 10px 0 !important;
		}
		
		fieldset {
			padding: 5px;
			
			input, textarea {
				width: 98%;
				display: block;
				margin: 3px 0 10px 0;
			}
			
			.bc-email {
				display: none;
			}
			
			.bc-captcha {
				overflow: hidden;
				margin-bottom: 10px;
				
				label {
					display: block;
					margin-bottom: 3px;
				}
				
				.bc-captchapic {
					width: 50%;
					float: left;
					
					img {
						border: 1px solid @color2;
					}	
				}
				
				.bc-captchainput {
					width: 50%;
					float: left;
					
					input {
						width: 60px;
						margin: 0 0 2px 0 !important;
					}
					
					.bc-reload {
						font-size: 90%;
					}
				}
			}
		}
	}
}

/* Customer */
.block .customer {
	.customerinfo {
		padding: 10px;
		
		small {
			color: @fontcolor + #222;
		}
		
		big {
			font-weight: bold;
			display: block;
			margin: 5px 0 0 0;
		}	
		
		.menu {
			margin: 10px 0 0 0;
			padding: 5px 0 0 0;
			list-style: none;
			border-top: 1px solid @blockcontent-bordercolor;
		}
	}
	
	form {
		margin: 0;
		padding: 0;
		
		.sent {
			border: 2px solid @color2;
			padding: 5px;
			margin: 0 0 10px 0 !important;
		}
		
		fieldset {
			padding: 5px;
			
			input, textarea {
				width: 98%;
				display: block;
				margin: 3px 0 10px 0;
			}
			
			input.checkbox {
				display: inline;
				width: auto;
				vertical-align: top;
				margin: 1px 5px 0 0;
			}
			
			button {
				margin-top: 10px;
			}
		}
		
		p.links {
			margin: 0;
			padding: 5px;
		}
	}
}

/* Block - Products */
.block .block-products {
	.product {
		padding: 5px;
		text-align: center;
		
		h3 {
			margin: 0 0 5px 0 !important;
			font-size: 100% !important;
		}
		
		.picture {
			background: #fff;
			padding: 3px;
		}
		
		.price {
			padding: 5px;
			background: @color2;
		}
	}
}

/* Basket (block) */
.block .block-basket {
	ul {
		margin: 0;
		padding: 5px;
		list-style: none;
		
		li.item {
			background: @bgcolor;
			padding: 5px 10px;
			margin: 0;
			border-bottom: 1px solid @color2;
			font-size: 90%;
			
			a {
				font-size: 110%;
			}
		}
	}
	
	.total {
		text-align: center;
		margin: 0 5px;
		padding: 0 0 5px 0;
	}
	
	.buttons {
		padding: 0 5px 10px 5px;
		text-align: center;
		font-size: 90%;
	}
}

form.customer {
	.errors {
		background: #fcd1d1;
		padding: 10px;
		margin-bottom: 15px;
		line-height: 160%;
	}
}

.pagination {
	ul {
		margin: 0;
		padding: 10px;
		list-style: none;
		background: @color1;
		border-top: 1px solid @color2;
		overflow: hidden;
		
		li {
			float: left;
			margin-right: 5px;
			
			a, span {
				font-weight: bold;
				color: @fontcolor;
			}
		}
	}
}

.quantity-discounts {
	margin-top: 15px;
	
	table {
		td.discount {
			text-align: right;
			max-width: 60px;
		}
		
		td.price {
			text-align: right;
			max-width: 80px;
		}
	}
}

.attributes-list {
	.attr-value {
		font-weight: bold;
		
		.sku,
		.ean13 {
			display: block;
			font-size: 90%;
			color: @fontcolor + #333;
			font-weight: normal;
		}
	}
	
	.attr-price {
		text-align: right;
	}
}

.filter {
	padding: 0 0 5px 0;
	border-bottom: 1px dotted #ddd;
	
	.viewtype {
		float: right;
		
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			
			li {
				display: inline;
			}
			
			.view-list {
				border-right: 1px solid @color2;
				padding-right: 5px;
				margin-right: 2px;
			}
		}
	}
	
	select {
		margin: -2px 10px 0 5px;
		vertical-align: middle;
	}
	
	input {
		background: transparent;
		border: none;
		margin: 0;
		padding: 0;
		line-height: 150%;
		vertical-align: top;
	}
	
	input.view {
		color: @linkcolor;
		text-decoration: underline;	
	}
	
	input.dir {
		color: @fontcolor + #444;
		width: 11px;
		background: url({@tplbase}images/sort-asc.gif) no-repeat center center;
	}
	input.dir-desc {
		background: url({@tplbase}images/sort-desc.gif) no-repeat center center;
	}
	
	input.active {
		color: @fontcolor;
		opacity: 0.7;
	}
	
	input.disabled {
		color: @fontcolor + #333;
		text-decoration: none;
	}
}

.producers {
	margin: 5px 0;
	padding-bottom: 10px;
	border-bottom: 1px solid @color2;
	
	.wrap {
		margin: 5px 0 0 0;
		display: none;
		
		.producer {
			width: 24%;
			float: left;
			overflow: hidden;
			padding: 3px 0;
			
			input {
				margin: 0 5px 0 0;
				vertical-align: top;
			}
		}
		
		.features {
			clear: left;
			padding-top: 10px;
			margin-top: 10px;
			border-top: 1px solid @color2;
			
			.feature {
				float: left;
				
				label {
					display: inline-block;
					width: 90px;
					padding-right: 5px;
					text-align: right;
					font-size: 90%;
					white-space: nowrap;
				}
				
				select {
					width: 100px;
					margin-right: 10px;
					vertical-align: middle;
				}
			}
		}
		
		button {
			margin: 5px 0 0 0;
		}
	}
}

.no-products-found {
	background: @color1;
	padding: 10px;
}

.gopay,
.paypal,
.moneybookers {
	margin: 20px 0 100px 0;
	padding-bottom: 20px;
	background: url({@tplbase}images/gopay_logo_small.png) no-repeat bottom right;
	
	h1 {
		background: url({@tplbase}images/tick-circle.png) no-repeat left 3px;
		padding-left: 25px;
	}
	
	p {
		margin: 0 !important;
	}
	
	.gopay-ok,
	.gopay-fail,
	.paypal-ok,
	.paypal-fail,
	.moneybookers-ok,
	.moneybookers-fail  {
		background: @color1;
		border: 1px solid @color2;
		padding: 10px;
		margin: 0 0 20px 0;
	}
	
	.gopay-fail,
	.paypal-fail,
	.moneybookers-fail  {
		h1 {
			background: url({@tplbase}images/cross-circle.png) no-repeat left 3px;
			color: red;
		}
	}
}

.paypal {
	background-image: url({@tplbase}images/paypal_logo_small.png);
}
.moneybookers {
	background-image: url({@tplbase}images/moneybookers_logo_small.png);
}

.sitemap {
	
	.col {
		width: 49%;
		float: left;
		margin-bottom: 30px;
	}
	
	h2 {
		margin: 0 !important;
		border-bottom: 1px solid @color2;
	}
	
	h3 {
		font-size: 110% !important;
		margin: 15px 0 5px 0 !important;
	}
	
	ul {
		margin: 0;
		list-style: square;
		
		li {
			margin-left: 15px;
			
			ul {
				list-style: circle;
			}
		}
	}
	
	a {
		text-decoration: none;
	}
	
	a:hover {
		text-decoration: underline;
	}
}

.breadcrumb {
	margin: 0 0 15px 0;
	font-size: 90%;
}

.ie8,
.ie7,
.ie6 {
	#banner {
		.wrap {
			position: relative;
		}
		.search {
			top: 58px;
		}
	}
	.block {
		.title {
			position: relative;
			z-index: 10;
		}
		.content {
			position: relative;
			z-index: 10;
		}
	}
	
	.productdetail {
		.basket {
			position: relative;
			
			input {
				margin-top: 2px;
			}
		}
	}
	
	#customer {
		.header {
			position: relative;
		}
		
		ul.tabs {
			a {
				position: relative;
			}	
		}
	}
}

.ie7 {
	#banner {
		.wrap {
			position: static;
		}
		.search {
			top: 91px;
		}
	}
	#main {
		#col3 {
			position: relative;
			z-index: -1;
		}
	}
	.pagination {
		margin-top: 10px;
	}
	
	#banner .search {
		margin-top: 30px;
		
		label {
			float: left;
			margin-top: 0;
		}
		
		input {
			margin-top: 1px;
		}
	}
	
	.productdetail {
		.basket {
			input {
				vertical-align: middle;
			}
		}
	}
	
	form.order .clearfix {
		margin-bottom: 10px;
	}
	
	form.order .buttons label,
	form.order .buttons .checkbox {
		vertical-align: top;
	}
	
	.product-promote h3.name {
		background-color: @bgcolor;
	}
	
	.filter {
		input {
			line-height: 110% !important;
		}
	}
}

.ie6 {
	#main {
		#col3,
		#col2 {
			position: relative;
			z-index: -1;
		}
	}
	
	.pagination {
		margin-top: 10px;
	}
	
	.pagination ul {
		height: 20px;	
	}
	
	#banner {
		.wrap {
			position: static;
		}
		.search {
			top: 93px;
		}
	}
	
	#banner .search {
		margin-top: 30px;
		
		label {
			float: left;
			margin-top: 0;
		}
		
		input {
			margin-top: 1px;
		}
	}
	
	#col1,
	#col2,
	#col3 {
		position: relative;	
	}
	
	#col3 {
		margin-left: -222px;
	}
	
	.productdetail {
		.basket {
			input {
				vertical-align: middle;
			}
		}
	}
	
	.block .pages ul li {
		line-height: 100%;
		margin-bottom: -10px;
	}
	
	form.order .clearfix {
		margin-bottom: 10px;
	}
	
	form.order .buttons label,
	form.order .buttons .checkbox {
		vertical-align: top;
	}
	
	.form .inline {
		width: 46%;
	}
	
	.product-promote h3.name {
		background-color: @bgcolor;
	}
	
	.filter {
		input {
			line-height: 110% !important;
		}
	}

}

.ajaxbasket-bubble {
	position: absolute;
	top: 0;
	left: 0;
	background: @bgcolor url({@tplbase}images/icon-cart.png) no-repeat 7px 10px;
	border: 1px solid @color2;
	padding: 0;
	display: none;
	
	@boxshadow(1px; 1px; 3px; #444);
	
	.ajaxbasket-content {
		padding: 10px 10px 10px 45px;
		font-weight: bold;
		
		.ajaxbasket-details {
			font-weight: normal;
			color: @fontcolor + #222;
			padding-top: 5px;
			font-size: 90%;
		}
	}
	
	.ajaxbasket-footer {
		background: @color1;
		padding: 7px 10px;
		text-align: right;
		font-size: 90%;
	}
}

