<?php

/**
 * Debug Bar: panel "error" template.
 *
 * This file is part of the Nette Framework (http://nette.org)
 * Copyright (c) 2004 David Grudl (http://davidgrudl.com)
 * @package Nette\Diagnostics
 */



?>
<h1>Errors</h1>

<div class="nette-inner">
<table>
<?php $i = 0 ?>
<?php foreach ($data as $item => $count): list($message, $file, $line) = explode('|', $item) ?>
<tr class="<?php echo $i++ % 2 ? 'nette-alt' : '' ?>">
	<td class="nette-right"><?php echo $count ? "$count\xC3\x97" : '' ?></td>
	<td><pre><?php echo htmlspecialchars(NStrings::fixEncoding($message)), ' in ', NDebugHelpers::editorLink($file, $line), ':', $line ?></pre></td>
</tr>
<?php endforeach ?>
</table>
</div>
