/* global */
@bgcolor: #ffffff;
@fontcolor: #444444;
@linkcolor: #96942c;
@linkhovercolor: #96942c;
@width: 980px;

/* general colors */
@color1: #f0f0f0;
@color2: #d6d6d6;

/* #topnav */
@topnav-gradient-top: #ffffff;
@topnav-gradient-bottom: #ffffff;
@topnav-bordercolor: #ffffff;
@topnav-radius: 0;

/* #banner */
@banner-gradient-top: #7a7a7a;
@banner-gradient-bottom: #919191;
@banner-radius: 20px;
@banner-fontcolor: #ffffff;
@banner-image: none;
@banner-input: #ffffff;

/* .logo */
@logo-fontsize: 200%;
@logo-fontcolor: #ffffff;
@logo-image: none;

/* #mainnav */
@mainnav-gradient-top: #2b2b2b;
@mainnav-gradient-bottom: #2b2b2b;
@mainnav-bordercolor: #2b2b2b;
@mainnav-radius: 20px;
@mainnav-linkcolor: #ffffff;
@mainnavdropdown-bordercolor: #2b2b2b;
@mainnavdropdown-backgroundcolor: #2b2b2b;
@mainnavdropdown-linkcolor: #ffffff;

/* .block */
@block-gradient-top: #c8c64c;
@block-gradient-bottom: #9a993c;
@block-bordercolor: #9a993c;
@block-radius: 10px;
@block-fontcolor: #ffffff;
@blockcontent-bordercolor: #e6e6e6;
@blockcontent-backgroundcolor: #e6e6e6;

/* footer */
@footer-backgroundcolor: #d6d6d6;
@footer-bordercolor: #d6d6d6;
@footer-radius: 20px;
@footer-fontcolor: #757575;

/* .button */
@button-gradient-top: #c8c64c;
@button-gradient-bottom: #9a993c;
@button-bordercolor: #6a7a1f;
@button-fontcolor: #ffffff;
@button-radius: 10px;

/* .basket */
@basket-gradient-top: #f0f0f0;
@basket-gradient-bottom: #e2e2e2;
@basket-bgcolor: #f0f0f0;
@basket-bordercolor: #d6d6d6;

/* .poll */
@poll-bgcolor: #999999;
