.one-col {
	padding: 20px;
}

.steps {
	position: relative;
	font-size: 0;
	margin-bottom: 50px;

	.step {
		width: 25%;
		display: inline-block;
		height: 50px;
		position: relative;
		font-size: 10pt;
		margin: 0;
		padding: 0;

		.line {
			height: 8px;
			background: #e3e3e3;
			position: absolute;
			left: 49px;
			right: 0;
			top: 50%;
			margin-top: -4px;
			z-index: 50;

			.left {
				position: absolute;
				left: 0;
				right: 50%;
				height: 8px;
				background: #e3e3e3;
			}

			.right {
				position: absolute;
				right: 0;
				left: 50%;
				height: 8px;
				background: #e3e3e3;
			}
		}

		.text {
			text-align: center;
			text-transform: uppercase;
			font-size: 11pt;
			color:#e3e3e3;
			position: absolute;
			left: 50px;
			right: 0;
			top: 0;
		}

		.num {
			z-index: 100;
			width: 50px;
			height: 50px;
			background: #e3e3e3;
			color: #777777;
			font-weight: bold;
			text-align: center;
			line-height: 50px;
			overflow: hidden;
			-webkit-border-radius: 50px;
			border-radius: 50px;
			font-size: 15pt;
			position: absolute;
			top: 0;
			left: 0;
		}

		&.current {
			.num {
				color: #5e3900;
				text-shadow:1px 1px 0 #ffd47d;
				background: #ffca31; /* Old browsers */
				background: -moz-linear-gradient(top,  #ffca31 0%, #ffa302 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffca31), color-stop(100%,#ffa302)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #ffca31 0%,#ffa302 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #ffca31 0%,#ffa302 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #ffca31 0%,#ffa302 100%); /* IE10+ */
				background: linear-gradient(to bottom,  #ffca31 0%,#ffa302 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffca31', endColorstr='#ffa302',GradientType=0 ); /* IE6-9 */
			}

			.text {
				color: #797979;
			}

			.line {
				.left {
					background: #ffca31; /* Old browsers */
					background: -moz-linear-gradient(top,  #ffca31 0%, #ffa302 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffca31), color-stop(100%,#ffa302)); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top,  #ffca31 0%,#ffa302 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top,  #ffca31 0%,#ffa302 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top,  #ffca31 0%,#ffa302 100%); /* IE10+ */
					background: linear-gradient(to bottom,  #ffca31 0%,#ffa302 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffca31', endColorstr='#ffa302',GradientType=0 ); /* IE6-9 */
				}
			}
		}

		&.complete {
			.num {
				color: #364d21;
				text-shadow:1px 1px 0 #bbdc81;
				background: #9ec546; /* Old browsers */
				background: -moz-linear-gradient(top,  #9ec546 0%, #7db93f 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9ec546), color-stop(100%,#7db93f)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #9ec546 0%,#7db93f 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #9ec546 0%,#7db93f 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #9ec546 0%,#7db93f 100%); /* IE10+ */
				background: linear-gradient(to bottom,  #9ec546 0%,#7db93f 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ec546', endColorstr='#7db93f',GradientType=0 ); /* IE6-9 */
			}

			.line {
				.left, .right {
					background: #9ec546; /* Old browsers */
					background: -moz-linear-gradient(top,  #9ec546 0%, #7db93f 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9ec546), color-stop(100%,#7db93f)); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top,  #9ec546 0%,#7db93f 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top,  #9ec546 0%,#7db93f 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top,  #9ec546 0%,#7db93f 100%); /* IE10+ */
					background: linear-gradient(to bottom,  #9ec546 0%,#7db93f 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ec546', endColorstr='#7db93f',GradientType=0 ); /* IE6-9 */
				}
			}

			.text {
				color: #568e1c;
				text-shadow:1px 1px 0 #ebebeb;
				font-weight: bold;
			}
		}
	}
}
.errors {
	background: #f9dbdb;
	border: 1px solid #f8bcbc;
	padding: 15px;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;

		li {
			margin: 0;
			padding: 0;
		}
	}
}

.order {
	&.inputs {
		.input {
			label {
				display: block;
				margin: 0;
				padding: 0;

				&.error {
					color: #e60500;
					font-weight: bold;
				}
			}

			input, select, textarea {
				font-family: Arial, sans-serif;
				width: 94%;
				margin: 0;
				padding: 5px 3%;
				margin-bottom: 10px;
			}

			input[type="checkbox"] {
				width: auto;
				padding: 0;
				display: inline;
			}

			select {
				padding: 5px 0;
				width: 100%;
			}
		}

		.buyoncompany, .jina-dodaci {
			display: block;
			font-weight: bold;
			cursor: pointer;
			padding: 10px 0;
		}
	}

	&.ordersummary {
		table {
			width: 100%;
			tr {
				td, th {
					padding: 5px;
					text-align: left;
					border-bottom: 1px solid #e4e4e4;
				}
				&:last-child {
					th, td {
						border-bottom: none;
					}
				}
			}
		}
	}

	.terms {
		float: right;
		display: block;
		padding: 5px 0;
		font-weight: bold;
	}

	.ordersidebar {

		#help-with-order {
			background: #fafafa; /* Old browsers */
			background: -moz-linear-gradient(top,  #fafafa 0%, #e6e6e6 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #fafafa 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #fafafa 0%,#e6e6e6 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #fafafa 0%,#e6e6e6 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #fafafa 0%,#e6e6e6 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
			color: #639b23;
			padding: 10px;
			border: 1px solid #e3e3e3;
			font-weight: bold;

			h3 {
				margin: 0;
				padding: 0;
				font-size: 11pt;
				display: block;
				text-transform: uppercase;
				text-shadow:1px 1px 0 #ffffff;
				margin-bottom: 5px;
			}

			.phone {
				background: url(core/template/levnekoberce/images/icon-phone.png) left center no-repeat;
			}

			.email {
				background: url(core/template/levnekoberce/images/icon-at.png) left center no-repeat;
			}

			.email, .phone {
				padding: 5px 0 5px 35px;
				margin: 0 0 5px 10px;
				font-size: 15pt;
			}
		}

		.title {
			color: #5e3900;
			text-shadow:1px 1px 0 #ffd47d;
			background: #ffca31; /* Old browsers */
			background: -moz-linear-gradient(top,  #ffca31 0%, #ffa302 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffca31), color-stop(100%,#ffa302)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #ffca31 0%,#ffa302 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #ffca31 0%,#ffa302 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #ffca31 0%,#ffa302 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #ffca31 0%,#ffa302 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffca31', endColorstr='#ffa302',GradientType=0 ); /* IE6-9 */
			padding: 10px;
			font-size: 11pt;
			font-weight: bold;
			text-transform: uppercase;

			&.help {
				background: #cecece; /* Old browsers */
				background: -moz-linear-gradient(top,  #cecece 0%, #adadad 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cecece), color-stop(100%,#adadad)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #cecece 0%,#adadad 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #cecece 0%,#adadad 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #cecece 0%,#adadad 100%); /* IE10+ */
				background: linear-gradient(to bottom,  #cecece 0%,#adadad 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#adadad',GradientType=0 ); /* IE6-9 */
				text-shadow:1px 1px 0 #ececec;
				color: #515151;
			}
		}

		hr {
			border: none;
			margin: 20px;
			padding: 0;
			border-bottom: 1px solid #e3e3e3;
		}

		.basket {
			.tablewrap {
				table {
					tr {
						td {
							vertical-align: middle;

							&.total {
								font-weight: bold;
							}
						}
					}

					&.dp {
						tr {
							td {
								padding: 5px 10px;
							}
						}
					}
				}

				&.last {
					border-bottom: none;
				}

				&.final {
					border-top: none;
					padding: 0;
					margin: 0;
					background:#e8e1db;

					table {
						tr {
							td {
								background: none;
								padding: 5px 15px;
							}

							&.total {
								td {
									font-size: 11pt;

									&.value {
										font-size: 17pt;
										color: @orange;
									}
								}
							}

							&.subtotal {
								td {
									&.value {
										font-weight: normal;
										font-size: 10pt;
									}
								}
							}
						}
					}
				}
			}
		}
	}

	fieldset {
		display: block;
		margin: 0;
		padding: 0;
		background: #fbfbfb;
		border: 1px solid #e4e4e4;
		padding: 20px;
		margin-bottom: 30px;

		legend {
			font-size: 14pt;
			line-height: 1;
			margin-bottom: 0;
			width: auto;
			border-bottom: none;
		}

		.input {
			label {
				display: block;
				padding: 5px 0;
				cursor: pointer;

				&.p {
					position: relative;
					padding-right: 100px;
				}

				strong {
					padding-top: 5px;
				}

				input[type="radio"] {
					margin-top: -1px;
					margin-right: 10px;
				}
			}

			.price {
				float: right;
				padding: 0 5px;
				border: 1px solid #ebe4a7;
				background: #f5f5f5;
				opacity: 0;
			}

			&.active {
				color: @orange;
				font-weight: bold;
			}
		}

		&.payment, &.delivery {
			.input {
				&:hover {
					background:#f6f6f6;
					color: #282828;

					.price {
						float: right;
						padding: 0 5px;
						border: 1px solid #c8e5af;
						background: #e8e1db;
						color: #373737;
					}
				}
			}
		}

		.help {
			background: #f5f5f5;
			padding: 7px 10px;
			font-style: italic;
			border: 1px solid #ebe4a7;
			font-size: 9pt;
		}
	}
}

.basket, .order {
	.buttons {
		margin-top: 20px;

		.btn {
			border: none;

			&.checkout {
				float: right;
				background: #dc5300;
				font-size: 17px;
				font-weight: bold;
				color: #fff;
				text-shadow:1px 1px #552000;
				padding: 10px 20px;
			}
		}
	}

	.tablewrap {
		border: 1px solid #e3e3e3;
		padding: 4px;


		table {
			width: 100%;

			a {
				color: @orange;
			}

			thead {
				tr {
					td,th {
						background: #f5f5f5;
						font-weight: bold;
						font-size: 9pt;
						padding: 5px;
					}
				}
			}

			tfoot {
				border-top: 5px solid #fff;

				tr {
					td,th {
						background: #e8e1db;
						font-size: 9pt;
						padding: 5px;
					}

					&.subtotal, &.total {
						.value {
							font-size: 12pt;
							font-weight: bold;
							color: #424242;
						}
						.label {
							-webkit-border-radius: 0px;
							-moz-border-radius: 0px;
							border-radius: 0px;
							display: table-cell;
							color: #424242;
							text-shadow:none;
							font-weight: normal;
						}
					}
				}
			}

			tbody {
				tr {
					td {
						padding: 10px;
						vertical-align: top;

						&.picture {
							width: 100px;

							span {
								width: 100px;
								display: block;
								text-align: center;
								padding: 3px;
								border: 1px solid #eeeeee;
								background: #fff;

								img {
									max-width: 100%;
								}
							}
						}

						&.name {
							width: 300px;
							
							a {
								display: block;
								margin-bottom: 5px;
							}

							.attributes {
								font-size: 8pt;
								padding: 2px 5px;
								border-bottom: 1px solid #efefef;

								.av {
									font-size: 8px;
								}
							}
						}

						&.quantity {
							.qtytext {
								line-height: 40px;
								display: inline-block;
							}
							.qtywrap {
								display: inline-block;
								position: relative;
								padding-right: 25px;
								height: 40px;
								//overflow: hidden;

								input {
									height: 38px;
									line-height: 30px;
									padding: 0 5px;
									width: 35px;
									text-align: center;
									border: 1px solid #afafaf;
									margin: 0;
									padding: 0;
									display: block;
									-webkit-border-radius: 5px 0px 0px 5px;
									border-radius: 5px 0px 0px 5px;

									&:active, &:focus {
										outline: none !important;
									}
								}

								a {
									position: absolute;
									right: 0;
									height: 19px;
									display: block;
									width: 25px;
									text-decoration: none;
									color: #818181;
									text-align: center;
									border: 1px solid #afafaf;
									font-size: 12pt;
									line-height: 18px;

									&.plus {
										top: 0;
										background: #f8f8f8; /* Old browsers */
										background: -moz-linear-gradient(top,  #f8f8f8 0%, #eaeaea 100%); /* FF3.6+ */
										background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
										background: -webkit-linear-gradient(top,  #f8f8f8 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
										background: -o-linear-gradient(top,  #f8f8f8 0%,#eaeaea 100%); /* Opera 11.10+ */
										background: -ms-linear-gradient(top,  #f8f8f8 0%,#eaeaea 100%); /* IE10+ */
										background: linear-gradient(to bottom,  #f8f8f8 0%,#eaeaea 100%); /* W3C */
										filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
										-webkit-border-radius: 0px 5px 0px 0px;
										        border-radius: 0px 5px 0px 0px;
									}

									&.minus {
										height: 18px;
										border-top: none;
										bottom: 0;
										background: #eaeaea; /* Old browsers */
										background: -moz-linear-gradient(top,  #eaeaea 0%, #f8f8f8 100%); /* FF3.6+ */
										background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(100%,#f8f8f8)); /* Chrome,Safari4+ */
										background: -webkit-linear-gradient(top,  #eaeaea 0%,#f8f8f8 100%); /* Chrome10+,Safari5.1+ */
										background: -o-linear-gradient(top,  #eaeaea 0%,#f8f8f8 100%); /* Opera 11.10+ */
										background: -ms-linear-gradient(top,  #eaeaea 0%,#f8f8f8 100%); /* IE10+ */
										background: linear-gradient(to bottom,  #eaeaea 0%,#f8f8f8 100%); /* W3C */
										filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#f8f8f8',GradientType=0 ); /* IE6-9 */
										-webkit-border-radius: 0px 0px 5px 0px;
										border-radius: 0px 0px 5px 0px;
									}

									&:hover {
										background:#d2d2d2;
									}
								}
							}
						}

						&.totaltd {
							font-weight: bold;
							position: relative;

							.ajax {
								background: url(core/template/levnekoberce/images/small-ajax.gif);
								width: 16px;
								height: 16px;
								display: block;
								position: absolute;
								top: 10px;
								left: 50%;
								margin-left: -8px;
								display: none;
							}
						}

						&.remove {
							word-spacing: 16px;

							a {
								display: block;
								width: 16px;
								height: 16px;
								overflow: hidden;
								text-indent: 1000px;
								position: relative;

								span {
									position: absolute;
									top: 0;
									left: 0;
									width: 16px;
									height: 16px;
									background: url(core/template/levnekoberce/images/delete.png);
									display: block;
								}
							}
						}
					}

					&.even {
						td {
							background: #eeeeee;

							&.name {
								.attributes {
									border-bottom: 1px solid #fff;
								}
							}
						}
					}
				}
			}
		}
	}
}