@import "core/template/system/css/functions.less.css";
@import "core/template/system/css/tni.less-functions.less.css";
@import "core/template/system/css/reset.less.css";

@import "bootstrap/css/bootstrap.less";

@import "font-awesome/less/variables.less";
@import "font-awesome/less/mixins.less";
@import "font-awesome/less/path.less";
@import "font-awesome/less/core.less";
@import "font-awesome/less/bootstrap.less";
@import "font-awesome/less/extras.less";
@import "font-awesome/less/icons.less";

@import "basket.less";


body {
	background:transparent;
	font-size:14px;
}
body, input, button {font-family: Calibri, sans-serif;}
html {
	background: url(core/template/levnekoberce/images/bg_html.gif);
}

a {color:#dc5300;}

.radius (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}
.radiusTop (@radius: 5px) {
  -webkit-border-top-left-radius: @radius;
	-webkit-border-top-right-radius:@radius;
	-moz-border-radius-topleft: @radius;
	-moz-border-radius-topright: @radius;
	border-top-left-radius: @radius;
	border-top-right-radius: @radius;
}
.textShadowWhite {
	text-shadow: 0px 1px 0px #ffffff;
	filter: dropshadow(color=#ffffff, offx=0, offy=1);
}
.fontArial {
	font-family:Arial, Helvetica, sans-serif;
}


#header, #footer, #container {width:1000px;margin:0 auto;}
#container {
	background-color:#ffffff;
	h1 {
		font-size:28px;
		font-family:Arial, Helvetica, sans-serif;
		font-weight:normal;
		margin:20px 0 20px 0; padding:0;
	}
}

#header {
	.userBox {
		font-size:14px;
		text-align:right;
		padding:10px 0;
		display:table;
		width:100%;
		a {
			color:#ffffff;
			&.login {
				background: url(core/template/levnekoberce/images/icon_login.png) no-repeat 0 1px;
				padding:0 50px 0 20px;
			}
			&.reg {
				background: url(core/template/levnekoberce/images/icon_reg.png) no-repeat 0 3px;
				padding:0 0 0 20px;
			}
		}
	}
	.brand {
		width:423px;
		height:111px;
		display:inline-block;
		position:relative;
		float:left;
		span {
			position:absolute;
			top:0;
			left:0;
			width:423px;
			height:111px;
			display:inline-block;
			background: url(core/template/levnekoberce/images/logo.png) no-repeat center center;
		}
	}
	.center {
		float:left;
		width:290px;
		padding:15px 0 0 0;
		.phone {
			background:url(core/template/levnekoberce/images/ico_header-phone.png) 0 50% no-repeat;
			padding:0 0 0 25px;
			font-size:14px;
			text-transform:uppercase;
			color:#473525;
			strong {
				font-size:18px;
				display: inline-block;
				padding:0 10px 0 0;
			}
		}
	}
	.search {
		position:relative;
		margin:8px 0 0 0;
		.text {
			background:url(core/template/levnekoberce/images/bg_header-search.png) 0 0 no-repeat;
			border:0;
			width:200px;
			padding: 0 70px 0 16px;
			height:50px;
			line-height:50px;
			font-size:16px;
			font-style:italic;
		}
		.submit {
			background:url(core/template/levnekoberce/images/ico_header-search.png) 0 0 no-repeat;
			position:absolute;
			top:10px;
			right:10px;
			width:52px;
			border:none;
			text-indent:-10000px;
			height:30px;
			line-height:30px;
		}
	}
	.basket {
		background-color:#d6cfca;
		border:1px solid #d0cac5;
		.radius;
		float:right;
		width:180px;
		padding:9px 20px;
		height:72px;
		margin:10px 0;
		a {
			color: #535353;
			.h5 {
				color:#4f3b29;
				text-shadow: 0px 1px 0px #ffffff;
				filter: dropshadow(color=#ffffff, offx=0, offy=1);
				background:url(core/template/levnekoberce/images/ico_header-basket.png) 0 50% no-repeat;
				margin:0;
				padding:2px 0 2px 30px;
				font-size:18px;
				display:block;
				margin: 0 0 8px 0;
				text-decoration:none;
			}
			.qty {
				display:block;
				span {
					text-align:right;
					display:inline-block;
					padding:0 8px 0 0;
					width:45px;
				}
				strong {
					color:#dc5300;
				}
			}
			.price {
				display:block;
				span {
					text-align:right;
					display:inline-block;
					padding:0 8px 0 0;
					width:45px;
				}
				strong {
					color:#dc5300;
				}
			}
		}
	}
	.header {
		background-color:#e8e1db;		
		.navbar {
			clear:both;
			width:100%;
			display:table;
			margin:0;
			.nav {
				min-height: 0;
				padding:0 20px;
				background-color:#ccc4bf;
				width:960px;
				border-bottom:7px solid #4f3b29;
				li {
					-webkit-box-shadow: inset 21px -1px 11px -9px rgba(79,59,41,0.22);
					-moz-box-shadow: inset 21px -1px 11px -9px rgba(79,59,41,0.22);
					box-shadow: inset 21px -1px 11px -9px rgba(79,59,41,0.22);
					a {
						padding: 0 23px;
						height:40px;
						line-height:40px;
						display:inline-block;
						font-size:18px;
						color:#000 !important;

						&:hover {
							background-color:#4f3b29;
							color: #fff !important;
							text-shadow:none;
						}
					}
					&.active {
						a {
							background-color:#4f3b29;
							.radiusTop;
							color:#fff !important;
							height:48px;
							line-height:48px;
							position:relative;
							top:-8px;
							box-shadow: 0 2px 3px rgba(51, 37, 26) inset;
							text-shadow: 0 1px 0 #000000;
							margin:0 0 -8px 0;
							$:hover {
								text-decoration:underline;
							}
						}
					}
				}
			}
		}
	}

	#basket {
		min-width: 220px;
		margin-left: 20px;

		span {
			display: block;

			&.title {
				font-weight: bold;
			}

			i {
				font-size: 30px;
			}
		}
	}

	.navbar-form {
		margin-bottom: 5px;
	}
}


#main {
	.sidebar {
		.block {
			margin-bottom: 50px;

			.title {
				margin: 0 0 10px 0;
				h3 {
					margin: 0;
					padding: 0;
					font-size: 18px;
					line-height: 1;
				}
			}

			.customer {
				.customerinfo {
					strong {
						display: block;
					}

					.actions {
						margin-top: 10px;
					}
				}
			}

			.products {
				.thumbnail {
					margin-bottom: 20px;
					h3 {
						margin: 0;
						padding: 0 0 10px 0;
						font-size: 15px;
						line-height: 1.2;
					}

					img {
						max-width: 100%;
					}

					.price {
						strong {
							font-size: 15px;
							display: block;
							line-height: 30px;
						}
					}
				}
			}

			.poll {
				.question {
					font-weight: bold;
					margin: 0;
					padding: 0;
				}

				ul {
					margin: 0;
					padding: 0;

					li {
						margin: 0;
						padding: 0;
						list-style: none;
						font-size: 12px;

						small {
							color: #c2c2c2;
							font-size: 11px;
						}

						.progress {
							margin-bottom: 5px;
						}
					}
				}
			}

			.pages {
				ul {
					li {
						a {
							.icon-chevron-right {
								float: right;
								margin-top: 2px;
								margin-right: -6px;
								opacity: .25;
							}
						}

						&.active {
							&>a {
								&>.icon-chevron-right {
									opacity: 1;
								}
							}
						}

						ul {
							margin: 0;

							li {
								a {
									padding-left: 30px;
									-webkit-border-radius: 0;
									border--radius: 0;
									-webkit--radius: 0;
									padding-top: 5px;
									padding-bottom: 5px;
								}

								&:first-child {
									a {
										border-top: 0;
									}
								}

								&:last-child {
									a {
										border-bottom: 0;
									}
								}

								ul {
									li {
										a {
											padding-left: 50px;
										}

										ul {
											li {
												a {
													padding-left: 80px;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}

			.basket {
				.smaller {
					font-size: 12px;

					.attributes {
						font-size: 11px;
					}

					.price {
						font-size: 13px;
						font-weight: bold;
					}
				}
			}

			.contact {
				.bc-email {
					display: none;
				}
			}
		}
	}
	
.subpages {
	margin:0 0 10px 0; padding:0;
	list-style-type:none;
	display:table;
	width:100%;
	li {
		float:left;
		margin:0 10px 10px 0;
		a {
			background: url(core/template/levnekoberce/images/ico_subpage.gif) 10px 50% no-repeat #f4f0ed;
			.radius;
			display:inline-block;
			padding: 5px 10px 5px 35px;
			font-style:12px;
			font-family:Arial, Helvetica, sans-serif;
			color:#4b3827;
		}
	}
}

ul.products {
	margin:0;
	padding:0;
	list-style-type:none;
	display:table;
	width:720px;
	//background: url(core/template/levnekoberce/images/bg_products.gif) 0px 100% no-repeat;
	li {
		width:210px;
		float:left;
		margin:10px 13px 0 13px;
		position:relative;
		
		height: 450px;
		max-height: 450px;
		overflow: hidden;
		&::after {
			content: '';
			display: block;
			width: 210px;
			height: 2em;
			position: absolute;
			bottom: 1px;
			background: linear-gradient(rgba(228, 228, 228, 0), rgba(228, 228, 228, 1));
		}

		hr {
			position: absolute;
			bottom: 0;
			left: 20px;
			right: 20px;
			border: none;
			margin: 0;
			padding: 0;
			height: 1px;
			border-bottom: 1px solid #ddd;
		}

		h3 {
			font-size:22px;
			line-height:1em;
			font-weight:normal;
			color:#363636;
			height:45px;
			a {
				color:#363636;
			}
		}
		.image {
			height:200px;
			display:block;
			text-align: center;
			margin: 0 0 20px 0;

			img {
				max-width: 100%;
				max-height: 200px;
			}
		}
		.price {
			color:#419a08;
			display:block;
		}
		.price strong {
			display:block;
			font-size:26px;
			margin:0 0 5px 0;

			.curr-wrap {
				font-size: 14px;
				font-weight: normal;
				position: relative;
				width: 30px;

				.currency {
					position: absolute;
					top: -7px;
					left: 0;
				}
			}
		}
		.price .unvat {
			font-size:11px;
			color:#787878;
			font-family:Arial, Helvetica, sans-serif;
			display:block;
		}
		.btn {
			margin:10px 0;
		}
		.labels {
			position:absolute;
			top:74px;
			left:11px;
		}
	}
}

.files {
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;

	li.picture {
		margin: 0;
		padding: 0;
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
		list-style: none;
		font-size: 10px;
		text-align: center;
	}
}


	/**
	 * Pages
	 */
	.page-customer {
		.customer-name {
			margin: 0;
			padding: 0;
			line-height: 1.2;
		}
	}

	.customer-order {
		.thumbnail {
			margin-bottom: 10px;
		}
	}

	/**
	 * Detail stranky
	 */
	.subpages {
		li {
			a {
				span, div {
					&.shortdesc {
						font-size: 11px !important;
						display: block;
					}

					&.date {
						display: block;
					}
				}
			}

			.shortdesc {
				font-size: 11px !important;
				display: block;
			}
		}

		img {
			max-width: 100%;
		}

		&.gallery {
			text-align: center;
		}
	}

	/**
	 * Detail produktu
	 */
	.productdetail {

		.related-products {
			h4 {
				font-size: 25px;
				color: #363636;
				border-bottom: 1px solid #b0b0b0;
				font-weight: normal;
				display: block;
				padding: 0 0 10px 0;
				margin-bottom: 10px;
			}
		}
		.files {
			margin: 0;
			padding: 0;
			font-size: 0;

			li {
				font-size: 12px;
				margin: 0 5px 5px 0;
				padding: 0;
				list-style: none;
				display: inline-block;
				.thumbnail {
					border:none;
					padding:0;
				}
				&.smallpic {
					width: auto;

					.thumbnail {
						a {
							display: block;
							width: 55px;
							height: 55px;
							overflow: hidden;
						}
					}
				}
			}
		}
		.detLeft {
			width:300px;
			float:left;
		}
		.detRight {
			width:350px;
			float:right;
		}

		.labels {
			margin-top: -25px;
			margin-bottom: 25px;
		}

		.sharelinks {
			margin-bottom: 10px;
		}

		.product-info {
			.product-title {
				font-size: 15px;
				margin: 0;
				padding: 0 0 10px 0;
				line-height: 1.2;

				small {
					font-size: 12px;
				}
			}

			.shortdesc {
				font-size: 13px;
				font-style: italic;
				text-align: justify
			}

			.description {
				text-align: justify;
			}
		}
		table {
			font-size:12px;
			font-family: Arial, Helvetica, sans-serif;
			margin:15px 0 25px 0;
			width: 100%;
			tr {
				th {
					width:140px;
					font-weight:normal;
					text-align:left;
				}
				td {
					font-size: 12px;
					padding: 0;
					text-align: right;
					.availability {
						color:#5ea600;
					}
				}
			}
		}
		.priceBox {
			display:table;
			width:100%;
			margin:0 0 20px 0;
			text-align: right;

			strong {
				font-size:26px;
				line-height:1.1em;
				font-family:Arial, Helvetica, sans-serif;
				color:#dc5300;
				display:block;
			}
			em {
				font-size:11px;
				color:#929292;
				font-style:normal;
				display:block;
				.fontArial;
			}
			a {
				float:right;
				.fontArial;
				color:#4e7dc0;
				font-size:12px;
			}
		}
		.priceCalculator {
			border:1px solid #cec9c3;
			background-color:#e8e2dc;
			padding:19px 19px 0 9px;
			color:#35271b;
			font-size:18px;
			input.text,select {
				width:30px;
				border:1px solid #aba298;
				color:#616161;
				margin:0 10px;
			}
			select {
				width:auto;
				border:1px solid #aba298;
				color:#616161;
				margin:0 10px;
			}
			input.qty {
				width:40px;
				border:1px solid #aba298;
				color:#616161;
				margin:0;
				float: right;
				height: 36px;
				text-align: center;
			}
			.cross {
				display: block;
				float: right;
				line-height: 36px;
				margin: 0 5px;
			}
			.result {
				background:url(core/template/levnekoberce/images/bg_pricecalc.gif) 0 0 no-repeat #e1dad3;
				margin:19px -19px 0 -9px;
				padding:24px 19px 19px 10px;
				div {
					float:left;
					strong {
						font-size:24px;
						color:#35271b;
						.fontArial;
						display:block;
					}
					em {
						font-size:11px;
						color:#929292;
						font-style:normal;
						display:block;
						.fontArial;
					}
				}
				.btn-buy {
					float:right;
				}
			}
		}
		

		.variants-table {
			tr {
				td, th {
					padding: 0;

					.product-variant {
						margin: 0;
						padding: 8px;
						line-height: 1;
						
						.row-fluid [class*="span"] {
							min-height: 0;
						}

						input {
							margin-top: 0;
						}
					}
				}
			}
		}

		
	}

	/**
	 * Vypis produktu
	 */
	 .filter {
	 	margin: 20px 0;

	 	&.well {
	 		background: #f9f7f7;
	 		-webkit-border-radius: 0;
	 		border--radius: 0;
	 		-webkit--radius: 0;
	 		border-color: #eeeae9;
	 	}
	 }

	.products {
		.product {
			&.product-promote {
				.thumbnail {
					background: #fcf8e3;
					border-color:#fff;
				}
			}
		}

		.thumbnail {
			margin-bottom: 10px;

			.image {
				position: relative;
				display: block;
				text-align: center;
				height: 200px;
				margin-bottom: 5px;

				img {
					max-width: 100%;
				}

				.discount {
					position: absolute;
					top: 2px;
					left: 2px;
				}

				.labels {
					position: absolute;
					top: 2px;
					right: 2px;
					max-width: 70%;

					.label {
						float: right;
						margin-bottom: 2px;
					}
				}
			}

			.name {
				margin: 0 0 10px 0;
				padding: 0;
				font-size: 13px;
				line-height: 1.2;
				height: 2.4em;
				overflow: hidden;
			}

			.description {
				font-size: 11px;
				line-height: 1.3;
				height: 6.1em;
				margin-bottom: 10px;
				overflow: hidden;

				p, span, * {
					margin: 0 !important;
					padding: 0 !important;
					font-size: 11px !important;
				}
			}

			.price {
				font-size: 18px;
				font-weight: bold;
				line-height: 1;
			}

			.availability {
				font-size: 10px;
				font-weight: bold;
				line-height: 1.3;
			}
		}


		&.products-4cols {
			.thumbnail {
				.image {
					height: 120px;
				}
				.price {
					font-size: 12px;
				}
			}
		}

		&.products-1cols {
			.thumbnail {
				position: relative;

				.name {
					height: auto;
					overflow: none;
					font-size: 15px;
					line-height: 1.3;

					&.with-discount {
						padding-right: 70px;
					}
				}

				.labels {
					margin-top: -10px;
					margin-bottom: 10px;
				}

				.discount {
					position: absolute;
					top: -5px;
					right: -5px;
					font-size: 25px;
					padding: 15px 5px;
				}

				.price {
					display: block;
					font-size: 30px;
				}
			}
		}

		&.products-2cols {
			.thumbnail {
				.image {
					height: 300px;
				}
			}
		}
	}

	.main-cols-1 {
		.products {
			&.products-4cols {
				.thumbnail {
					.image {
						height: 180px;
					}

					.price {
						font-size: 20px;
					}
				}
			}
		}
	}

	.main-cols-3 {
		.products {
			&.products-3cols {
				.thumbnail {
					.image {
						height: 110px;
					}

					.bottom-row {
						&>div {
							width: 100%;
							margin: 0;
							padding: 0;

							.availability {
								margin-bottom: 5px;
							}
							.pull-right {
								float: left;
							}
						}
					}
				}
			}
		}
	}
}
.sidebar-left {
	.pages {
		.nav {
			border-bottom:1px solid #e9e9e9;
			a {
				border-top:1px solid #e9e9e9;
				padding:7px 5px 7px 30px;
				font-size:17px;
				color:#535353;
				line-height:1.3em;
				&:hover {
					color:#dc5300;
					background-color:none !important;
				}
			}
			.active {
				a {
					color:#dc5300;
				}
			}
			.nav {
				background-color:#f5f5f5;
				border:none;
				padding:0 0 0 0;
				border-top:1px solid #e9e9e9;
				a {
					padding:7px 5px 7px 53px !important;
					color:#535353;
					border-top:none;
					background:url(core/template/levnekoberce/images/bg_navsubpage.gif) 30px 50% no-repeat;

					&:hover {
						background-color:#e7e7e7;
					}
				}
				li {
					&:hover {
						background-color:#e7e7e7;
					}
				}
				.active {
					a {
						font-weight:bold;
						text-decoration:bold;
						text-decoration: underline;
						color:#dc5300;
					}
				}
			}
		}
	}	
	.block {
		margin:0 0 20px 0 !important;
		h3 {
			// background-color:#fff;
			background-repeat:no-repeat;
			background-position:25px 50%;
			font-size:18px;
			font-weight:normal;
			padding:10px 0 10px 68px;
			color:#7e7269;
		}
	}
	#block-id2 {
		.content {
			padding:0px 10px 25px 25px;
		}
		h3 {
			background-image:url(core/template/levnekoberce/images/ico_blok-poradte.png);
		}
		a {
			color:#dc5300;
		}
		ul {
			margin:0;
			padding:0;
			list-style-type:none;
			li {
				background:url(core/template/levnekoberce/images/bg_block-ul-poradte.png) 0 50% no-repeat;
				padding:1px 0 1px 15px;
			}
		}
	}
	#block-id3 {
		h3 {
			background-image:url(core/template/levnekoberce/images/ico_block-newsletter.png);
		}
		ul {
			margin:0;
			padding:0px 10px 25px 25px;
			list-style-type:none;
			li {
				background:url(core/template/levnekoberce/images/bg_block-ul-newsletter.png) 0 50% no-repeat;
				padding:1px 0 1px 15px;
				color:#787878;
			}
		}
		form {
			padding:0 0 0 25px;
			.text {
				border:1px solid #c7c7c7;
				.radius;
				padding:8px 15px;
				color:#626262;
				font-style:italic;
				width:170px;
			}
		}
		.btn-success {
			padding:7px 0;
			width:200px;
			text-align:center;
		}
	}
	#block-id4 {
		h3 {
			background-image:url(core/template/levnekoberce/images/ico_block-fb.png);
		}
		.content {
			padding:0px 0px 25px 25px;
		}
	}
}
.btn-success{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#ab998e;*background-color:#ab998e;background-image:-moz-linear-gradient(top,#ab998e,#7e7269);background-image:-webkit-gradient(linear,0 0,0 100%,from(#ab998e),to(#7e7269));background-image:-webkit-linear-gradient(top,#ab998e,#7e7269);background-image:-o-linear-gradient(top,#ab998e,#7e7269);background-image:linear-gradient(to bottom,#ab998e,#7e7269);background-repeat:repeat-x;border-color:#92847b;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462',endColorstr='#ff51a351',GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);padding: 7px 18px;}
.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.btn-success.disabled,.btn-success[disabled]{color:#fff;background-color:#7e7269;*background-color:#7e7269}
.btn-success:active,.btn-success.active{background-color:#7e7269 \9}

.btn-buy{color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#dc5300;*background-color:#dc5300;background-image:-moz-linear-gradient(top,#dc5300,#dc5300);background-image:-webkit-gradient(linear,0 0,0 100%,from(#dc5300),to(#dc5300));background-image:-webkit-linear-gradient(top,#dc5300,#dc5300);background-image:-o-linear-gradient(top,#dc5300,#dc5300);background-image:linear-gradient(to bottom,#dc5300,#dc5300);background-repeat:repeat-x;border-color:#d3cdc6;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462',endColorstr='#ff51a351',GradientType=0);filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);padding: 7px 18px;font-size:16px !important;.fontArial;}
.btn-buy:hover,.btn-buy:focus,.btn-buy:active,.btn-success.active,.btn-buy.disabled,.btn-buy[disabled]{color:#fff;background-color:#dc5c0f;*background-color:#dc5c0f}
.btn-buy:active,.btn-buy.active{background-color:#dc5c0f \9}

.main {
	width:710px;
	.breadcrumb {
		background:transparent url(core/template/levnekoberce/images/ico_breadcrumbs.png) 0 50% no-repeat;
		background-color: transparent;
		padding:10px 0 10px 16px;
		margin:0;
		font-size:12px;
		font-family:Arial, Helvetica, sans-serif;
		li {
			//margin:0 0 0 10px;
			a {
				//padding-right:20px;
				//background:url(core/template/levnekoberce/images/ico_breadcrumbs-link.png) 100% 2px no-repeat;
				text-decoration:underline;
				display:inline-block;
			}
		}

		.divider {
			//display: none;
		}
	}
}

#footer {
	border-top: 1px solid #c0b4a1;
	display:table;
	.footer {
		background-color:#ebe2d3;
		padding:25px;
		h5 {
			color:#4f3b29;
			margin:0 0 20px 0; padding:0;
			.textShadowWhite;
		}
		.kontakt li {
			padding-left:25px;
		}
		ul {
			margin:0;
			padding:0;
			list-style-type:none;
			li {
				padding:3px 0 0 15px;
			}
			a {
				color:#5c5c5c;
				display:block;
				margin:0 0 0 -15px;
				padding:2px 0 0 15px;
				background: url(core/template/levnekoberce/images/ico_footer-list.png) 0 50% no-repeat;
			}
			.phone {
				background: url(core/template/levnekoberce/images/ico_footer-phone.png) 0 50% no-repeat;
			}
			.email {
				background: url(core/template/levnekoberce/images/ico_footer-email.png) 0 50% no-repeat;
			}
			.name {
				background: url(core/template/levnekoberce/images/ico_footer-name.png) 0 50% no-repeat;
			}
		}
	}
	.subfooter {
		display:table;
		padding:15px 0;
		color:#fff;
		font-size:14x;
		width:100%;
		p {
			float:left;
			margin:0;
			padding:0;
		}
		p.powered {
			float:right;
		}
		a {
			color:#fff;
		}
	}
}

.promo-boxes {
	margin: 40px 0 40px 0;
	//background: url(core/template/levnekoberce/images/promo.png) bottom center no-repeat;
	//padding-bottom: 40px;

	.item {
		padding-left: 40px;
		padding-right: 30px;

		&.item-1 {
			background: url(core/template/levnekoberce/images/promo-1.png) left center no-repeat;
		}
		&.item-2 {
			background: url(core/template/levnekoberce/images/promo-2.png) left center no-repeat;
		}
		&.item-3 {
			background: url(core/template/levnekoberce/images/promo-3.png) left center no-repeat;
		}

		strong {
			display: block;
			color: #4f3b29;
			font-size: 18px;
			line-height: 1;
		}
		span {
			line-height: 1;
			display: block;
			color: #909090;
			font-size: 12px;
		}
	}
}

.productdetail {
	.promo-boxes {
		padding-bottom: none;
		background: none;
		margin: 40px 0;
	}
}

.pagination-centered {
	text-align: right !important;
}

#main > .row-fluid > .span9 {
	background-color: #E4E4E4;
	padding-left: 1.5em;
}

.attributes-box {
	display: block;
	margin-bottom: 15px;

	.attribute {
		margin: 0 0 10px 0;

		h4 {
			font-size : 14px;
			margin: 0 10px;
		}
		select {
			width: auto !important;
		}
		table {
			margin: 0 !important;
			padding: 0 !important;
		}
	}
}

a.disabled {
   pointer-events: none;
   cursor: default;    
}