/* global */
@bgcolor: #ffffff;
@fontcolor: #444444;
@linkcolor: #7D874D;
@linkhovercolor: #7D874D;
@width: 980px;

/* general colors */
@color1: #f0f0f0;
@color2: #d6d6d6;

/* #topnav */
@topnav-backgroundcolor: #444444;
@topnav-fontcolor: #ffffff;

/* #banner */
@banner-gradient-top: #242424;
@banner-gradient-bottom: #636363;
@banner-fontcolor: #ffffff;
@banner-image: none;
@banner-input: #ffffff;

/* .logo */
@logo-fontsize: 200%;
@logo-fontcolor: #ffffff;
@logo-image: none;

/* #mainnav */
@mainnav-gradient-top: #ffffff;
@mainnav-gradient-bottom: #ffffff;
@mainnav-radius: 3px;
@mainnav-linkcolor: #777777;
@mainnavdropdown-bordercolor: #ffffff;
@mainnavdropdown-backgroundcolor: #ffffff;
@mainnavdropdown-linkcolor: #777777;

/* .block */
@block-gradient-top: #242424;
@block-gradient-bottom: #636363;
@block-radius: 3px;
@block-fontcolor: #ffffff;
@blockcontent-bordercolor: #d6d6d6;
@blockcontent-backgroundcolor: #f0f0f0;
@blockcontent-radius: 6px;

/* footer */
@footer-backgroundcolor: #242424;
@footer-bordercolor: #d6d6d6;
@footer-radius: 6px;
@footer-fontcolor: #888888;

/* .button */
@button-gradient-top: #7D874D;
@button-gradient-bottom: #5f673c;
@button-fontcolor: #ffffff;
@button-radius: 3px;

/* .basket */
@basket-gradient-top: #f0f0f0;
@basket-gradient-bottom: #e2e2e2;
@basket-bgcolor: #f0f0f0;
@basket-bordercolor: #d6d6d6;

/* .poll */
@poll-bgcolor: #999999;
