/* global */
@bgcolor: #ffffff;
@fontcolor: #444444;
@linkcolor: #525d75;
@linkhovercolor: #525d75;
@width: 95%;

/* general colors */
@color1: #f0f0f0;
@color2: #d6d6d6;

/* #topnav */
@topnav-backgroundcolor: #444444;
@topnav-fontcolor: #ffffff;

/* #banner */
@banner-gradient-top: #babec5;
@banner-gradient-bottom: #babec5;
@banner-fontcolor: #525d75;
@banner-image: none;
@banner-input: #ffffff;

/* .logo */
@logo-fontsize: 200%;
@logo-fontcolor: #444444;
@logo-image: none;

/* #mainnav */
@mainnav-gradient-top: #525d75;
@mainnav-gradient-bottom: #525d75;
@mainnav-radius: 0;
@mainnav-linkcolor: #ffffff;
@mainnavdropdown-bordercolor: #525d75;
@mainnavdropdown-backgroundcolor: #525d75;
@mainnavdropdown-linkcolor: #ffffff;

/* .block */
@block-gradient-top: #525d75;
@block-gradient-bottom: #525d75;
@block-radius: 0;
@block-fontcolor: #b8becc;
@blockcontent-bordercolor: #d6d6d6;
@blockcontent-backgroundcolor: #f0f0f0;
@blockcontent-radius: 0;

/* footer */
@footer-backgroundcolor: #babec5;
@footer-bordercolor: #d6d6d6;
@footer-radius: 0;
@footer-fontcolor: #888888;

/* .button */
@button-gradient-top: #8794b0;
@button-gradient-bottom: #525d75;
@button-fontcolor: #ffffff;
@button-radius: 0;

/* .basket */
@basket-gradient-top: #f0f0f0;
@basket-gradient-bottom: #e2e2e2;
@basket-bgcolor: #f0f0f0;
@basket-bordercolor: #d6d6d6;

/* .poll */
@poll-bgcolor: #999999;
