/* global */
@bgcolor: #ffffff;
@fontcolor: #444444;
@linkcolor: #9e2e73;
@linkhovercolor: #9e2e73;
@width: 980px;

/* general colors */
@color1: #f0f0f0;
@color2: #d6d6d6;

/* #topnav */
@topnav-backgroundcolor: #444444;
@topnav-fontcolor: #ffffff;

/* #banner */
@banner-gradient-top: #9e2e73;
@banner-gradient-bottom: #9e2e73;
@banner-fontcolor: #ffffff;
@banner-image: none;
@banner-input: #ffffff;

/* .logo */
@logo-fontsize: 200%;
@logo-fontcolor: #ffffff;
@logo-image: none;

/* #mainnav */
@mainnav-gradient-top: #ffffff;
@mainnav-gradient-bottom: #c0c0c0;
@mainnav-radius: 4px;
@mainnav-linkcolor: #777777;
@mainnavdropdown-bordercolor: #aaaaaa;
@mainnavdropdown-backgroundcolor: #dddddd;
@mainnavdropdown-linkcolor: #777777;

/* .block */
@block-gradient-top: #f0f0f0;
@block-gradient-bottom: #c0c0c0;
@block-radius: 3px;
@block-fontcolor: #777777;
@blockcontent-bordercolor: #d6d6d6;
@blockcontent-backgroundcolor: #f0f0f0;
@blockcontent-radius: 6px;

/* footer */
@footer-backgroundcolor: #f0f0f0;
@footer-bordercolor: #d6d6d6;
@footer-radius: 6px;
@footer-fontcolor: #888888;

/* .button */
@button-gradient-top: #bb77a1;
@button-gradient-bottom: #612e4d;
@button-fontcolor: #ffffff;
@button-radius: 3px;

/* .basket */
@basket-gradient-top: #f0f0f0;
@basket-gradient-bottom: #e2e2e2;
@basket-bgcolor: #f0f0f0;
@basket-bordercolor: #d6d6d6;

/* .poll */
@poll-bgcolor: #999999;
