/* global */
@bgcolor: #ffffff;
@fontcolor: #444444;
@linkcolor: #8489b3;
@linkhovercolor: #4751a9;
@width: 980px;

/* general colors */
@color1: #f0f0f0;
@color2: #d6d6d6;

/* #topnav */
@topnav-backgroundcolor: #c5edfc;
@topnav-fontcolor: #6fb0c8;

/* #banner */
@banner-gradient-top: #ffffff;
@banner-gradient-bottom: #ffffff;
@banner-fontcolor: #8489b3;
@banner-image: url(__base__files/agatha-banner1.jpg);
@banner-input: #8489b3;

/* .logo */
@logo-fontsize: 200%;
@logo-fontcolor: #444444;
@logo-image: none;

/* #mainnav */
@mainnav-gradient-top: #f9c886;
@mainnav-gradient-bottom: #f88c5d;
@mainnav-radius: 4px;
@mainnav-linkcolor: #ffffff;
@mainnavdropdown-bordercolor: #f88c5d;
@mainnavdropdown-backgroundcolor: #f9c886;
@mainnavdropdown-linkcolor: #f44b01;

/* .block */
@block-gradient-top: #cdcfe5;
@block-gradient-bottom: #8084a8;
@block-radius: 3px;
@block-fontcolor: #ffffff;
@blockcontent-bordercolor: #b7edb1;
@blockcontent-backgroundcolor: #e8ffe5;
@blockcontent-radius: 6px;

/* footer */
@footer-backgroundcolor: #dcddea;
@footer-bordercolor: #d6d6d6;
@footer-radius: 6px;
@footer-fontcolor: #888888;

/* .button */
@button-gradient-top: #f9c886;
@button-gradient-bottom: #f88c5d;
@button-fontcolor: #ffffff;
@button-radius: 3px;

/* .basket */
@basket-gradient-top: #f0f0f0;
@basket-gradient-bottom: #e2e2e2;
@basket-bgcolor: #f0f0f0;
@basket-bordercolor: #d6d6d6;

/* .poll */
@poll-bgcolor: #999999;
