/* global */
@bgcolor: #ffffff;
@fontcolor: #444444;
@linkcolor: #cb1c15;
@linkhovercolor: #cb1c15;
@width: 98%;

/* general colors */
@color1: #f0f0f0;
@color2: #d6d6d6;

/* #topnav */
@topnav-gradient-top: #ededed;
@topnav-gradient-bottom: #d4d4d4;
@topnav-bordercolor: #b8b8b8;
@topnav-radius: 3px;

/* #banner */
@banner-gradient-top: #ffffff;
@banner-gradient-bottom: #ffffff;
@banner-radius: 0;
@banner-fontcolor: #444444;
@banner-image: none;
@banner-input: #ffffff;

/* .logo */
@logo-fontsize: 200%;
@logo-fontcolor: #444444;
@logo-image: none;

/* #mainnav */
@mainnav-gradient-top: #e86964;
@mainnav-gradient-bottom: #cb1c15;
@mainnav-bordercolor: #a01d18;
@mainnav-radius: 0;
@mainnav-linkcolor: #ffffff;
@mainnavdropdown-bordercolor: #e86964;
@mainnavdropdown-backgroundcolor: #cb1c15;
@mainnavdropdown-linkcolor: #ffffff;

/* .block */
@block-gradient-top: #ededed;
@block-gradient-bottom: #d4d4d4;
@block-bordercolor: #b8b8b8;
@block-radius: 0;
@block-fontcolor: #777777;
@blockcontent-bordercolor: #d6d6d6;
@blockcontent-backgroundcolor: #ffffff;

/* footer */
@footer-backgroundcolor: #f0f0f0;
@footer-bordercolor: #d6d6d6;
@footer-radius: 0;
@footer-fontcolor: #888888;

/* .button */
@button-gradient-top: #e05c57;
@button-gradient-bottom: #cb1c15;
@button-bordercolor: #832925;
@button-fontcolor: #ffffff;
@button-radius: 3px;

/* .basket */
@basket-gradient-top: #f0f0f0;
@basket-gradient-bottom: #e2e2e2;
@basket-bgcolor: #f0f0f0;
@basket-bordercolor: #d6d6d6;

/* .poll */
@poll-bgcolor: #999999;
