/* global */
@bgcolor: #f7f7ed;
@image: none;
@fontcolor: #444444;
@linkcolor: #444444;
@linkhovercolor: #444444;
@width: 980px;

/* general colors */
@color1: #f1f1e0;
@color2: #dbdba4;

/* #main */
@content-backgroundcolor: #ffffff;
@content-bordercolor: #e0e0e0;

/* #topnav */
@topnav-fontcolor: #444444;

/* #banner */
@banner-fontcolor: #777777;
@banner-input: #ffffff;

/* .logo */
@logo-fontsize: 200%;
@logo-fontcolor: #444444;
@logo-image: none;

/* #mainnav */
@mainnav-backgroundcolor: #dbdba4;
@mainnav-radius: 3px;
@mainnav-linkcolor: #444444;
@mainnavdropdown-backgroundcolor: #dbdba4;
@mainnavdropdown-linkcolor: #444444;

/* .block */
@block-fontcolor: #b6b677;

/* footer */
@footer-fontcolor: #888888;

/* .button */
@button-gradient-top: #cbcb80;
@button-gradient-bottom: #98983a;
@button-fontcolor: #ffffff;

/* .basket */
@basket-bordercolor: #dbdba4;

/* .poll */
@poll-bgcolor: #999999;
