/* global */
@bgcolor: #f6f6f6;
@image: url("__base__files/pattern_1.jpg");
@fontcolor: #444444;
@linkcolor: #990085;
@linkhovercolor: #990085;
@width: 980px;

/* general colors */
@color1: #f0f0f0;
@color2: #dddddd;

/* #main */
@content-backgroundcolor: #ffffff;
@content-bordercolor: #d9d9d9;

/* #topnav */
@topnav-fontcolor: #990085;

/* #banner */
@banner-fontcolor: #990085;
@banner-input: #ffffff;

/* .logo */
@logo-fontsize: 200%;
@logo-fontcolor: #990085;
@logo-image: none;

/* #mainnav */
@mainnav-backgroundcolor: #990085;
@mainnav-radius: 3px;
@mainnav-linkcolor: #ffffff;
@mainnavdropdown-backgroundcolor: #990085;
@mainnavdropdown-linkcolor: #ffffff;

/* .block */
@block-fontcolor: #bc94b7;

/* footer */
@footer-fontcolor: #888888;

/* .button */
@button-gradient-top: #ff24e2;
@button-gradient-bottom: #990085;
@button-fontcolor: #ffffff;

/* .basket */
@basket-bordercolor: #dddddd;

/* .poll */
@poll-bgcolor: #999999;
