/* global */
@bgcolor: #f7f7f7;
@image: none;
@fontcolor: #444444;
@linkcolor: #444444;
@linkhovercolor: #444444;
@width: 98%;

/* general colors */
@color1: #f0f0f0;
@color2: #dddddd;

/* #main */
@content-backgroundcolor: #ffffff;
@content-bordercolor: #dbdbdb;

/* #topnav */
@topnav-fontcolor: #777777;

/* #banner */
@banner-fontcolor: #777777;
@banner-input: #ffffff;

/* .logo */
@logo-fontsize: 200%;
@logo-fontcolor: #444444;
@logo-image: none;

/* #mainnav */
@mainnav-backgroundcolor: #222222;
@mainnav-radius: 3px;
@mainnav-linkcolor: #ffffff;
@mainnavdropdown-backgroundcolor: #222222;
@mainnavdropdown-linkcolor: #ffffff;

/* .block */
@block-fontcolor: #444444;

/* footer */
@footer-fontcolor: #888888;

/* .button */
@button-gradient-top: #888888;
@button-gradient-bottom: #222222;
@button-fontcolor: #ffffff;

/* .basket */
@basket-bordercolor: #dddddd;

/* .poll */
@poll-bgcolor: #999999;
