/* global */
@pagecolor: #f6f6f6;
@bgcolor: #ffffff;
@fontcolor: #555555;
@linkcolor: #1b60b5;
@linkhovercolor: #1b60b5;
@width: 980px;

/* general colors */
@color1: #e8f5f7;
@color2: #cce1eb;

/* #topnav */
@topnav-backgroundcolor: #ffffff;
@topnav-bordercolor: #dff3f6;

/* #banner */
@banner-gradient-top: #f3fbfc;
@banner-gradient-bottom: #ffffff;
@banner-fontcolor: #777777;
@banner-image: none;
@banner-input: #ffffff;

/* .logo */
@logo-fontsize: 200%;
@logo-fontcolor: #777777;
@logo-image: none;

/* #mainnav */
@mainnav-gradient-top: #d7f4fa;
@mainnav-gradient-bottom: #9cdeed;
@mainnav-bordercolor: #a8d9e1;
@mainnav-radius: 4px;
@mainnav-linkcolor: #444444;
@mainnav-fontcolor: #888888;

@mainnavinactive-gradient-top: #ffffff;
@mainnavinactive-gradient-bottom: #f9ebdd;
@mainnavinactive-bordercolor: #e6d2bc;
@mainnavinactive-linkcolor: #777777;

@mainnavdropdown-bordercolor: #98ccd4;
@mainnavdropdown-gradient-top: #ffffff;
@mainnavdropdown-gradient-bottom: #d7f4fa;
@mainnavdropdown-linkcolor: #666666;

/* .block */
@block-gradient-top: #fefaf6;
@block-gradient-bottom: #f6e8da;
@block-bordercolor: #e6d2bc;
@block-radius: 6px;
@block-fontcolor: #777777;
@blockcontent-bordercolor: #e6d2bc;
@blockcontent-backgroundcolor: #ffffff;
@blockcontent-radius: 6px;

/* footer */
@footer-backgroundcolor: #eef9fc;
@footer-bordercolor: #d6eff5;
@footer-fontcolor: #888888;

/* .button */
@button-gradient-top: #ff9343;
@button-gradient-bottom: #fe4b16;
@button-bordercolor: #fc6031;
@button-fontcolor: #ffffff;
@button-radius: 4px;

/* .basket */
@basket-gradient-top: #f2f2f2;
@basket-gradient-bottom: #e0e0e0;
@basket-bgcolor: #ffffff;
@basket-bordercolor: #d4d4d4;

/* .poll */
@poll-bgcolor: #999999;
