/* global */
@pagecolor: #f6f6f6;
@bgcolor: #ffffff;
@fontcolor: #555555;
@linkcolor: #0088cc;
@linkhovercolor: #0088cc;
@width: 980px;

/* general colors */
@color1: #ebf1f4;
@color2: #cddde5;

/* #topnav */
@topnav-backgroundcolor: #ffffff;
@topnav-bordercolor: #d6d6d6;

/* #banner */
@banner-gradient-top: #ffffff;
@banner-gradient-bottom: #ffffff;
@banner-fontcolor: #777777;
@banner-image: none;
@banner-input: #ffffff;

/* .logo */
@logo-fontsize: 200%;
@logo-fontcolor: #777777;
@logo-image: none;

/* #mainnav */
@mainnav-gradient-top: #ebf1f4;
@mainnav-gradient-bottom: #cddde5;
@mainnav-bordercolor: #cddde5;
@mainnav-radius: 4px;
@mainnav-linkcolor: #444444;
@mainnav-fontcolor: #888888;

@mainnavinactive-gradient-top: #ffffff;
@mainnavinactive-gradient-bottom: #e9eef2;
@mainnavinactive-bordercolor: #dee8ed;
@mainnavinactive-linkcolor: #888888;

@mainnavdropdown-bordercolor: #cddde5;
@mainnavdropdown-gradient-top: #ffffff;
@mainnavdropdown-gradient-bottom: #ebf1f4;
@mainnavdropdown-linkcolor: #666666;

/* .block */
@block-gradient-top: #f6f6f6;
@block-gradient-bottom: #dedede;
@block-bordercolor: #d6d6d6;
@block-radius: 6px;
@block-fontcolor: #777777;
@blockcontent-bordercolor: #d6d6d6;
@blockcontent-backgroundcolor: #f5f5f5;
@blockcontent-radius: 6px;

/* footer */
@footer-backgroundcolor: #f0f0f0;
@footer-bordercolor: #d6d6d6;
@footer-fontcolor: #888888;

/* .button */
@button-gradient-top: #52a8e8;
@button-gradient-bottom: #377ad0;
@button-bordercolor: #4081af;
@button-fontcolor: #ffffff;
@button-radius: 4px;

/* .basket */
@basket-gradient-top: #ebf1f4;
@basket-gradient-bottom: #cddde5;
@basket-bgcolor: #ffffff;
@basket-bordercolor: #cddde5;

/* .poll */
@poll-bgcolor: #999999;
