/* global */
@pagecolor: #eff7fb;
@bgcolor: #ffffff;
@fontcolor: #333333;
@linkcolor: #BA2F1D;
@linkhovercolor: #BA2F1D;
@width: 980px;

/* general colors */
@color1: #ededed;
@color2: #e0e0e0;

/* #topnav */
@topnav-backgroundcolor: #ffffff;
@topnav-bordercolor: #e3e3c6;

/* #banner */
@banner-gradient-top: #f7f7e3;
@banner-gradient-bottom: #ffffff;
@banner-fontcolor: #777777;
@banner-image: none;
@banner-input: #ffffff;

/* .logo */
@logo-fontsize: 200%;
@logo-fontcolor: #777777;
@logo-image: none;

/* #mainnav */
@mainnav-gradient-top: #dd3c27;
@mainnav-gradient-bottom: #BA2F1D;
@mainnav-bordercolor: #BA2F1D;
@mainnav-radius: 2px;
@mainnav-linkcolor: #ffffff;
@mainnav-fontcolor: #f5c6c6;

@mainnavinactive-gradient-top: #ffffff;
@mainnavinactive-gradient-bottom: #f7f7e3;
@mainnavinactive-bordercolor: #e3e3c6;
@mainnavinactive-linkcolor: #777777;

@mainnavdropdown-bordercolor: #dddddd;
@mainnavdropdown-gradient-top: #ffffff;
@mainnavdropdown-gradient-bottom: #eeeeee;
@mainnavdropdown-linkcolor: #666666;

/* .block */
@block-gradient-top: #ffffff;
@block-gradient-bottom: #f7f7e3;
@block-bordercolor: #e3e3c6;
@block-radius: 2px;
@block-fontcolor: #BA2F1D;
@blockcontent-bordercolor: #e3e3c6;
@blockcontent-backgroundcolor: #ffffff;
@blockcontent-radius: 6px;

/* footer */
@footer-backgroundcolor: #f9e8e6;
@footer-bordercolor: #BA2F1D;
@footer-fontcolor: #BA2F1D;

/* .button */
@button-gradient-top: #fd503a;
@button-gradient-bottom: #BA2F1D;
@button-bordercolor: #BA2F1D;
@button-fontcolor: #ffffff;
@button-radius: 2px;

/* .basket */
@basket-gradient-top: #ebebeb;
@basket-gradient-bottom: #d4d4d4;
@basket-bgcolor: #ffffff;
@basket-bordercolor: #d4d4d4;

/* .poll */
@poll-bgcolor: #999999;
