/* global */
@pagecolor: #d1d1d1;
@bgcolor: #ffffff;
@fontcolor: #555555;
@linkcolor: #f83900;
@linkhovercolor: #f83900;
@width: 980px;

/* general colors */
@color1: #f4f4f4;
@color2: #dddddd;

/* #topnav */
@topnav-backgroundcolor: #ffffff;
@topnav-bordercolor: #dddddd;

/* #banner */
@banner-gradient-top: #f5f5f5;
@banner-gradient-bottom: #ffffff;
@banner-fontcolor: #777777;
@banner-image: none;
@banner-input: #ffffff;

/* .logo */
@logo-fontsize: 200%;
@logo-fontcolor: #777777;
@logo-image: none;

/* #mainnav */
@mainnav-gradient-top: #5e5e5e;
@mainnav-gradient-bottom: #363636;
@mainnav-bordercolor: #383838;
@mainnav-radius: 4px;
@mainnav-linkcolor: #ffffff;
@mainnav-fontcolor: #c2c2c2;

@mainnavinactive-gradient-top: #ffe1cc;
@mainnavinactive-gradient-bottom: #ffaa6b;
@mainnavinactive-bordercolor: #ffaa6b;
@mainnavinactive-linkcolor: #595959;

@mainnavdropdown-bordercolor: #919191;
@mainnavdropdown-gradient-top: #ffffff;
@mainnavdropdown-gradient-bottom: #d9d9d9;
@mainnavdropdown-linkcolor: #444444;

/* .block */
@block-gradient-top: #363636;
@block-gradient-bottom: #5e5e5e;
@block-bordercolor: #363636;
@block-radius: 6px;
@block-fontcolor: #cfcfcf;
@blockcontent-bordercolor: #363636;
@blockcontent-backgroundcolor: #eeeeee;
@blockcontent-radius: 6px;

/* footer */
@footer-backgroundcolor: #f0f0f0;
@footer-bordercolor: #d6d6d6;
@footer-fontcolor: #888888;

/* .button */
@button-gradient-top: #ff9343;
@button-gradient-bottom: #f83900;
@button-bordercolor: #f83900;
@button-fontcolor: #ffffff;
@button-radius: 4px;

/* .basket */
@basket-gradient-top: #f4f4f4;
@basket-gradient-bottom: #dddddd;
@basket-bgcolor: #ffffff;
@basket-bordercolor: #c2c2c2;

/* .poll */
@poll-bgcolor: #999999;
