/* global */
@pagecolor: #000000;
@bgcolor: #000000;
@fontcolor: #e3e3e3;
@linkcolor: #d1d1d1;
@linkhovercolor: #ffffff;
@width: 980px;

/* general colors */
@color1: #000000;
@color2: #292929;

/* #topnav */
@topnav-backgroundcolor: #000000;
@topnav-bordercolor: #404040;

/* #banner */
@banner-gradient-top: #141414;
@banner-gradient-bottom: #000000;
@banner-fontcolor: #777777;
@banner-image: none;
@banner-input: #8f8f8f;

/* .logo */
@logo-fontsize: 200%;
@logo-fontcolor: #777777;
@logo-image: none;

/* #mainnav */
@mainnav-gradient-top: #2e2e2e;
@mainnav-gradient-bottom: #191919;
@mainnav-bordercolor: #383838;
@mainnav-radius: 4px;
@mainnav-linkcolor: #ffffff;
@mainnav-fontcolor: #888888;

@mainnavinactive-gradient-top: #141414;
@mainnavinactive-gradient-bottom: #212121;
@mainnavinactive-bordercolor: #212121;
@mainnavinactive-linkcolor: #9c9c9c;

@mainnavdropdown-bordercolor: #303030;
@mainnavdropdown-gradient-top: #545454;
@mainnavdropdown-gradient-bottom: #303030;
@mainnavdropdown-linkcolor: #d9d9d9;

/* .block */
@block-gradient-top: #191919;
@block-gradient-bottom: #2e2e2e;
@block-bordercolor: #383838;
@block-radius: 6px;
@block-fontcolor: #949494;
@blockcontent-bordercolor: #383838;
@blockcontent-backgroundcolor: #000000;
@blockcontent-radius: 6px;

/* footer */
@footer-backgroundcolor: #000000;
@footer-bordercolor: #2b2b2b;
@footer-fontcolor: #888888;

/* .button */
@button-gradient-top: #ffdb5d;
@button-gradient-bottom: #e88800;
@button-bordercolor: #e88800;
@button-fontcolor: #000000;
@button-radius: 4px;

/* .basket */
@basket-gradient-top: #383838;
@basket-gradient-bottom: #545454;
@basket-bgcolor: #000000;
@basket-bordercolor: #383838;

/* .poll */
@poll-bgcolor: #999999;
