.webmex-carousel { 
	position: relative;
	margin-bottom: 30px;
	overflow: hidden;
	padding-bottom: 20px;
}

.reset {
	clear: both;
}

.webmex-carousel ul {
	margin: 0;
	padding: 0;
}

.webmex-carousel .webmex-carousel-item { 
	margin:0;
	overflow: hidden; 
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
}

.webmex-carousel .webmex-carousel-item.webmex-carousel-image a {
	display: block;
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
}

.webmex-carousel .webmex-carousel-item.webmex-carousel-image a .desc-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px 10px 25px 10px;
}

.webmex-carousel .webmex-carousel-item.webmex-carousel-image a .desc-wrap .bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	opacity: 0.6;
	z-index: 100;
}

.webmex-carousel .webmex-carousel-item.webmex-carousel-image a .desc-wrap .title {
	font-size: 16px;
	display: block;
	color: #000;
	padding: 0 0 2px 0;
	position: relative;
	z-index: 500;
}

.webmex-carousel .webmex-carousel-item.webmex-carousel-image a .desc-wrap .description {
	font-size: 12px;
	display: block;
	color: #000;
	position: relative;
	z-index: 500;
	padding-bottom: 4px;
}

.webmex-carousel .webmex-carousel-cols {
	float: left;
	width: 100%;
	padding: 0 0 25px 0;
}

.webmex-carousel .webmex-carousel-cols .webmex-carousel-cols-left {
	float: left;
	width: 60%;
}

.webmex-carousel .webmex-carousel-cols .webmex-carousel-cols-left .webmex-carousel-padd {
	padding: 0 10px 0 0;
}

.webmex-carousel .webmex-carousel-cols .webmex-carousel-cols-left .webmex-carousel-padd .webmex-carousel-price {
	font-size: 20px;
	display: block;
	padding: 3px 0 15px 0;
}

.webmex-carousel .webmex-carousel-cols .webmex-carousel-cols-right {
	float: left;
	width: 40%;
}

.webmex-carousel .webmex-carousel-cols .webmex-carousel-cols-right img {
	max-width: 100%;
}

.webmex-carousel .rs-carousel-pagination {
	position: absolute;
	bottom: 0;
	left: 10px;
	margin: 0;
	padding: 0;
	line-height: 0;
	font-size: 0;
}

.webmex-carousel .rs-carousel-pagination li {
	margin: 0;
	padding: 0;
	display: inline-block;
	list-style: none;
	margin-right: 3px;
	line-height: 0;
}

.webmex-carousel .rs-carousel-pagination li a {
	display: block;
	width: 10px;
	height: 10px;
	background: #353535;
	opacity: 0.5;
	overflow: hidden;
	text-indent: 10000px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}

.webmex-carousel .rs-carousel-pagination .rs-carousel-pagination-link-active a {
	opacity: 0.9;
	background: #0093c9;
}

.webmex-carousel .rs-carousel-action {
	display: block;
	width: 26px;
	height: 26px;
	background: url({@base}etc/modules/webmex_carousel/template/default/resources/images/arrows.png);
	overflow: hidden;
	text-indent: 10000px;
	position: absolute;
	top: 48%;
}

.webmex-carousel .rs-carousel-action.rs-carousel-action-next {
	background-position: left;
	left: -26px;
}

.webmex-carousel .rs-carousel-action.rs-carousel-action-prev {
	background-position: right;
	right: -26px;
}